Repository motech-development/platform, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, applications, accounts, core, cypress, id, packages, api-gateway-handler, appsync-apollo, auth, axios-hooks, breeze-ui, ga-web-vitals, node-logger, query-string-hooks, s3-file-operations, serverless-outputs-env, webpack-conditional-plugin, webpack-permissions-plugin

.github/labeler.yml:

repo:
  - changed-files:
      - any-glob-to-any-file: '*'

applications:
  - changed-files:
      - any-glob-to-any-file: applications/**

accounts:
  - changed-files:
      - any-glob-to-any-file: applications/accounts/**

core:
  - changed-files:
      - any-glob-to-any-file: applications/core/**

cypress:
  - changed-files:
      - any-glob-to-any-file: applications/cypress/**

id:
  - changed-files:
      - any-glob-to-any-file: applications/id/**

packages:
  - changed-files:
      - any-glob-to-any-file: packages/**

api-gateway-handler:
  - changed-files:
      - any-glob-to-any-file: packages/api-gateway-handler/**

appsync-apollo:
  - changed-files:
      - any-glob-to-any-file: packages/appsync-apollo/**

auth:
  - changed-files:
      - any-glob-to-any-file: packages/auth/**

axios-hooks:
  - changed-files:
      - any-glob-to-any-file: packages/axios-hooks/**

breeze-ui:
  - changed-files:
      - any-glob-to-any-file: packages/breeze-ui/**

ga-web-vitals:
  - changed-files:
      - any-glob-to-any-file: packages/ga-web-vitals/**

node-logger:
  - changed-files:
      - any-glob-to-any-file: packages/node-logger/**

query-string-hooks:
  - changed-files:
      - any-glob-to-any-file: packages/query-string-hooks/**

s3-file-operations:
  - changed-files:
      - any-glob-to-any-file: packages/s3-file-operations/**

serverless-outputs-env:
  - changed-files:
      - any-glob-to-any-file: packages/serverless-outputs-env/**

webpack-conditional-plugin:
  - changed-files:
      - any-glob-to-any-file: packages/webpack-conditional-plugin/**

webpack-permissions-plugin:
  - changed-files:
      - any-glob-to-any-file: packages/webpack-permissions-plugin/**

deploy: 0e618969bd901265627c131258e9b7423274a4e8
  assets/Alert.stories-472aead1.js
  assets/Alert.stories-7c228529.js
  assets/AppBar.stories-1ae9226b.js
  assets/BaseButton-9ff2d943.js
  assets/Button-b57501e3.js
  assets/Button-f89b0bab.js
  assets/Button.stories-4e5214f7.js
  assets/Button.stories-c97dae27.js
  assets/Calendar-260d2207.js
  assets/Calendar-fac83264.js
  assets/Calendar.stories-17b84ffd.js
  assets/Calendar.stories-9fd38d68.js
  assets/Form.stories-e82349b8.js
  assets/LinkButton.stories-069bc1ff.js
  assets/LinkButton.stories-5fca1e5a.js
  assets/Modal.stories-3c5253b7.js
  assets/Stepper.stories-578fd743.js
  assets/Stepper.stories-b9060124.js
  assets/Tooltip-9ebde6b7.js
  assets/Tooltip.stories-85cf2063.js
  assets/Tooltip.stories-d6d51790.js
  assets/entry-preview-bf41f552.js
  assets/iframe-867cc9bd.js
  assets/iframe-f3c9a592.js
  assets/preview-5693da11.js
  assets/preview-93f6d055.js
  iframe.html
  project.json
Labels: repo

ci: force redeploy
  .github/workflows/deploy-to-production.yml
Labels: none

deploy: d1bce113447ba79f2fc39d2dd69f9cef3473bddc
  project.json
Labels: repo

Notes added by 'git notes add'
  8c/66c4e258eb94d65157e39e3bdc35d2ca836fd8
Labels: none

ci: force deploy to develop
  .github/workflows/deploy-to-develop.yml
Labels: none

feat: update stream config
  applications/accounts/api/serverless.yml
  applications/accounts/data/serverless.yml
Labels: applications, accounts

Notes added by 'git notes add'
  03/0a1b67def1fc72113b75bfccf02072d238f5c8
Labels: none

deploy: 030a1b67def1fc72113b75bfccf02072d238f5c8
  project.json
Labels: repo

feat: set queue batch size
  applications/accounts/data/serverless.yml
  applications/accounts/queue/serverless.yml
  applications/accounts/storage/serverless.yml
  applications/core/anti-virus/serverless.yml
Labels: applications, accounts, core

Notes added by 'git notes add'
  b3/8ce3ca8b160a209b2d49f193ee216fed2c33c2
Labels: none

deploy: b38ce3ca8b160a209b2d49f193ee216fed2c33c2
  assets/Alert.stories-472aead1.js
  assets/Alert.stories-7c228529.js
  assets/AppBar.stories-08043667.js
  assets/BaseButton-8dfa71af.js
  assets/Button-b57501e3.js
  assets/Button-f89b0bab.js
  assets/Button.stories-4e5214f7.js
  assets/Button.stories-c97dae27.js
  assets/Calendar-260d2207.js
  assets/Calendar-fac83264.js
  assets/Calendar.stories-17b84ffd.js
  assets/Calendar.stories-9fd38d68.js
  assets/Form.stories-cb08d115.js
  assets/LinkButton.stories-069bc1ff.js
  assets/LinkButton.stories-5fca1e5a.js
  assets/Modal.stories-77710ae9.js
  assets/Stepper.stories-578fd743.js
  assets/Stepper.stories-b9060124.js
  assets/Tooltip-a8937374.js
  assets/Tooltip.stories-85cf2063.js
  assets/Tooltip.stories-d6d51790.js
  assets/entry-preview-5edcd2f2.js
  assets/iframe-867cc9bd.js
  assets/iframe-f3c9a592.js
  assets/preview-5693da11.js
  assets/preview-93f6d055.js
  iframe.html
  project.json
Labels: repo

fix: bump batch size
  applications/accounts/data/serverless.yml
  applications/accounts/queue/serverless.yml
  applications/accounts/storage/serverless.yml
  applications/core/anti-virus/serverless.yml
Labels: applications, accounts, core

Notes added by 'git notes add'
  ed/06f40e13d127fe189d8d7978807b3f1539f3b0
Labels: none

deploy: ed06f40e13d127fe189d8d7978807b3f1539f3b0
  assets/Alert.stories-472aead1.js
  assets/Alert.stories-7c228529.js
  assets/AppBar.stories-1ae9226b.js
  assets/BaseButton-9ff2d943.js
  assets/Button-b57501e3.js
  assets/Button-f89b0bab.js
  assets/Button.stories-4e5214f7.js
  assets/Button.stories-c97dae27.js
  assets/Calendar-260d2207.js
  assets/Calendar-fac83264.js
  assets/Calendar.stories-17b84ffd.js
  assets/Calendar.stories-9fd38d68.js
  assets/Form.stories-e82349b8.js
  assets/LinkButton.stories-069bc1ff.js
  assets/LinkButton.stories-5fca1e5a.js
  assets/Modal.stories-3c5253b7.js
  assets/Stepper.stories-578fd743.js
  assets/Stepper.stories-b9060124.js
  assets/Tooltip-9ebde6b7.js
  assets/Tooltip.stories-85cf2063.js
  assets/Tooltip.stories-d6d51790.js
  assets/entry-preview-bf41f552.js
  assets/iframe-867cc9bd.js
  assets/iframe-f3c9a592.js
  assets/preview-5693da11.js
  assets/preview-93f6d055.js
  iframe.html
  project.json
Labels: repo

fix: remove sqs triggers
  applications/accounts/data/serverless.yml
  applications/accounts/queue/serverless.yml
  applications/accounts/storage/serverless.yml
  applications/core/anti-virus/serverless.yml
Labels: applications, accounts, core

Notes added by 'git notes add'
  0f/60dc95359fa9f185bbae5aff2b907893745c41
Labels: none

fix: reinstate sqs triggers
  applications/accounts/data/serverless.yml
  applications/accounts/queue/serverless.yml
  applications/accounts/storage/serverless.yml
  applications/core/anti-virus/serverless.yml
Labels: applications, accounts, core

Notes added by 'git notes add'
  93/fe9943da90df1d9e9c782c8b3d4c0c7888b536
Labels: none

deploy: 93fe9943da90df1d9e9c782c8b3d4c0c7888b536
  assets/Form.stories-fa4c9dfc.js
  assets/entry-preview-bd5dfaea.js
  assets/iframe-10af6bcc.js
  assets/iframe-53564829.js
  assets/preview-0aa3b294.js
  assets/preview-cde9d780.js
  iframe.html
  project.json
Labels: repo

fix: revert stream changes
  .github/workflows/deploy-to-develop.yml
  .github/workflows/deploy-to-production.yml
  applications/accounts/api/serverless.yml
  applications/accounts/data/serverless.yml
Labels: applications, accounts

Notes added by 'git notes add'
  40/effdf385917bdbfd9f6eb169d8e9db5521cbe2
Labels: none

ci: fix stage
  .github/workflows/deploy-to-production.yml
Labels: none

chore: delete ddb stream refs
  applications/accounts/api/serverless.yml
  applications/accounts/data/serverless.yml
Labels: applications, accounts

deploy: d8289389f47ec50da3b40b4e36a65d62f29784b5
  assets/Alert.stories-472aead1.js
  assets/Alert.stories-7c228529.js
  assets/AppBar.stories-08043667.js
  assets/BaseButton-8dfa71af.js
  assets/Button-b57501e3.js
  assets/Button-f89b0bab.js
  assets/Button.stories-4e5214f7.js
  assets/Button.stories-c97dae27.js
  assets/Calendar-260d2207.js
  assets/Calendar-fac83264.js
  assets/Calendar.stories-17b84ffd.js
  assets/Calendar.stories-9fd38d68.js
  assets/Form.stories-cb08d115.js
  assets/LinkButton.stories-069bc1ff.js
  assets/LinkButton.stories-5fca1e5a.js
  assets/Modal.stories-77710ae9.js
  assets/Stepper.stories-578fd743.js
  assets/Stepper.stories-b9060124.js
  assets/Tooltip-a8937374.js
  assets/Tooltip.stories-85cf2063.js
  assets/Tooltip.stories-d6d51790.js
  assets/entry-preview-5edcd2f2.js
  assets/iframe-867cc9bd.js
  assets/iframe-f3c9a592.js
  assets/preview-5693da11.js
  assets/preview-93f6d055.js
  iframe.html
  project.json
Labels: repo

revert: delete ddb stream refs
  applications/accounts/api/serverless.yml
  applications/accounts/data/serverless.yml
Labels: applications, accounts

feat: data restore stack
  .vscode/settings.json
  applications/accounts/client/.env.production
  applications/accounts/data-restore/.eslintrc.json
  applications/accounts/data-restore/.gitignore
  applications/accounts/data-restore/.npmignore
  applications/accounts/data-restore/.prettierrc.json
  applications/accounts/data-restore/.releaserc.json
  applications/accounts/data-restore/README.md
  applications/accounts/data-restore/bin/infrastructure.ts
  applications/accounts/data-restore/cdk.json
  applications/accounts/data-restore/lib/__tests__/__snapshots__/data-restore-stack.test.ts.snap
  applications/accounts/data-restore/lib/__tests__/data-restore-stack.test.ts
  applications/accounts/data-restore/lib/data-restore-stack.ts
  applications/accounts/data-restore/package.json
  applications/accounts/data-restore/src/__tests__/data-restore.test.ts
  applications/accounts/data-restore/src/data-restore.ts
  applications/accounts/data-restore/src/setupTests.ts
  applications/accounts/data-restore/tsconfig.eslint.json
  applications/accounts/data-restore/tsconfig.json
  package.json
  sonar-project.properties
  yarn.lock
Labels: repo, applications, accounts

fix: various issues on review
  applications/accounts/client/.env.production
  applications/accounts/data-restore/lib/__tests__/__snapshots__/data-restore-stack.test.ts.snap
  applications/accounts/data-restore/lib/__tests__/data-restore-stack.test.ts
  applications/accounts/data-restore/src/__tests__/data-restore.test.ts
  yarn.lock
Labels: repo, applications, accounts

fix: sonarqube issues
  applications/accounts/data-restore/src/__tests__/data-restore.test.ts
  applications/accounts/data-restore/src/data-restore.ts
Labels: applications, accounts

test: update snapshot
  applications/accounts/data-restore/lib/__tests__/__snapshots__/data-restore-stack.test.ts.snap
Labels: applications, accounts

fix: various issues on review
  applications/accounts/client/.env.production
  applications/accounts/data-restore/lib/__tests__/__snapshots__/data-restore-stack.test.ts.snap
  applications/accounts/data-restore/lib/__tests__/data-restore-stack.test.ts
  applications/accounts/data-restore/src/__tests__/data-restore.test.ts
  yarn.lock
Labels: repo, applications, accounts

fix: sonarqube issues
  applications/accounts/data-restore/src/__tests__/data-restore.test.ts
  applications/accounts/data-restore/src/data-restore.ts
Labels: applications, accounts

test: update snapshot
  applications/accounts/data-restore/lib/__tests__/__snapshots__/data-restore-stack.test.ts.snap
Labels: applications, accounts

feat: data restore stack
  .vscode/settings.json
  applications/accounts/client/.env.production
  applications/accounts/data-restore/.eslintrc.json
  applications/accounts/data-restore/.gitignore
  applications/accounts/data-restore/.npmignore
  applications/accounts/data-restore/.prettierrc.json
  applications/accounts/data-restore/.releaserc.json
  applications/accounts/data-restore/README.md
  applications/accounts/data-restore/bin/infrastructure.ts
  applications/accounts/data-restore/cdk.json
  applications/accounts/data-restore/lib/__tests__/__snapshots__/data-restore-stack.test.ts.snap
  applications/accounts/data-restore/lib/__tests__/data-restore-stack.test.ts
  applications/accounts/data-restore/lib/data-restore-stack.ts
  applications/accounts/data-restore/package.json
  applications/accounts/data-restore/src/__tests__/data-restore.test.ts
  applications/accounts/data-restore/src/data-restore.ts
  applications/accounts/data-restore/src/setupTests.ts
  applications/accounts/data-restore/tsconfig.eslint.json
  applications/accounts/data-restore/tsconfig.json
  package.json
  sonar-project.properties
  yarn.lock
Labels: repo, applications, accounts

Notes added by 'git notes add'
  9f/f578d668231831b231bd9dc0ae94a3663c0493
Labels: none

feat: mts support
  packages/eslint-config-motech-base/index.js
  packages/eslint-config-motech-react/index.js
Labels: packages

feat: add pdf viewer
  applications/accounts/client/package.json
  applications/accounts/client/src/components/DocumentViewer.tsx
  applications/accounts/client/src/locales/en/accounts.json
  applications/accounts/client/src/locales/en/document-viewer.json
  applications/accounts/client/src/pages/MyCompanies/Accounts/__tests__/RecordTransaction.tsx
  applications/accounts/client/src/pages/MyCompanies/Accounts/__tests__/ViewTransaction.tsx
  applications/accounts/client/src/pages/MyCompanies/Accounts/shared/ViewAttachment.tsx
  applications/accounts/client/src/setupTests.ts
  applications/accounts/client/src/utils/TestProvider.tsx
  applications/accounts/client/tsconfig.eslint.json
  applications/accounts/client/tsconfig.node.json
  applications/accounts/client/vite.config.mts
  yarn.lock
Labels: repo, applications, accounts

fix: ordering and grouping
  applications/accounts/client/src/components/TransactionsList.tsx
Labels: applications, accounts

feat: update accounts screen
  applications/accounts/client/src/components/TransactionsList.tsx
  applications/accounts/client/src/components/__tests__/TransactionList.tsx
  applications/accounts/client/src/graphql/gql.ts
  applications/accounts/client/src/graphql/graphql.ts
  applications/accounts/client/src/pages/MyCompanies/Accounts/Accounts.tsx
  applications/accounts/client/src/pages/MyCompanies/Accounts/__tests__/Accounts.tsx
Labels: applications, accounts

feat: large modal
  packages/breeze-ui/src/Modal/Modal.stories.tsx
  packages/breeze-ui/src/Modal/Modal.tsx
  packages/breeze-ui/src/Modal/__tests__/Modal.tsx
Labels: packages, breeze-ui

test: fix e2e test
  applications/accounts/client/cypress/e2e/vat-registered.cy.ts
  applications/accounts/client/package.json
  applications/accounts/client/src/index.tsx
  yarn.lock
Labels: repo, applications, accounts
