Repository motech-development/platform, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, applications, accounts, core, cypress, id, packages, api-gateway-handler, appsync-apollo, auth, axios-hooks, breeze-ui, ga-web-vitals, node-logger, query-string-hooks, s3-file-operations, serverless-outputs-env, webpack-conditional-plugin, webpack-permissions-plugin

.github/labeler.yml:

repo:
  - changed-files:
      - any-glob-to-any-file: '*'

applications:
  - changed-files:
      - any-glob-to-any-file: applications/**

accounts:
  - changed-files:
      - any-glob-to-any-file: applications/accounts/**

core:
  - changed-files:
      - any-glob-to-any-file: applications/core/**

cypress:
  - changed-files:
      - any-glob-to-any-file: applications/cypress/**

id:
  - changed-files:
      - any-glob-to-any-file: applications/id/**

packages:
  - changed-files:
      - any-glob-to-any-file: packages/**

api-gateway-handler:
  - changed-files:
      - any-glob-to-any-file: packages/api-gateway-handler/**

appsync-apollo:
  - changed-files:
      - any-glob-to-any-file: packages/appsync-apollo/**

auth:
  - changed-files:
      - any-glob-to-any-file: packages/auth/**

axios-hooks:
  - changed-files:
      - any-glob-to-any-file: packages/axios-hooks/**

breeze-ui:
  - changed-files:
      - any-glob-to-any-file: packages/breeze-ui/**

ga-web-vitals:
  - changed-files:
      - any-glob-to-any-file: packages/ga-web-vitals/**

node-logger:
  - changed-files:
      - any-glob-to-any-file: packages/node-logger/**

query-string-hooks:
  - changed-files:
      - any-glob-to-any-file: packages/query-string-hooks/**

s3-file-operations:
  - changed-files:
      - any-glob-to-any-file: packages/s3-file-operations/**

serverless-outputs-env:
  - changed-files:
      - any-glob-to-any-file: packages/serverless-outputs-env/**

webpack-conditional-plugin:
  - changed-files:
      - any-glob-to-any-file: packages/webpack-conditional-plugin/**

webpack-permissions-plugin:
  - changed-files:
      - any-glob-to-any-file: packages/webpack-permissions-plugin/**

Notes added by 'git notes add'
  f2/79eb7c5e39d329835ed3904e2156472f90b16a
Labels: none

ci: udpate devcontainer config
  .devcontainer/devcontainer.json
Labels: none

Notes added by 'git notes add'
  0b/c2e1adaffb83fbc41171c0218285de0f691379
Labels: none

ci: update teardown
  .github/workflows/deploy-to-environment.yml
  .github/workflows/teardown-environment.yml
Labels: none

ci: update teardown
  .github/workflows/deploy-to-environment.yml
  .github/workflows/teardown-environment.yml
Labels: none

ci: update scheduled tests
  .github/workflows/production-scheduled-tests.yml
Labels: none

ci: update scheduled tests
  .github/workflows/production-scheduled-tests.yml
Labels: none

Deploy Storybook to GitHub Pages
  134.81acb776538dd7e30056.manager.bundle.js
  326.4178bd0a35582dec6bad.manager.bundle.js
  368.bb84dcce.iframe.bundle.js
  410.b81ba5aba25192430158.manager.bundle.js
  458.7dfc0398.iframe.bundle.js
  599.d93c9681f972ace87dea.manager.bundle.js
  61.f31d5505c8eae4c4519c.manager.bundle.js
  673.cfcfe542.iframe.bundle.js
  725.931d07767a366b374178.manager.bundle.js
  833.eb54a8e8b1fc693ea238.manager.bundle.js
  873.ac6b59d4.iframe.bundle.js
  887.3685de266a3a912dfd69.manager.bundle.js
  favicon.ico
  iframe.html
  index.html
  main.94406901.iframe.bundle.js
  main.a4fafea37d0cd3a0c83e.manager.bundle.js
  project.json
  runtime~main.9682fbc9de71d5157f8d.manager.bundle.js
  runtime~main.bc9d6ba8.iframe.bundle.js
Labels: repo

fix: update lockfile
  yarn.lock
Labels: repo

fix: remove decorator when not needed
  packages/breeze-ui/src/Calendar/Calendar.stories.tsx
  packages/breeze-ui/src/Content/Content.stories.tsx
  packages/breeze-ui/src/DataTable/DataTable.stories.tsx
Labels: packages, breeze-ui

fix(deps): upgrade storybook
  packages/breeze-ui/.storybook/main.ts
  packages/breeze-ui/.storybook/webpack.config.js
  packages/breeze-ui/.swcrc
  packages/breeze-ui/package.json
  packages/breeze-ui/src/Alert/Alert.stories.tsx
  packages/breeze-ui/src/AppBar/AppBar.stories.tsx
  packages/breeze-ui/src/Avatar/Avatar.stories.tsx
  packages/breeze-ui/src/Button/Button.stories.tsx
  packages/breeze-ui/src/ButtonLink/ButtonLink.stories.tsx
  packages/breeze-ui/src/Calendar/Calendar.stories.tsx
  packages/breeze-ui/src/Card/Card.stories.tsx
  packages/breeze-ui/src/Content/Content.stories.tsx
  packages/breeze-ui/src/DataTable/DataTable.stories.tsx
  packages/breeze-ui/src/Form/Form.stories.tsx
  packages/breeze-ui/src/Grid/Grid.stories.tsx
  packages/breeze-ui/src/Link/Link.stories.tsx
  packages/breeze-ui/src/LinkButton/LinkButton.stories.tsx
  packages/breeze-ui/src/Loader/Loader.stories.tsx
  packages/breeze-ui/src/Masonry/Masonry.stories.tsx
  packages/breeze-ui/src/Modal/Modal.stories.tsx
  packages/breeze-ui/src/PageTitle/PageTitle.stories.tsx
  packages/breeze-ui/src/ProgressBar/ProgressBar.stories.tsx
  packages/breeze-ui/src/Stepper/Stepper.stories.tsx
  packages/breeze-ui/src/Table/Table.stories.tsx
  packages/breeze-ui/src/Tooltip/Tooltip.stories.tsx
  packages/breeze-ui/src/Typography/Typography.stories.tsx
  packages/breeze-ui/tsconfig.json
  packages/breeze-ui/vite.config.ts
  yarn.lock
Labels: repo, packages, breeze-ui

test: update type
  packages/webpack-permissions-plugin/src/__tests__/webpack-permissions-plugin.ts
Labels: packages, webpack-permissions-plugin

test: update type
  packages/webpack-permissions-plugin/src/__tests__/webpack-permissions-plugin.ts
Labels: packages, webpack-permissions-plugin

fix(deps): upgrade storybook
  packages/breeze-ui/.storybook/main.ts
  packages/breeze-ui/.storybook/webpack.config.js
  packages/breeze-ui/.swcrc
  packages/breeze-ui/package.json
  packages/breeze-ui/src/Alert/Alert.stories.tsx
  packages/breeze-ui/src/AppBar/AppBar.stories.tsx
  packages/breeze-ui/src/Avatar/Avatar.stories.tsx
  packages/breeze-ui/src/Button/Button.stories.tsx
  packages/breeze-ui/src/ButtonLink/ButtonLink.stories.tsx
  packages/breeze-ui/src/Calendar/Calendar.stories.tsx
  packages/breeze-ui/src/Card/Card.stories.tsx
  packages/breeze-ui/src/Content/Content.stories.tsx
  packages/breeze-ui/src/DataTable/DataTable.stories.tsx
  packages/breeze-ui/src/Form/Form.stories.tsx
  packages/breeze-ui/src/Grid/Grid.stories.tsx
  packages/breeze-ui/src/Link/Link.stories.tsx
  packages/breeze-ui/src/LinkButton/LinkButton.stories.tsx
  packages/breeze-ui/src/Loader/Loader.stories.tsx
  packages/breeze-ui/src/Masonry/Masonry.stories.tsx
  packages/breeze-ui/src/Modal/Modal.stories.tsx
  packages/breeze-ui/src/PageTitle/PageTitle.stories.tsx
  packages/breeze-ui/src/ProgressBar/ProgressBar.stories.tsx
  packages/breeze-ui/src/Stepper/Stepper.stories.tsx
  packages/breeze-ui/src/Table/Table.stories.tsx
  packages/breeze-ui/src/Tooltip/Tooltip.stories.tsx
  packages/breeze-ui/src/Typography/Typography.stories.tsx
  packages/breeze-ui/tsconfig.json
  packages/breeze-ui/vite.config.ts
  yarn.lock
Labels: repo, packages, breeze-ui

fix: remove decorator when not needed
  packages/breeze-ui/src/Calendar/Calendar.stories.tsx
  packages/breeze-ui/src/Content/Content.stories.tsx
  packages/breeze-ui/src/DataTable/DataTable.stories.tsx
Labels: packages, breeze-ui

fix: update lockfile
  yarn.lock
Labels: repo

Notes added by 'git notes add'
  08/132eb71783efdf6e411f2b43e93861f52deab7
Labels: none

ci: test storybook deployment
  .github/workflows/deploy-storybook.yml
  packages/breeze-ui/package.json
  yarn.lock
Labels: repo, packages, breeze-ui

ci: test storybook deployment
  .github/workflows/deploy-storybook.yml
  .github/workflows/deploy-to-production.yml
Labels: none

ci: test storybook deployment
  packages/breeze-ui/.storybook/main.ts
  packages/breeze-ui/package.json
Labels: packages, breeze-ui

chore: remove test workflow
  .github/workflows/deploy-storybook.yml
Labels: none

ci: test storybook deployment
  packages/breeze-ui/.storybook/main.ts
  packages/breeze-ui/package.json
Labels: packages, breeze-ui

chore: remove test workflow
  .github/workflows/deploy-storybook.yml
Labels: none

ci: test storybook deployment
  .github/workflows/deploy-storybook.yml
  .github/workflows/deploy-to-production.yml
Labels: none

ci: test storybook deployment
  .github/workflows/deploy-storybook.yml
  packages/breeze-ui/package.json
  yarn.lock
Labels: repo, packages, breeze-ui

deploy: a26dff4066436d4a8dd3b59a8f1f002f5c97f252
  assets/Alert.stories-b8c22b02.js
  assets/Alert.stories-ffc349cf.js
  assets/AppBar.stories-ad06fe13.js
  assets/BaseButton-8dfa71af.js
  assets/Button-b57501e3.js
  assets/Button-f89b0bab.js
  assets/Button.stories-0b883b26.js
  assets/Button.stories-5ad50746.js
  assets/Calendar-8c7ba927.js
  assets/Calendar-bf467f10.js
  assets/Calendar.stories-613e2d5d.js
  assets/Calendar.stories-66d20f3a.js
  assets/Form.stories-613130a1.js
  assets/LinkButton.stories-b95d6511.js
  assets/LinkButton.stories-d98ed7b2.js
  assets/Modal.stories-388a5a28.js
  assets/Stepper.stories-578fd743.js
  assets/Stepper.stories-b9060124.js
  assets/Tooltip-a8937374.js
  assets/Tooltip.stories-bdc6320d.js
  assets/Tooltip.stories-c9fbd45c.js
  assets/entry-preview-5692e638.js
  assets/entry-preview-ec539cab.js
  assets/iframe-b94a2872.js
  assets/iframe-dd8db5e0.js
  assets/preview-5af337a9.js
  assets/preview-c11ff634.js
  iframe.html
  project.json
Labels: repo

Notes added by 'git notes add'
  35/6da53ecc221a8f2215efb3f676e5d38bfc89eb
Labels: none

Notes added by 'git notes add'
  d1/952ca632b93288a525f97bb632c50c3dee4364
Labels: none

Notes added by 'git notes add'
  29/461afec6d1d6c7387a844b6fd355da69823afb
Labels: none

Notes added by 'git notes add'
  97/71acba5c85fa206059d0bbb281e7f619674221
Labels: none

chore: remove storybook deployer [ci skip]
  packages/breeze-ui/package.json
  yarn.lock
Labels: repo, packages, breeze-ui

feat: add tailwind plugin
  .prettierignore.backup
  packages/prettier-motech-config/package.json
  packages/project-tailwind/src/stories/Select.stories.tsx
Labels: repo, packages

feat: add storybook lint plugin
  packages/eslint-config-motech-react/index.js
  packages/eslint-config-motech-react/package.json
Labels: packages

feat: alert component
  .yarnrc.yml
  packages/project-tailwind/.eslintrc.json
  packages/project-tailwind/.prettierrc.json
  packages/project-tailwind/.releaserc.json
  packages/project-tailwind/.storybook/main.js
  packages/project-tailwind/.storybook/preview.js
  packages/project-tailwind/babel.config.js
  packages/project-tailwind/package.json
  packages/project-tailwind/postcss.config.js
  packages/project-tailwind/rollup.config.js
  packages/project-tailwind/src/components/Alert.tsx
  packages/project-tailwind/src/components/__tests__/Alert.test.tsx
  packages/project-tailwind/src/components/__tests__/__snapshots__/Alert.test.tsx.snap
  packages/project-tailwind/src/index.ts
  packages/project-tailwind/src/setupTests.ts
  packages/project-tailwind/src/stories/Alert.stories.tsx
  packages/project-tailwind/src/styles/tailwind.css
  packages/project-tailwind/src/utilities/__tests__/__snapshots__/tailwind.test.ts.snap
  packages/project-tailwind/src/utilities/__tests__/tailwind.test.ts
  packages/project-tailwind/src/utilities/jest.ts
  packages/project-tailwind/src/utilities/tailwind.ts
  packages/project-tailwind/tailwind.config.js
  packages/project-tailwind/tsconfig.build.json
  packages/project-tailwind/tsconfig.eslint.json
  packages/project-tailwind/tsconfig.json
  yarn.lock
Labels: repo, packages

feat: logo component
  packages/project-tailwind/src/components/Alert.tsx
  packages/project-tailwind/src/components/Logo.tsx
  packages/project-tailwind/src/components/__tests__/Logo.test.tsx
  packages/project-tailwind/src/components/__tests__/__snapshots__/Logo.test.tsx.snap
  packages/project-tailwind/src/index.ts
  packages/project-tailwind/src/stories/Alert.stories.tsx
  packages/project-tailwind/src/stories/Logo.stories.tsx
Labels: packages

feat: allow prop spreading for html elements
  packages/eslint-config-motech-react/index.js
Labels: packages

ci: add todo message to remove flag
  .github/workflows/deploy-to-environment.yml
Labels: none

feat: avatar component
  packages/project-tailwind/src/components/Alert.tsx
  packages/project-tailwind/src/components/Avatar.tsx
  packages/project-tailwind/src/components/Logo.tsx
  packages/project-tailwind/src/components/__tests__/Avatar.test.tsx
  packages/project-tailwind/src/components/__tests__/__snapshots__/Avatar.test.tsx.snap
  packages/project-tailwind/src/components/__tests__/__snapshots__/Logo.test.tsx.snap
  packages/project-tailwind/src/index.ts
  packages/project-tailwind/src/stories/Avatar.stories.tsx
Labels: packages

feat: button component
  .prettierignore
  packages/project-tailwind/package.json
  packages/project-tailwind/src/components/Alert.tsx
  packages/project-tailwind/src/components/Avatar.tsx
  packages/project-tailwind/src/components/Button.tsx
  packages/project-tailwind/src/components/Logo.tsx
  packages/project-tailwind/src/components/__tests__/Button.test.tsx
  packages/project-tailwind/src/components/__tests__/__snapshots__/Button.test.tsx.snap
  packages/project-tailwind/src/index.ts
  packages/project-tailwind/src/stories/Button.stories.tsx
  packages/project-tailwind/src/utilities/tailwind.ts
  yarn.lock
Labels: repo, packages

refactor: update test descriptions to remove duplicate should statements
  packages/auth/src/__tests__/withAuth.tsx
Labels: packages, auth
