Repository motech-development/platform, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, applications, accounts, core, cypress, id, packages, api-gateway-handler, appsync-apollo, auth, axios-hooks, breeze-ui, ga-web-vitals, node-logger, query-string-hooks, s3-file-operations, serverless-outputs-env, webpack-conditional-plugin, webpack-permissions-plugin

fix(deps): update clsx
  packages/project-tailwind/package.json
  yarn.lock
Labels: repo, packages

chore: missing type
  packages/project-tailwind/.storybook/main.ts
Labels: packages

fix: tailwind nesting config
  packages/project-tailwind/package.json
  packages/project-tailwind/postcss.config.js
  yarn.lock
Labels: repo, packages

fix(deps): update storybook
  packages/project-tailwind/.storybook/main.js
  packages/project-tailwind/.storybook/main.ts
  packages/project-tailwind/.storybook/preview.js
  packages/project-tailwind/.storybook/preview.ts
  packages/project-tailwind/.swcrc
  packages/project-tailwind/package.json
  packages/project-tailwind/tailwind.config.js
  packages/project-tailwind/tsconfig.json
  packages/project-tailwind/vite.config.ts
  yarn.lock
Labels: repo, packages

chore: remove storybook deployer
  packages/project-tailwind/.storybook/main.ts
  packages/project-tailwind/package.json
  yarn.lock
Labels: repo, packages

Notes added by 'git notes add'
  7d/2140b9f69c8d1dccfdcdf606a614533b7a880d
Labels: none

Notes added by 'git notes add'
  45/25860afcaf99e752f9ddd2a82bf154b5e5896a
Labels: none

feat(deps): update typescript-eslint
  packages/eslint-config-motech-base/index.js
  packages/eslint-config-motech-base/package.json
  packages/eslint-config-motech-react/index.js
  packages/eslint-config-motech-react/package.json
Labels: packages

chore(deps): update eslint
  applications/accounts/api/package.json
  applications/accounts/client/package.json
  applications/accounts/data/package.json
  applications/accounts/notifications/package.json
  applications/accounts/queue/package.json
  applications/accounts/reports/package.json
  applications/accounts/storage/package.json
  applications/accounts/warm-up/package.json
  applications/core/anti-virus/package.json
  applications/core/comms/package.json
  applications/cypress/api/package.json
  applications/id/client/package.json
  applications/id/tenant/package.json
  packages/api-gateway-handler/package.json
  packages/appsync-apollo/package.json
  packages/auth/package.json
  packages/axios-hooks/package.json
  packages/breeze-ui/package.json
  packages/ga-web-vitals/package.json
  packages/node-logger/package.json
  packages/query-string-hook/package.json
  packages/s3-file-operations/package.json
  packages/serverless-outputs-env/package.json
  packages/webpack-conditional-plugin/package.json
  packages/webpack-permissions-plugin/package.json
  packages/yarn-plugin-dedupe/package.json
  packages/yarn-plugin-prepare/package.json
  yarn.lock
Labels: repo, applications, accounts, core, cypress, id, packages, api-gateway-handler, appsync-apollo, auth, axios-hooks, breeze-ui, ga-web-vitals, node-logger, s3-file-operations, serverless-outputs-env, webpack-conditional-plugin, webpack-permissions-plugin

ci: fix pipeline
  .github/workflows/deploy-to-production.yml
Labels: none

ci: fix pipeline
  .github/workflows/deploy-to-production.yml
Labels: none

chore: update lockfile [ci skip]
  yarn.lock
Labels: repo

Notes added by 'git notes add'
  25/b6e88726b57ff8e54bf33307b591ec2deaff22
Labels: none

Notes added by 'git notes add'
  d6/e462b2bb853513ccd179ec1263ca4ba9cb56f7
Labels: none

Notes added by 'git notes add'
  07/a5dc5bd685aa96d692c64ea598e72bbe517612
Labels: none

Notes added by 'git notes add'
  2b/c8809eb53d9eca573abf17e5b27dfbe3f8a9e3
Labels: none

Notes added by 'git notes add'
  0e/3ebc831046e03dc399279bedc95d9eafc467e4
Labels: none

Notes added by 'git notes add'
  f6/3456164852bcef1a56bb2eb96b48321d94e39f
Labels: none

Notes added by 'git notes add'
  15/e6255fb6e6e9d41982af122d6f0ca393ece8e6
Labels: none

Notes added by 'git notes add'
  35/42e58006a09e3c9e40b9244181d0dda39612b7
Labels: none

Notes added by 'git notes add'
  0e/cedf74caaa98caa48dc19f5d8e9ea5f6f520b5
Labels: none

Notes added by 'git notes add'
  4f/59d3f64332da31b958829ccd232726237f6a0b
Labels: none

Notes added by 'git notes add'
  4a/22be4c5c117697103cea09a1579dfc2568f5d9
Labels: none

Notes added by 'git notes add'
  4e/445251702bb16acb84cb8a82aad74346af78db
Labels: none

Notes added by 'git notes add'
  f3/4cc95efa9395c9585b8cf932c2cb1ad95ee54f
Labels: none

Notes added by 'git notes add'
  63/3d9d3fbf05bacd197358892fa61ea7b8ff02ce
Labels: none

Notes added by 'git notes add'
  3e/65a14a0b819b1274046d7093edbc9f50db5316
Labels: none

Notes added by 'git notes add'
  61/ec361fd7d2ffc3afeab3093178302d1d394aef
Labels: none

Notes added by 'git notes add'
  38/772d57bba2a031c8eedc82ecb1963605d4430b
Labels: none

Notes added by 'git notes add'
  ec/50006125a898f49fc83e54845c59afc5cc44fc
Labels: none

ci: use OIDC
  .github/workflows/deploy-to-environment.yml
Labels: none

ci: update permissions
  .github/workflows/deploy-to-environment.yml
Labels: none

ci: use OIDC
  .github/workflows/production-scheduled-tests.yml
  .github/workflows/teardown-environment.yml
Labels: none

ci: update permissions
  .github/workflows/deploy-to-environment.yml
Labels: none

ci: use OIDC
  .github/workflows/deploy-to-develop.yml
  .github/workflows/deploy-to-production.yml
Labels: none

ci: use OIDC
  .github/workflows/deploy-to-environment.yml
Labels: none

ci: use OIDC
  .github/workflows/deploy-to-develop.yml
  .github/workflows/deploy-to-production.yml
Labels: none

ci: use OIDC
  .github/workflows/production-scheduled-tests.yml
  .github/workflows/teardown-environment.yml
Labels: none

ci: update permissions
  .github/workflows/deploy-to-environment.yml
Labels: none

ci: update permissions
  .github/workflows/deploy-to-environment.yml
Labels: none

.github/labeler.yml:

repo:
  - changed-files:
      - any-glob-to-any-file: '*'

applications:
  - changed-files:
      - any-glob-to-any-file: applications/**

accounts:
  - changed-files:
      - any-glob-to-any-file: applications/accounts/**

core:
  - changed-files:
      - any-glob-to-any-file: applications/core/**

cypress:
  - changed-files:
      - any-glob-to-any-file: applications/cypress/**

id:
  - changed-files:
      - any-glob-to-any-file: applications/id/**

packages:
  - changed-files:
      - any-glob-to-any-file: packages/**

api-gateway-handler:
  - changed-files:
      - any-glob-to-any-file: packages/api-gateway-handler/**

appsync-apollo:
  - changed-files:
      - any-glob-to-any-file: packages/appsync-apollo/**

auth:
  - changed-files:
      - any-glob-to-any-file: packages/auth/**

axios-hooks:
  - changed-files:
      - any-glob-to-any-file: packages/axios-hooks/**

breeze-ui:
  - changed-files:
      - any-glob-to-any-file: packages/breeze-ui/**

ga-web-vitals:
  - changed-files:
      - any-glob-to-any-file: packages/ga-web-vitals/**

node-logger:
  - changed-files:
      - any-glob-to-any-file: packages/node-logger/**

query-string-hooks:
  - changed-files:
      - any-glob-to-any-file: packages/query-string-hooks/**

s3-file-operations:
  - changed-files:
      - any-glob-to-any-file: packages/s3-file-operations/**

serverless-outputs-env:
  - changed-files:
      - any-glob-to-any-file: packages/serverless-outputs-env/**

webpack-conditional-plugin:
  - changed-files:
      - any-glob-to-any-file: packages/webpack-conditional-plugin/**

webpack-permissions-plugin:
  - changed-files:
      - any-glob-to-any-file: packages/webpack-permissions-plugin/**
