Repository motech-development/platform, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, applications, accounts, core, id, open-banking, packages, api-gateway-handler, auth, axios-hooks, breeze-ui, ga-web-vitals, query-string-hooks, serverless-outputs-env, webpack-conditional-plugin, webpack-permissions-plugin

.github/labeler.yml:

repo:
  - ./*

applications:
  - applications/*
  - applications/**/*

accounts:
  - applications/accounts/*
  - applications/accounts/**/*

core:
  - applications/core/*
  - applications/core/**/*

id:
  - applications/id/*
  - applications/id/**/*

open-banking:
  - applications/open-banking/*
  - applications/open-banking/**/*

packages:
  - packages/*
  - packages/**/*

api-gateway-handler:
  - packages/api-gateway-handler/*
  - packages/api-gateway-handler/**/*

auth:
  - packages/auth/*
  - packages/auth/**/*

axios-hooks:
  - packages/axios-hooks/*
  - packages/axios-hooks/**/*

breeze-ui:
  - packages/breeze-ui/*
  - packages/breeze-ui/**/*

ga-web-vitals:
  - packages/ga-web-vitals/*
  - packages/ga-web-vitals/**/*

query-string-hooks:
  - packages/query-string-hooks/*
  - packages/query-string-hooks/**/*

serverless-outputs-env:
  - packages/serverless-outputs-env/*
  - packages/serverless-outputs-env/**/*

webpack-conditional-plugin:
  - packages/webpack-conditional-plugin/*
  - packages/webpack-conditional-plugin/**/*

webpack-permissions-plugin:
  - packages/webpack-permissions-plugin/*
  - packages/webpack-permissions-plugin/**/*

feat(accounts): begin reports list page
  applications/accounts/api/schema/report.graphql
  applications/accounts/client/public/locales/en/dashboard.json
  applications/accounts/client/public/locales/en/reports.json
  applications/accounts/client/src/pages/MyCompanies/Reports/Reports.tsx
  applications/accounts/client/src/pages/MyCompanies/Reports/__tests__/Reports.tsx
  applications/accounts/client/src/pages/MyCompanies/Reports/index.tsx
  applications/accounts/client/src/pages/MyCompanies/index.tsx
Labels: applications, accounts

chore(accounts): begin exports form
  applications/accounts/api/schema/report.graphql
  applications/accounts/client/public/locales/en/reports.json
  applications/accounts/client/src/components/ExportForm.tsx
  applications/accounts/client/src/pages/MyCompanies/Reports/CreateReport.tsx
  applications/accounts/client/src/pages/MyCompanies/Reports/Reports.tsx
  applications/accounts/client/src/pages/MyCompanies/Reports/index.tsx
Labels: applications, accounts

feat(accounts): export form
  applications/accounts/client/public/locales/en/reports.json
  applications/accounts/client/src/components/ExportForm.tsx
Labels: applications, accounts

fix(accounts): fix ttl bug
  applications/accounts/api/schema/report.graphql
  applications/accounts/reports/src/handlers/__tests__/add-report.test.ts
  applications/accounts/reports/src/handlers/add-report.ts
Labels: applications, accounts

feat(accounts): create report screen
  applications/accounts/client/public/locales/en/reports.json
  applications/accounts/client/src/pages/MyCompanies/Reports/CreateReport.tsx
  applications/accounts/client/src/pages/MyCompanies/Reports/Reports.tsx
  applications/accounts/client/src/pages/MyCompanies/Reports/__tests__/CreateReport.tsx
  applications/accounts/client/src/pages/MyCompanies/Reports/__tests__/Reports.tsx
Labels: applications, accounts

feat(accounts): hide error messages in production mode
  applications/accounts/client/src/components/ErrorCard.tsx
Labels: applications, accounts

fix(accounts): fix ttl when creating the report
  applications/accounts/reports/package.json
  applications/accounts/reports/src/handlers/__tests__/add-report.test.ts
  applications/accounts/reports/src/handlers/add-report.ts
Labels: applications, accounts

feat(accounts): create notification endpoint
  .github/workflows/checks.yml
  applications/accounts/notifications/__mocks__/aws-sdk/clients/dynamodb.ts
  applications/accounts/notifications/__mocks__/aws-sdk/index.ts
  applications/accounts/notifications/__mocks__/uuid.ts
  applications/accounts/notifications/package.json
  applications/accounts/notifications/serverless.yml
  applications/accounts/notifications/src/handlers/__tests__/create-notification.ts
  applications/accounts/notifications/src/handlers/__tests__/publish-notifications.ts
  applications/accounts/notifications/src/handlers/create-notification.ts
  applications/accounts/notifications/src/handlers/publish-notifications.ts
  applications/accounts/notifications/src/setupTests.ts
  applications/accounts/notifications/webpack.config.js
Labels: applications, accounts

fix(accounts): sort out ttl scalar type
  .github/workflows/checks.yml
  applications/accounts/api/schema/report.graphql
Labels: applications, accounts

feat(accounts): publish notification from reports via the new api endpoint
  .github/workflows/checks.yml
  applications/accounts/reports/__mocks__/aws-sdk/clients/dynamodb.ts
  applications/accounts/reports/package.json
  applications/accounts/reports/serverless.yml
  applications/accounts/reports/src/handlers/__tests__/add-report.test.ts
  applications/accounts/reports/src/handlers/add-report.ts
  applications/accounts/reports/src/handlers/publish-notification.ts
Labels: applications, accounts

chore: tweak github action
  .github/workflows/checks.yml
Labels: none

fix(accounts): dynamodb iam fix
  applications/accounts/reports/serverless.yml
  applications/accounts/reports/src/handlers/publish-notification.ts
Labels: applications, accounts

fix(accounts): fix notification publish lambda
  applications/accounts/api/serverless.yml
  applications/accounts/data/serverless.yml
  applications/accounts/notifications/serverless.yml
  applications/accounts/queue/serverless.yml
  applications/accounts/reports/serverless.yml
  applications/accounts/reports/src/handlers/publish-notification.ts
  applications/accounts/storage/serverless.yml
  applications/core/anti-virus/serverless.yml
  applications/core/comms/serverless.yml
  applications/open-banking/api/serverless.yml
  package.json
  yarn.lock
Labels: repo, applications, accounts, core, open-banking

test(accounts): publish notification tests
  applications/accounts/reports/__mocks__/aws4.ts
  applications/accounts/reports/__mocks__/axios.ts
  applications/accounts/reports/src/handlers/__tests__/publish-notification.test.ts
Labels: applications, accounts

test(accounts): add archiver tests
  applications/accounts/reports/__mocks__/@motech-development/s3-file-operations.ts
  applications/accounts/reports/__mocks__/archiver.ts
  applications/accounts/reports/__mocks__/aws-sdk/index.ts
  applications/accounts/reports/__mocks__/axios.ts
  applications/accounts/reports/src/handlers/__tests__/create-zip.test.ts
Labels: applications, accounts

test(s3 file operations): add some new tests
  packages/s3-file-operations/__mocks__/aws-sdk.ts
  packages/s3-file-operations/src/__tests__/s3-file-operations.ts
Labels: packages

refactor: remove moment and replace with luxon
  applications/accounts/api/package.json
  applications/accounts/api/src/shared/transform-balance.ts
  applications/accounts/client/package.json
  applications/accounts/client/src/components/CommonFields.tsx
  applications/id/client/package.json
  packages/breeze-ui/package.json
  packages/breeze-ui/src/Calendar/Calendar.tsx
  packages/breeze-ui/src/Calendar/__tests__/Calendar.tsx
  packages/breeze-ui/src/DatePicker/DatePicker.tsx
  packages/breeze-ui/src/DatePicker/__tests__/DatePicker.tsx
  packages/breeze-ui/src/DateTime/DateTime.tsx
  packages/breeze-ui/src/DateTime/__tests__/DateTime.tsx
Labels: applications, accounts, id, packages, breeze-ui

fix(accounts): fix date time formatting
  applications/accounts/client/src/components/TransactionsList.tsx
  applications/accounts/client/src/pages/MyCompanies/Accounts/__tests__/RecordTransaction.tsx
  applications/accounts/client/src/pages/MyCompanies/Accounts/__tests__/ViewTransaction.tsx
  applications/accounts/client/src/pages/MyCompanies/Reports/Reports.tsx
  applications/accounts/client/src/pages/MyCompanies/UserNotifications.tsx
Labels: applications, accounts

fix(accounts): floor ttl timestamp
  applications/accounts/reports/src/handlers/__tests__/add-report.test.ts
  applications/accounts/reports/src/handlers/add-report.ts
Labels: applications, accounts

refactor: remove millisconds from date strings
  applications/accounts/notifications/src/handlers/__tests__/create-notification.ts
  applications/accounts/notifications/src/handlers/create-notification.ts
  applications/accounts/reports/src/handlers/__tests__/add-report.test.ts
  applications/accounts/reports/src/handlers/add-report.ts
  packages/breeze-ui/src/Calendar/Calendar.tsx
  packages/breeze-ui/src/Calendar/__tests__/Calendar.tsx
  packages/breeze-ui/src/DatePicker/DatePicker.tsx
  packages/breeze-ui/src/DatePicker/__tests__/DatePicker.tsx
  packages/breeze-ui/src/DateTime/DateTime.tsx
  packages/breeze-ui/src/DateTime/__tests__/DateTime.tsx
Labels: applications, accounts, packages, breeze-ui

test(accounts): sort out failing tests
  applications/accounts/client/src/components/ExportForm.tsx
  applications/accounts/client/src/pages/MyCompanies/Accounts/__tests__/RecordTransaction.tsx
  applications/accounts/client/src/pages/MyCompanies/Accounts/__tests__/ViewTransaction.tsx
Labels: applications, accounts

feat(accounts): preselect the correct financial year
  applications/accounts/client/src/components/ExportForm.tsx
Labels: applications, accounts

revert(ui): date time formatting output
  packages/breeze-ui/src/DateTime/DateTime.tsx
  packages/breeze-ui/src/DateTime/__tests__/DateTime.tsx
Labels: packages, breeze-ui

feat(accounts): generate report download link
  applications/accounts/api/schema/report.graphql
  applications/accounts/reports/__mocks__/@motech-development/s3-file-operations.ts
  applications/accounts/reports/serverless.yml
  applications/accounts/reports/src/handlers/__tests__/add-report.test.ts
  applications/accounts/reports/src/handlers/__tests__/generate-download-link.test.ts
  applications/accounts/reports/src/handlers/add-report.ts
  applications/accounts/reports/src/handlers/generate-download-link.ts
Labels: applications, accounts

feat(accounts): download functionality in the client
  applications/accounts/client/src/__mocks__/file-saver.ts
  applications/accounts/client/src/pages/MyCompanies/Accounts/__tests__/ViewTransaction.tsx
  applications/accounts/client/src/pages/MyCompanies/Reports/Reports.tsx
  applications/accounts/client/src/pages/MyCompanies/Reports/__tests__/Reports.tsx
  applications/accounts/reports/serverless.yml
Labels: applications, accounts

fix(accounts): fix date sorting
  applications/accounts/api/src/shared/transform-balance.ts
  applications/accounts/reports/src/handlers/__tests__/transform-transactions.test.ts
  applications/accounts/reports/src/handlers/transform-transactions.ts
Labels: applications, accounts

refactor: reinstate milliseconds
  applications/accounts/notifications/src/handlers/__tests__/create-notification.ts
  applications/accounts/notifications/src/handlers/create-notification.ts
  applications/accounts/reports/src/handlers/__tests__/add-report.test.ts
  applications/accounts/reports/src/handlers/add-report.ts
  packages/breeze-ui/src/Calendar/Calendar.tsx
  packages/breeze-ui/src/Calendar/__tests__/Calendar.tsx
  packages/breeze-ui/src/DatePicker/DatePicker.tsx
  packages/breeze-ui/src/DatePicker/__tests__/DatePicker.tsx
Labels: applications, accounts, packages, breeze-ui

test(accounts): update test with correct datetime
  applications/accounts/client/src/pages/MyCompanies/Accounts/__tests__/RecordTransaction.tsx
Labels: applications, accounts

test(accounts): fix transaction tests
  applications/accounts/client/src/pages/MyCompanies/Accounts/__tests__/ViewTransaction.tsx
Labels: applications, accounts

feat(accounts): notification payload
  applications/accounts/api/mapping-templates/notifications/notificationBeacon/Mutation.notificationBeacon.res.vtl
  applications/accounts/api/schema/notification.graphql
Labels: applications, accounts

feat(accounts): add payload param to notification endpoints
  applications/accounts/notifications/src/handlers/__tests__/create-notification.ts
  applications/accounts/notifications/src/handlers/__tests__/publish-notifications.ts
  applications/accounts/notifications/src/handlers/create-notification.ts
  applications/accounts/notifications/src/handlers/publish-notifications.ts
Labels: applications, accounts

feat(accounts): add payload to report notifications
  applications/accounts/reports/package.json
  applications/accounts/reports/src/handlers/__tests__/add-report.test.ts
  applications/accounts/reports/src/handlers/__tests__/publish-notification.test.ts
  applications/accounts/reports/src/handlers/add-report.ts
  applications/accounts/reports/src/handlers/publish-notification.ts
  package.json
  yarn.lock
Labels: repo, applications, accounts

feat(accounts): update reports list when it is ready
  applications/accounts/client/package.json
  applications/accounts/client/src/graphql/notifications/ON_NOTIFICATION.ts
  applications/accounts/client/src/hooks/qs.ts
  applications/accounts/client/src/pages/MyCompanies/Reports/Reports.tsx
  applications/accounts/client/src/pages/MyCompanies/Reports/__tests__/Reports.tsx
  applications/accounts/client/src/pages/MyCompanies/UserNotifications.tsx
  applications/accounts/client/src/pages/MyCompanies/__tests__/UserNotifications.tsx
Labels: applications, accounts

fix(accounts): add missing language strings
  applications/accounts/client/public/locales/en/reports.json
Labels: applications, accounts

test(accounts): add report download e2e tests
  applications/accounts/client/cypress/integration/non-vat-registered.spec.ts
  applications/accounts/client/cypress/integration/vat-registered.spec.ts
  applications/accounts/client/src/pages/MyCompanies/Reports/Reports.tsx
Labels: applications, accounts

fix(accounts): handle reports with no items or attachments
  applications/accounts/reports/serverless.yml
  applications/accounts/reports/src/handlers/__tests__/convert-to-csv.test.ts
  applications/accounts/reports/src/handlers/__tests__/create-zip.test.ts
  applications/accounts/reports/src/handlers/__tests__/get-transactions.test.ts
  applications/accounts/reports/src/handlers/convert-to-csv.ts
  applications/accounts/reports/src/handlers/create-zip.ts
  applications/accounts/reports/src/handlers/get-transactions.ts
  applications/accounts/reports/src/shared/archive.ts
Labels: applications, accounts

fix(accounts): sort out queue closed error
  applications/accounts/reports/src/shared/archive.ts
Labels: applications, accounts

feat(query-string-hook): add useQs hook to the lib
  applications/accounts/client/src/pages/MyCompanies/Reports/Reports.tsx
  applications/accounts/client/src/pages/MyCompanies/Settings/Bank/Callback.tsx
  packages/auth/src/WithAuth.tsx
  packages/query-string-hook/package.json
  packages/query-string-hook/rollup.config.js
  packages/query-string-hook/src/__tests__/useQs.test.ts
  packages/query-string-hook/src/__tests__/useQueryString.test.ts
  packages/query-string-hook/src/index.ts
  packages/query-string-hook/src/useQs.ts
Labels: applications, accounts, packages, auth

test(accounts): rejig tests to bump up coverage
  applications/accounts/api/src/shared/__tests__/transform-balance.ts
Labels: applications, accounts

refactor(accounts): check for key length
  applications/accounts/reports/src/shared/archive.ts
Labels: applications, accounts
