Repository motech-development/platform, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, applications, accounts, core, cypress, id, packages, api-gateway-handler, appsync-apollo, auth, axios-hooks, breeze-ui, ga-web-vitals, node-logger, query-string-hooks, s3-file-operations, serverless-outputs-env, webpack-conditional-plugin, webpack-permissions-plugin

.github/labeler.yml:

repo:
  - changed-files:
      - any-glob-to-any-file: '*'

applications:
  - changed-files:
      - any-glob-to-any-file: applications/**

accounts:
  - changed-files:
      - any-glob-to-any-file: applications/accounts/**

core:
  - changed-files:
      - any-glob-to-any-file: applications/core/**

cypress:
  - changed-files:
      - any-glob-to-any-file: applications/cypress/**

id:
  - changed-files:
      - any-glob-to-any-file: applications/id/**

packages:
  - changed-files:
      - any-glob-to-any-file: packages/**

api-gateway-handler:
  - changed-files:
      - any-glob-to-any-file: packages/api-gateway-handler/**

appsync-apollo:
  - changed-files:
      - any-glob-to-any-file: packages/appsync-apollo/**

auth:
  - changed-files:
      - any-glob-to-any-file: packages/auth/**

axios-hooks:
  - changed-files:
      - any-glob-to-any-file: packages/axios-hooks/**

breeze-ui:
  - changed-files:
      - any-glob-to-any-file: packages/breeze-ui/**

ga-web-vitals:
  - changed-files:
      - any-glob-to-any-file: packages/ga-web-vitals/**

node-logger:
  - changed-files:
      - any-glob-to-any-file: packages/node-logger/**

query-string-hooks:
  - changed-files:
      - any-glob-to-any-file: packages/query-string-hooks/**

s3-file-operations:
  - changed-files:
      - any-glob-to-any-file: packages/s3-file-operations/**

serverless-outputs-env:
  - changed-files:
      - any-glob-to-any-file: packages/serverless-outputs-env/**

webpack-conditional-plugin:
  - changed-files:
      - any-glob-to-any-file: packages/webpack-conditional-plugin/**

webpack-permissions-plugin:
  - changed-files:
      - any-glob-to-any-file: packages/webpack-permissions-plugin/**

fix: linting
  applications/cypress/api/src/handlers/github-status.ts
Labels: applications, cypress

test: fix linting
  applications/accounts/data/src/handlers/__tests__/confirm-transactions.test.ts
  applications/accounts/data/src/handlers/__tests__/insert-scheduled-transactions.test.ts
  applications/accounts/data/src/handlers/__tests__/insert-transactions.test.ts
  applications/accounts/data/src/handlers/__tests__/insert-typeahead.test.ts
  applications/accounts/data/src/handlers/__tests__/remove-scheduled-transactions.test.ts
  applications/accounts/data/src/handlers/__tests__/remove-transactions.test.ts
  applications/accounts/data/src/handlers/__tests__/update-attachments.test.ts
  applications/accounts/data/src/handlers/__tests__/update-scheduled-transactions.test.ts
  applications/accounts/data/src/handlers/__tests__/update-transactions.test.ts
Labels: applications, accounts

feat(deps): update prettier rules
  applications/accounts/api/package.json
  applications/accounts/client/package.json
  applications/accounts/data-restore/package.json
  applications/accounts/data/package.json
  applications/accounts/notifications/package.json
  applications/accounts/queue/package.json
  applications/accounts/reports/package.json
  applications/accounts/storage/package.json
  applications/accounts/warm-up/package.json
  applications/core/anti-virus/package.json
  applications/core/comms/package.json
  applications/cypress/api/package.json
  applications/id/client/package.json
  applications/id/tenant/package.json
  packages/api-gateway-handler/package.json
  packages/appsync-apollo/package.json
  packages/auth/package.json
  packages/axios-hooks/package.json
  packages/breeze-ui/package.json
  packages/eslint-config-motech-base/package.json
  packages/eslint-config-motech-react/package.json
  packages/ga-web-vitals/package.json
  packages/node-logger/package.json
  packages/query-string-hook/package.json
  packages/s3-file-operations/package.json
  packages/semantic-release/package.json
  packages/serverless-outputs-env/package.json
  packages/webpack-conditional-plugin/package.json
  packages/webpack-permissions-plugin/package.json
  packages/yarn-plugin-dedupe/package.json
  packages/yarn-plugin-prepare/package.json
  yarn.lock
Labels: repo, applications, accounts, core, cypress, id, packages, api-gateway-handler, appsync-apollo, auth, axios-hooks, breeze-ui, ga-web-vitals, node-logger, s3-file-operations, serverless-outputs-env, webpack-conditional-plugin, webpack-permissions-plugin

fix: linting
  packages/appsync-apollo/src/Apollo/Apollo.tsx
Labels: packages, appsync-apollo

fix: linting
  applications/id/client/src/components/AuthForm.tsx
  applications/id/client/src/components/ForgottenPasswordForm.tsx
  applications/id/client/src/pages/views/ForgottenPassword.tsx
  applications/id/client/src/pages/views/LogIn.tsx
  applications/id/client/src/pages/views/ResetPassword.tsx
  applications/id/client/src/pages/views/SignUp.tsx
Labels: applications, id

fix: linting
  applications/accounts/client/src/components/ClientForm.tsx
  applications/accounts/client/src/components/CompanyForm.tsx
  applications/accounts/client/src/components/CompanyWizard.tsx
  applications/accounts/client/src/components/ConfirmDelete.tsx
  applications/accounts/client/src/components/DeleteItem.tsx
  applications/accounts/client/src/components/FileDownload.tsx
  applications/accounts/client/src/components/SettingsForm.tsx
  applications/accounts/client/src/components/TransactionForm.tsx
  applications/accounts/client/src/components/UserBar.tsx
  applications/accounts/client/src/pages/MyCompanies/Accounts/shared/ViewAttachment.tsx
Labels: applications, accounts

fix: linting
  packages/breeze-ui/src/BaseStyles/BaseStyles.tsx
  packages/breeze-ui/src/Calendar/Calendar.tsx
  packages/breeze-ui/src/CheckBox/CheckBox.tsx
  packages/breeze-ui/src/FieldSet/FieldSet.tsx
  packages/breeze-ui/src/FileUpload/FileUpload.tsx
  packages/breeze-ui/src/Form/Form.tsx
  packages/breeze-ui/src/Notifications/Notifications.tsx
  packages/breeze-ui/src/Radio/Radio.tsx
  packages/breeze-ui/src/Select/Select.tsx
  packages/breeze-ui/src/Stepper/Stepper.tsx
  packages/breeze-ui/src/TextBox/TextBox.tsx
Labels: packages, breeze-ui

fix: linting
  packages/auth/src/WithAuth.tsx
Labels: packages, auth

fix: update form types
  applications/accounts/client/src/components/ClientForm.tsx
  applications/accounts/client/src/components/CompanyForm.tsx
  applications/accounts/client/src/components/ExportForm.tsx
  applications/accounts/client/src/pages/MyCompanies/Reports/__tests__/CreateReport.tsx
  packages/breeze-ui/src/Form/Form.tsx
Labels: applications, accounts, packages, breeze-ui

ci: update sonarqube scan action
  .github/workflows/quality-assurance.yml
Labels: none

fix: transaction form component
  applications/accounts/client/__mocks__/react-pdf.ts
  applications/accounts/client/src/components/TransactionForm.tsx
Labels: applications, accounts

fix: linting
  applications/cypress/api/src/handlers/github-status.ts
Labels: applications, cypress

fix: correct versions
  applications/accounts/data-restore/package.json
  yarn.lock
Labels: repo, applications, accounts

fix: update form types
  applications/accounts/client/src/components/ClientForm.tsx
  applications/accounts/client/src/components/CompanyForm.tsx
  applications/accounts/client/src/components/ExportForm.tsx
  applications/accounts/client/src/pages/MyCompanies/Reports/__tests__/CreateReport.tsx
  packages/breeze-ui/src/Form/Form.tsx
Labels: applications, accounts, packages, breeze-ui

fix: linting
  applications/id/client/src/components/AuthForm.tsx
  applications/id/client/src/components/ForgottenPasswordForm.tsx
  applications/id/client/src/pages/views/ForgottenPassword.tsx
  applications/id/client/src/pages/views/LogIn.tsx
  applications/id/client/src/pages/views/ResetPassword.tsx
  applications/id/client/src/pages/views/SignUp.tsx
Labels: applications, id

fix: linting
  packages/appsync-apollo/src/Apollo/Apollo.tsx
Labels: packages, appsync-apollo

fix: linting
  applications/accounts/notifications/src/handlers/create-notification.ts
Labels: applications, accounts

feat(deps): update typescript-eslint
  packages/eslint-config-motech-base/index.js
  packages/eslint-config-motech-base/package.json
  packages/eslint-config-motech-react/index.js
  packages/eslint-config-motech-react/package.json
Labels: packages

chore(deps): update eslint
  applications/accounts/api/package.json
  applications/accounts/client/package.json
  applications/accounts/data-restore/package.json
  applications/accounts/data/package.json
  applications/accounts/notifications/package.json
  applications/accounts/queue/package.json
  applications/accounts/reports/package.json
  applications/accounts/storage/package.json
  applications/accounts/warm-up/package.json
  applications/core/anti-virus/package.json
  applications/core/comms/package.json
  applications/cypress/api/package.json
  applications/id/client/package.json
  applications/id/tenant/package.json
  packages/api-gateway-handler/package.json
  packages/appsync-apollo/package.json
  packages/auth/package.json
  packages/axios-hooks/package.json
  packages/breeze-ui/package.json
  packages/ga-web-vitals/package.json
  packages/node-logger/package.json
  packages/query-string-hook/package.json
  packages/s3-file-operations/package.json
  packages/serverless-outputs-env/package.json
  packages/webpack-conditional-plugin/package.json
  packages/webpack-permissions-plugin/package.json
  packages/yarn-plugin-dedupe/package.json
  packages/yarn-plugin-prepare/package.json
  yarn.lock
Labels: repo, applications, accounts, core, cypress, id, packages, api-gateway-handler, appsync-apollo, auth, axios-hooks, breeze-ui, ga-web-vitals, node-logger, s3-file-operations, serverless-outputs-env, webpack-conditional-plugin, webpack-permissions-plugin

feat(deps): update prettier rules
  applications/accounts/api/package.json
  applications/accounts/client/package.json
  applications/accounts/data-restore/package.json
  applications/accounts/data/package.json
  applications/accounts/notifications/package.json
  applications/accounts/queue/package.json
  applications/accounts/reports/package.json
  applications/accounts/storage/package.json
  applications/accounts/warm-up/package.json
  applications/core/anti-virus/package.json
  applications/core/comms/package.json
  applications/cypress/api/package.json
  applications/id/client/package.json
  applications/id/tenant/package.json
  packages/api-gateway-handler/package.json
  packages/appsync-apollo/package.json
  packages/auth/package.json
  packages/axios-hooks/package.json
  packages/breeze-ui/package.json
  packages/eslint-config-motech-base/package.json
  packages/eslint-config-motech-react/package.json
  packages/ga-web-vitals/package.json
  packages/node-logger/package.json
  packages/query-string-hook/package.json
  packages/s3-file-operations/package.json
  packages/semantic-release/package.json
  packages/serverless-outputs-env/package.json
  packages/webpack-conditional-plugin/package.json
  packages/webpack-permissions-plugin/package.json
  packages/yarn-plugin-dedupe/package.json
  packages/yarn-plugin-prepare/package.json
  yarn.lock
Labels: repo, applications, accounts, core, cypress, id, packages, api-gateway-handler, appsync-apollo, auth, axios-hooks, breeze-ui, ga-web-vitals, node-logger, s3-file-operations, serverless-outputs-env, webpack-conditional-plugin, webpack-permissions-plugin

fix: linting
  packages/auth/src/WithAuth.tsx
Labels: packages, auth

fix: linting
  applications/accounts/storage/src/handlers/signed-download.ts
  applications/accounts/storage/src/handlers/signed-upload.ts
Labels: applications, accounts

ci: update sonarqube scan action
  .github/workflows/quality-assurance.yml
Labels: none

fix: transaction form component
  applications/accounts/client/__mocks__/react-pdf.ts
  applications/accounts/client/src/components/TransactionForm.tsx
Labels: applications, accounts

fix: linting
  applications/accounts/client/src/components/ClientForm.tsx
  applications/accounts/client/src/components/CompanyForm.tsx
  applications/accounts/client/src/components/CompanyWizard.tsx
  applications/accounts/client/src/components/ConfirmDelete.tsx
  applications/accounts/client/src/components/DeleteItem.tsx
  applications/accounts/client/src/components/FileDownload.tsx
  applications/accounts/client/src/components/SettingsForm.tsx
  applications/accounts/client/src/components/TransactionForm.tsx
  applications/accounts/client/src/components/UserBar.tsx
  applications/accounts/client/src/pages/MyCompanies/Accounts/shared/ViewAttachment.tsx
Labels: applications, accounts

test: fix linting
  applications/accounts/data/src/handlers/__tests__/confirm-transactions.test.ts
  applications/accounts/data/src/handlers/__tests__/insert-scheduled-transactions.test.ts
  applications/accounts/data/src/handlers/__tests__/insert-transactions.test.ts
  applications/accounts/data/src/handlers/__tests__/insert-typeahead.test.ts
  applications/accounts/data/src/handlers/__tests__/remove-scheduled-transactions.test.ts
  applications/accounts/data/src/handlers/__tests__/remove-transactions.test.ts
  applications/accounts/data/src/handlers/__tests__/update-attachments.test.ts
  applications/accounts/data/src/handlers/__tests__/update-scheduled-transactions.test.ts
  applications/accounts/data/src/handlers/__tests__/update-transactions.test.ts
Labels: applications, accounts

fix: linting
  packages/breeze-ui/src/BaseStyles/BaseStyles.tsx
  packages/breeze-ui/src/Calendar/Calendar.tsx
  packages/breeze-ui/src/CheckBox/CheckBox.tsx
  packages/breeze-ui/src/FieldSet/FieldSet.tsx
  packages/breeze-ui/src/FileUpload/FileUpload.tsx
  packages/breeze-ui/src/Form/Form.tsx
  packages/breeze-ui/src/Notifications/Notifications.tsx
  packages/breeze-ui/src/Radio/Radio.tsx
  packages/breeze-ui/src/Select/Select.tsx
  packages/breeze-ui/src/Stepper/Stepper.tsx
  packages/breeze-ui/src/TextBox/TextBox.tsx
Labels: packages, breeze-ui

Notes added by 'git notes add'
  d7/43b7cc1d33f291b6e5110ae2ffd7be07051a1e
Labels: none

feat: eslint v9 support
  packages/eslint-config-motech-base/.eslintrc.json
  packages/eslint-config-motech-base/README.md
  packages/eslint-config-motech-base/eslint.config.mjs
  packages/eslint-config-motech-base/index.js
  packages/eslint-config-motech-base/index.mjs
  packages/eslint-config-motech-base/package.json
  packages/eslint-config-motech-react/.eslintrc.json
  packages/eslint-config-motech-react/README.md
  packages/eslint-config-motech-react/eslint.config.mjs
  packages/eslint-config-motech-react/index.js
  packages/eslint-config-motech-react/index.mjs
  packages/eslint-config-motech-react/package.json
  yarn.lock
Labels: repo, packages

fix: linting after upgrade
  applications/accounts/client/src/service-worker.ts
  applications/accounts/data/src/shared/unmarshall-records.ts
  applications/accounts/queue/src/triggers/delete.ts
  applications/accounts/storage/src/handlers/process-delete.ts
  applications/core/anti-virus/src/shared/clam-av.ts
  packages/serverless-outputs-env/src/__tests__/outputs-env-plugin.ts
  packages/yarn-plugin-prepare/index.js
Labels: applications, accounts, core, packages, serverless-outputs-env

fix: clamav version
  applications/core/anti-virus/scripts/build.sh
Labels: applications, core

fix: build script
  applications/core/anti-virus/scripts/build.sh
Labels: applications, core

feat: upgrade ClamAV
  applications/core/anti-virus/scripts/build.sh
Labels: applications, core

fix: build script
  applications/core/anti-virus/scripts/build.sh
Labels: applications, core

feat: eslint v9 support
  packages/eslint-config-motech-base/.eslintrc.json
  packages/eslint-config-motech-base/README.md
  packages/eslint-config-motech-base/eslint.config.mjs
  packages/eslint-config-motech-base/index.js
  packages/eslint-config-motech-base/index.mjs
  packages/eslint-config-motech-base/package.json
  packages/eslint-config-motech-react/.eslintrc.json
  packages/eslint-config-motech-react/README.md
  packages/eslint-config-motech-react/eslint.config.mjs
  packages/eslint-config-motech-react/index.js
  packages/eslint-config-motech-react/index.mjs
  packages/eslint-config-motech-react/package.json
  yarn.lock
Labels: repo, packages

feat: upgrade ClamAV
  applications/core/anti-virus/scripts/build.sh
Labels: applications, core

fix: clamav version
  applications/core/anti-virus/scripts/build.sh
Labels: applications, core

fix: linting after upgrade
  applications/accounts/client/src/service-worker.ts
  applications/accounts/data/src/shared/unmarshall-records.ts
  applications/accounts/queue/src/triggers/delete.ts
  applications/accounts/storage/src/handlers/process-delete.ts
  applications/core/anti-virus/src/shared/clam-av.ts
  packages/serverless-outputs-env/src/__tests__/outputs-env-plugin.ts
  packages/yarn-plugin-prepare/index.js
Labels: applications, accounts, core, packages, serverless-outputs-env

Notes added by 'git notes add'
  87/ab3faa846f9d68c65742473c584a7dc82edca2
Labels: none

fix: remove transaction from cache on delete
  applications/accounts/client/src/components/ApolloClient.tsx
Labels: applications, accounts
