Repository motech-development/platform, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, applications, accounts, core, id, open-banking, packages, api-gateway-handler, auth, axios-hooks, breeze-ui, ga-web-vitals, query-string-hooks, serverless-outputs-env, webpack-conditional-plugin, webpack-permissions-plugin

chore(accounts): fix up gh action
  .github/workflows/checks.yml
Labels: none

chore(accounts): cypress chrome workaround
  applications/accounts/client/.gitignore
  applications/accounts/client/cypress.json
Labels: applications, accounts

chore(accounts): update cypress
  applications/accounts/client/cypress.json
  applications/accounts/client/cypress/plugins/index.js
  package-lock.json
  package.json
Labels: repo, applications, accounts

chore(accounts): more cypress changes
  .github/workflows/pull-request-checks.yml
  applications/accounts/client/cypress.json
  applications/accounts/client/cypress/integration/non-vat-registered.spec.ts
  applications/accounts/client/cypress/support/commands.js
Labels: applications, accounts

chore(accounts): parallelisation
  .github/workflows/pull-request-checks.yml
  applications/accounts/client/cypress/support/commands.js
Labels: applications, accounts

chore(platform): conditional deployments trial
  .github/workflows/checks.yml
Labels: none

chore(platform): fix base
  .github/workflows/checks.yml
Labels: none

chore(platform): try to force job to run
  .github/workflows/checks.yml
Labels: none

chore(platform): more filters
  .github/workflows/checks.yml
Labels: none

chore(platform): test app changes
  .github/workflows/checks.yml
  applications/accounts/client/test.txt
Labels: applications, accounts

chore(platform): more tweaking
  .github/workflows/checks.yml
Labels: none

chore(platform): more tests
  .github/workflows/checks.yml
  applications/accounts/data/test.txt
Labels: applications, accounts

chore(platform): test data conditional deploy
  applications/accounts/data/test.txt
Labels: applications, accounts

chore(platform): config fix
  .github/workflows/checks.yml
  applications/accounts/data/test.txt
Labels: applications, accounts

chore(platform): fix config errors
  .github/workflows/checks.yml
  applications/accounts/data/test.txt
Labels: applications, accounts

chore(platform): more config tweaks
  .github/workflows/checks.yml
  applications/accounts/data/test.txt
Labels: applications, accounts

chore(platform): rejigging checks config
  .github/workflows/checks.yml
Labels: none

chore(accounts): tweak unit tests for apollo changes
  applications/accounts/client/src/pages/MyCompanies/Accounts/__tests__/Accounts.tsx
  applications/accounts/client/src/pages/MyCompanies/Accounts/__tests__/PendingTransactions.tsx
  applications/accounts/client/src/pages/MyCompanies/Accounts/__tests__/RecordTransaction.tsx
  applications/accounts/client/src/pages/MyCompanies/Accounts/__tests__/ViewTransaction.tsx
  applications/accounts/client/src/pages/MyCompanies/Clients/__tests__/AddClient.tsx
  applications/accounts/client/src/pages/MyCompanies/Clients/__tests__/UpdateDetails.tsx
  applications/accounts/client/src/pages/MyCompanies/Settings/Bank/__tests__/Bank.tsx
  applications/accounts/client/src/pages/MyCompanies/Settings/Bank/__tests__/Callback.tsx
  applications/accounts/client/src/pages/MyCompanies/Settings/Bank/__tests__/SelectAccount.tsx
  applications/accounts/client/src/pages/MyCompanies/Settings/__tests__/Settings.tsx
  applications/accounts/client/src/pages/MyCompanies/__tests__/AddCompany.tsx
  applications/accounts/client/src/pages/MyCompanies/__tests__/UpdateDetails.tsx
  applications/accounts/client/src/pages/MyCompanies/__tests__/UserNotifications.tsx
  applications/accounts/client/src/utils/apolloWait.ts
Labels: applications, accounts

chore(platform): fix styled-component versions
  applications/accounts/client/package-lock.json
  applications/id/client/package-lock.json
  packages/auth/package-lock.json
Labels: applications, accounts, id, packages, auth

chore(platform): align deps
  applications/accounts/client/package-lock.json
  packages/auth/package-lock.json
Labels: applications, accounts, packages, auth

chore(platform): package-lock based checksums
  scripts/checksum.sh
Labels: none

chore(platform): force rebuild
  packages/test.txt
Labels: packages

chore(platform): revert package-locks
  applications/accounts/client/package-lock.json
  applications/accounts/notifications/package-lock.json
  applications/id/client/package-lock.json
  packages/auth/package-lock.json
  packages/test.txt
Labels: applications, accounts, id, packages, auth

chore(accounts): more package-lock faffing
  applications/accounts/client/package-lock.json
  applications/accounts/notifications/package-lock.json
Labels: applications, accounts

chore(accounts): fix notifications tests
  applications/accounts/client/src/pages/MyCompanies/Accounts/shared/__tests__/UploadAttachment.tsx
  applications/accounts/client/src/pages/MyCompanies/UserNotifications.tsx
  applications/accounts/client/src/pages/MyCompanies/__tests__/UserNotifications.tsx
Labels: applications, accounts

chore(accounts): more unit test fixes
  applications/accounts/client/src/pages/MyCompanies/Accounts/__tests__/RecordTransaction.tsx
  applications/accounts/client/src/pages/MyCompanies/Accounts/shared/UploadAttachment.tsx
  applications/accounts/client/src/pages/MyCompanies/Accounts/shared/__tests__/UploadAttachment.tsx
Labels: applications, accounts

chore(accounts): fix remaining broken unit tests
  .github/workflows/checks.yml
  applications/accounts/client/src/pages/MyCompanies/Accounts/__tests__/ViewTransaction.tsx
  applications/accounts/client/src/pages/MyCompanies/Accounts/shared/ViewAttachment.tsx
  scripts/checksum.sh
Labels: applications, accounts

chore(accounts): application tweaks
  applications/accounts/client/package-lock.json
  applications/accounts/client/src/graphql/client/ADD_CLIENT.ts
  applications/accounts/client/src/graphql/client/DELETE_CLIENT.ts
  applications/accounts/client/src/graphql/company/ADD_COMPANY.ts
  applications/accounts/client/src/graphql/company/DELETE_COMPANY.ts
  applications/accounts/client/src/graphql/transaction/ADD_TRANSACTION.ts
  applications/accounts/client/src/graphql/transaction/DELETE_TRANSACTION.ts
  applications/accounts/client/src/graphql/transaction/UPDATE_TRANSACTION.ts
  applications/accounts/client/src/pages/MyCompanies/Accounts/shared/DownloadAttachment.tsx
  applications/accounts/client/src/pages/MyCompanies/Accounts/shared/ViewAttachment.tsx
  applications/id/client/package-lock.json
  package-lock.json
  packages/auth/package-lock.json
Labels: repo, applications, accounts, id, packages, auth

feat(appsync-apollo): new shared lib
  .github/workflows/checks.yml
  .vscode/settings.json
  README.md
  applications/accounts/client/package.json
  applications/accounts/client/src/components/ApolloClient.tsx
  applications/accounts/client/src/components/Connected.tsx
  applications/accounts/client/src/components/__tests__/ApolloClient.tsx
  applications/accounts/client/src/pages/MyCompanies/Accounts/__tests__/ViewTransaction.tsx
  applications/accounts/client/src/pages/MyCompanies/Accounts/shared/DownloadAttachment.tsx
  applications/accounts/client/src/pages/MyCompanies/index.tsx
  packages/appsync-apollo/.eslintrc.yml
  packages/appsync-apollo/.lintstagedrc.yml
  packages/appsync-apollo/babel.config.js
  packages/appsync-apollo/package-lock.json
  packages/appsync-apollo/package.json
  packages/appsync-apollo/rollup.config.js
  packages/appsync-apollo/src/Apollo/Apollo.tsx
  packages/appsync-apollo/src/Apollo/__tests__/Apollo.tsx
  packages/appsync-apollo/src/index.ts
  packages/appsync-apollo/src/setupTests.ts
  packages/appsync-apollo/tsconfig.json
Labels: repo, applications, accounts, packages

chore(auth): withAuth component
  applications/accounts/client/public/locales/en/apollo-client.json
  applications/accounts/client/src/App.tsx
  applications/accounts/client/src/__tests__/App.tsx
  applications/accounts/client/src/utils/TestProvider.tsx
  packages/auth/package.json
  packages/auth/src/AuthProvider.tsx
  packages/auth/src/__tests__/AuthProvider.tsx
  packages/auth/src/__tests__/ProtectedRoute.tsx
  packages/auth/src/__tests__/withAuth.tsx
  packages/auth/src/index.ts
  packages/auth/src/withAuth.tsx
Labels: applications, accounts, packages, auth

chore(accounts): use shared util
  applications/accounts/client/src/pages/MyCompanies/Accounts/__tests__/Accounts.tsx
  applications/accounts/client/src/pages/MyCompanies/Accounts/__tests__/PendingTransactions.tsx
  applications/accounts/client/src/pages/MyCompanies/Accounts/__tests__/RecordTransaction.tsx
  applications/accounts/client/src/pages/MyCompanies/Accounts/__tests__/ViewTransaction.tsx
  applications/accounts/client/src/pages/MyCompanies/Clients/__tests__/AddClient.tsx
  applications/accounts/client/src/pages/MyCompanies/Clients/__tests__/UpdateDetails.tsx
  applications/accounts/client/src/pages/MyCompanies/Settings/Bank/__tests__/Bank.tsx
  applications/accounts/client/src/pages/MyCompanies/Settings/Bank/__tests__/Callback.tsx
  applications/accounts/client/src/pages/MyCompanies/Settings/Bank/__tests__/SelectAccount.tsx
  applications/accounts/client/src/pages/MyCompanies/Settings/__tests__/Settings.tsx
  applications/accounts/client/src/pages/MyCompanies/__tests__/AddCompany.tsx
  applications/accounts/client/src/pages/MyCompanies/__tests__/UpdateDetails.tsx
  applications/accounts/client/src/pages/MyCompanies/__tests__/UserNotifications.tsx
  applications/accounts/client/src/utils/apolloWait.ts
  packages/appsync-apollo/src/index.ts
  packages/appsync-apollo/src/waitForApollo/waitForApollo.ts
Labels: applications, accounts, packages

chore(auth): file rename
  packages/auth/src/WithAuth.tsx
Labels: packages, auth

chore(platform): disable package cache
  .github/workflows/checks.yml
Labels: none

chore(platform): disable checks
  .github/workflows/checks.yml
Labels: none

chore(platform): more CI pain
  .github/workflows/checks.yml
Labels: none

chore(platform): yet more ci pain
  .github/workflows/checks.yml
  packages/auth/package-lock.json
Labels: packages, auth

chore(accounts): try to get around styled components test bug
  applications/accounts/client/package.json
Labels: applications, accounts

chore(platform): try to reset with a new branch
  .github/workflows/checks.yml
Labels: none

chore(accounts): remove styled-component test hack and output cypress logs
  applications/accounts/client/cypress/plugins/index.js
  applications/accounts/client/package.json
  package-lock.json
  package.json
Labels: repo, applications, accounts

chore(platform): undo conditional deployments
  .github/workflows/checks.yml
  .github/workflows/pull-request-checks.yml
  applications/accounts/client/package-lock.json
  applications/accounts/client/package.json
  applications/id/client/package-lock.json
  applications/id/client/package.json
  packages/auth/package-lock.json
  packages/auth/package.json
  packages/breeze-ui/package-lock.json
  packages/breeze-ui/package.json
Labels: applications, accounts, id, packages, auth, breeze-ui

.github/labeler.yml:

repo:
  - ./*

applications:
  - applications/*
  - applications/**/*

accounts:
  - applications/accounts/*
  - applications/accounts/**/*

core:
  - applications/core/*
  - applications/core/**/*

id:
  - applications/id/*
  - applications/id/**/*

open-banking:
  - applications/open-banking/*
  - applications/open-banking/**/*

packages:
  - packages/*
  - packages/**/*

api-gateway-handler:
  - packages/api-gateway-handler/*
  - packages/api-gateway-handler/**/*

auth:
  - packages/auth/*
  - packages/auth/**/*

axios-hooks:
  - packages/axios-hooks/*
  - packages/axios-hooks/**/*

breeze-ui:
  - packages/breeze-ui/*
  - packages/breeze-ui/**/*

ga-web-vitals:
  - packages/ga-web-vitals/*
  - packages/ga-web-vitals/**/*

query-string-hooks:
  - packages/query-string-hooks/*
  - packages/query-string-hooks/**/*

serverless-outputs-env:
  - packages/serverless-outputs-env/*
  - packages/serverless-outputs-env/**/*

webpack-conditional-plugin:
  - packages/webpack-conditional-plugin/*
  - packages/webpack-conditional-plugin/**/*

webpack-permissions-plugin:
  - packages/webpack-permissions-plugin/*
  - packages/webpack-permissions-plugin/**/*
