Repository motech-development/platform, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, applications, accounts, core, cypress, id, packages, api-gateway-handler, appsync-apollo, auth, axios-hooks, breeze-ui, ga-web-vitals, node-logger, query-string-hooks, s3-file-operations, serverless-outputs-env, webpack-conditional-plugin, webpack-permissions-plugin

.github/labeler.yml:

repo:
  - changed-files:
      - any-glob-to-any-file: '*'

applications:
  - changed-files:
      - any-glob-to-any-file: applications/**

accounts:
  - changed-files:
      - any-glob-to-any-file: applications/accounts/**

core:
  - changed-files:
      - any-glob-to-any-file: applications/core/**

cypress:
  - changed-files:
      - any-glob-to-any-file: applications/cypress/**

id:
  - changed-files:
      - any-glob-to-any-file: applications/id/**

packages:
  - changed-files:
      - any-glob-to-any-file: packages/**

api-gateway-handler:
  - changed-files:
      - any-glob-to-any-file: packages/api-gateway-handler/**

appsync-apollo:
  - changed-files:
      - any-glob-to-any-file: packages/appsync-apollo/**

auth:
  - changed-files:
      - any-glob-to-any-file: packages/auth/**

axios-hooks:
  - changed-files:
      - any-glob-to-any-file: packages/axios-hooks/**

breeze-ui:
  - changed-files:
      - any-glob-to-any-file: packages/breeze-ui/**

ga-web-vitals:
  - changed-files:
      - any-glob-to-any-file: packages/ga-web-vitals/**

node-logger:
  - changed-files:
      - any-glob-to-any-file: packages/node-logger/**

query-string-hooks:
  - changed-files:
      - any-glob-to-any-file: packages/query-string-hooks/**

s3-file-operations:
  - changed-files:
      - any-glob-to-any-file: packages/s3-file-operations/**

serverless-outputs-env:
  - changed-files:
      - any-glob-to-any-file: packages/serverless-outputs-env/**

webpack-conditional-plugin:
  - changed-files:
      - any-glob-to-any-file: packages/webpack-conditional-plugin/**

webpack-permissions-plugin:
  - changed-files:
      - any-glob-to-any-file: packages/webpack-permissions-plugin/**

feat: add pdf viewer
  applications/accounts/client/package.json
  applications/accounts/client/src/components/DocumentViewer.tsx
  applications/accounts/client/src/locales/en/accounts.json
  applications/accounts/client/src/locales/en/document-viewer.json
  applications/accounts/client/src/pages/MyCompanies/Accounts/__tests__/RecordTransaction.tsx
  applications/accounts/client/src/pages/MyCompanies/Accounts/__tests__/ViewTransaction.tsx
  applications/accounts/client/src/pages/MyCompanies/Accounts/shared/ViewAttachment.tsx
  applications/accounts/client/src/setupTests.ts
  applications/accounts/client/src/utils/TestProvider.tsx
  applications/accounts/client/tsconfig.eslint.json
  applications/accounts/client/tsconfig.node.json
  applications/accounts/client/vite.config.mts
  yarn.lock
Labels: repo, applications, accounts

feat: update accounts screen
  applications/accounts/client/src/components/TransactionsList.tsx
  applications/accounts/client/src/components/__tests__/TransactionList.tsx
  applications/accounts/client/src/graphql/gql.ts
  applications/accounts/client/src/graphql/graphql.ts
  applications/accounts/client/src/pages/MyCompanies/Accounts/Accounts.tsx
  applications/accounts/client/src/pages/MyCompanies/Accounts/__tests__/Accounts.tsx
Labels: applications, accounts

test: fix e2e test
  applications/accounts/client/cypress/e2e/vat-registered.cy.ts
  applications/accounts/client/package.json
  applications/accounts/client/src/index.tsx
  yarn.lock
Labels: repo, applications, accounts

feat: mts support
  packages/eslint-config-motech-base/index.js
  packages/eslint-config-motech-react/index.js
Labels: packages

fix: ordering and grouping
  applications/accounts/client/src/components/TransactionsList.tsx
Labels: applications, accounts

feat: large modal
  packages/breeze-ui/src/Modal/Modal.stories.tsx
  packages/breeze-ui/src/Modal/Modal.tsx
  packages/breeze-ui/src/Modal/__tests__/Modal.tsx
Labels: packages, breeze-ui

Notes added by 'git notes add'
  7e/949ca11f4535a9ca2fb6f9d524ac65dab574fa
Labels: none

deploy: 7e949ca11f4535a9ca2fb6f9d524ac65dab574fa
  assets/Modal.stories-9fa8b5fb.js
  assets/Modal.stories-a2e36bf7.js
  assets/entry-preview-3f082953.js
  assets/iframe-10af6bcc.js
  assets/iframe-43a3ce4c.js
  assets/preview-0aa3b294.js
  assets/preview-e9e7f009.js
  iframe.html
  project.json
Labels: repo

fix: limit transactions returned
  applications/accounts/client/src/graphql/gql.ts
  applications/accounts/client/src/graphql/graphql.ts
  applications/accounts/client/src/pages/MyCompanies/Accounts/Accounts.tsx
  applications/accounts/client/src/pages/MyCompanies/Accounts/__tests__/Accounts.tsx
Labels: applications, accounts

Notes added by 'git notes add'
  88/0eff4a9ef28d1b17a67fff5b6f7dae4f7209cf
Labels: none

fix: ordering
  applications/accounts/api/mapping-templates/transaction/getTransactions/Query.getTransactions.req.vtl
Labels: applications, accounts

Notes added by 'git notes add'
  63/016740a64594a19a9c6fe12e602bae0451ac96
Labels: none

deploy: 63016740a64594a19a9c6fe12e602bae0451ac96
  assets/Alert.stories-472aead1.js
  assets/Alert.stories-7c228529.js
  assets/AppBar.stories-d46e098e.js
  assets/BaseButton-6e871efe.js
  assets/Button-144ca23b.js
  assets/Button-32059e45.js
  assets/Button.stories-58eb9518.js
  assets/Button.stories-c20a0888.js
  assets/Calendar-19ac373f.js
  assets/Calendar-e30ec24f.js
  assets/Calendar.stories-77d8eb89.js
  assets/Calendar.stories-8cdd50e4.js
  assets/Form.stories-b8174229.js
  assets/LinkButton.stories-8ca9f3eb.js
  assets/LinkButton.stories-a5b193d4.js
  assets/Modal.stories-f03fb636.js
  assets/Stepper.stories-263a2344.js
  assets/Stepper.stories-81c822bf.js
  assets/Tooltip-a8937374.js
  assets/Tooltip.stories-2ce52a97.js
  assets/Tooltip.stories-b88e0412.js
  assets/entry-preview-91c54e8a.js
  assets/iframe-92822373.js
  assets/iframe-f80d4fb3.js
  assets/preview-d4f6f33b.js
  assets/preview-d5ec8b4c.js
  iframe.html
  project.json
Labels: repo

feat: remove transactions from balance
  applications/accounts/api/mapping-templates/company/createCompany/Pipeline.createCompany.req.vtl
  applications/accounts/api/mapping-templates/transaction/transactionBeacon/Mutation.transactionBeacon.res.vtl
  applications/accounts/api/schema/balance.graphql
  applications/accounts/api/schema/transaction.graphql
  applications/accounts/api/src/handlers/update-balance.ts
  applications/accounts/api/src/shared/update-balance.ts
  applications/accounts/data/__mocks__/@motech-development/node-logger.ts
  applications/accounts/data/serverless.yml
  applications/accounts/data/src/__tests__/transform-transactions.test.ts
  applications/accounts/data/src/shared/__tests__/transform-transactions.ts
  applications/accounts/data/src/shared/balance.ts
  applications/accounts/data/src/shared/transform-transactions.ts
  applications/accounts/data/src/transform-transactions.ts
Labels: applications, accounts

test: remove transactions
  applications/accounts/api/src/handlers/__tests__/update-balance.test.ts
Labels: applications, accounts

feat: load more transactions
  applications/accounts/client/src/components/ApolloClient.tsx
  applications/accounts/client/src/graphql/gql.ts
  applications/accounts/client/src/graphql/graphql.ts
  applications/accounts/client/src/locales/en/accounts.json
  applications/accounts/client/src/pages/MyCompanies/Accounts/Accounts.tsx
  applications/accounts/client/src/pages/MyCompanies/Accounts/PendingTransactions.tsx
  applications/accounts/client/src/pages/MyCompanies/Accounts/__tests__/PendingTransactions.tsx
  applications/accounts/client/src/pages/MyCompanies/Accounts/__tests__/RecordTransaction.tsx
Labels: applications, accounts

revert: removal of mock
  applications/accounts/data/__mocks__/@motech-development/node-logger.ts
Labels: applications, accounts

test: item ordering fix
  applications/accounts/client/cypress/e2e/vat-registered.cy.ts
Labels: applications, accounts

test: load more items
  applications/accounts/client/src/components/ApolloClient.tsx
  applications/accounts/client/src/pages/MyCompanies/Accounts/Accounts.tsx
  applications/accounts/client/src/pages/MyCompanies/Accounts/__tests__/Accounts.tsx
Labels: applications, accounts

fix: code smell
  applications/accounts/client/src/pages/MyCompanies/Accounts/Accounts.tsx
Labels: applications, accounts

feat: remove transactions from balance
  applications/accounts/api/mapping-templates/company/createCompany/Pipeline.createCompany.req.vtl
  applications/accounts/api/mapping-templates/transaction/transactionBeacon/Mutation.transactionBeacon.res.vtl
  applications/accounts/api/schema/balance.graphql
  applications/accounts/api/schema/transaction.graphql
  applications/accounts/api/src/handlers/update-balance.ts
  applications/accounts/api/src/shared/update-balance.ts
  applications/accounts/data/__mocks__/@motech-development/node-logger.ts
  applications/accounts/data/serverless.yml
  applications/accounts/data/src/__tests__/transform-transactions.test.ts
  applications/accounts/data/src/shared/__tests__/transform-transactions.ts
  applications/accounts/data/src/shared/balance.ts
  applications/accounts/data/src/shared/transform-transactions.ts
  applications/accounts/data/src/transform-transactions.ts
Labels: applications, accounts

test: item ordering fix
  applications/accounts/client/cypress/e2e/vat-registered.cy.ts
Labels: applications, accounts

feat: load more transactions
  applications/accounts/client/src/components/ApolloClient.tsx
  applications/accounts/client/src/graphql/gql.ts
  applications/accounts/client/src/graphql/graphql.ts
  applications/accounts/client/src/locales/en/accounts.json
  applications/accounts/client/src/pages/MyCompanies/Accounts/Accounts.tsx
  applications/accounts/client/src/pages/MyCompanies/Accounts/PendingTransactions.tsx
  applications/accounts/client/src/pages/MyCompanies/Accounts/__tests__/PendingTransactions.tsx
  applications/accounts/client/src/pages/MyCompanies/Accounts/__tests__/RecordTransaction.tsx
Labels: applications, accounts

test: load more items
  applications/accounts/client/src/components/ApolloClient.tsx
  applications/accounts/client/src/pages/MyCompanies/Accounts/Accounts.tsx
  applications/accounts/client/src/pages/MyCompanies/Accounts/__tests__/Accounts.tsx
Labels: applications, accounts

revert: removal of mock
  applications/accounts/data/__mocks__/@motech-development/node-logger.ts
Labels: applications, accounts

test: remove transactions
  applications/accounts/api/src/handlers/__tests__/update-balance.test.ts
Labels: applications, accounts

fix: code smell
  applications/accounts/client/src/pages/MyCompanies/Accounts/Accounts.tsx
Labels: applications, accounts

Notes added by 'git notes add'
  97/c1ef6ec9f8bc2b72cbaedd15c25df1273c8930
Labels: none

Notes added by 'git notes add'
  72/e9233b5d744eb93cf056a36b83f354c914290e
Labels: none

Notes added by 'git notes add'
  15/2febe5a11348f8184ad5edf4334861844aaa7c
Labels: none

fix: pdf viewer improvements
  applications/accounts/client/src/components/DocumentViewer.tsx
Labels: applications, accounts

fix: decouple document viewer from modals
  applications/accounts/client/src/components/DocumentViewer.tsx
  applications/accounts/client/src/pages/MyCompanies/Accounts/shared/ViewAttachment.tsx
Labels: applications, accounts

fix: toast and modal rerendering
  packages/breeze-ui/src/Modal/Modal.tsx
  packages/breeze-ui/src/ToastProvider/ToastProvider.tsx
Labels: packages, breeze-ui

test: update download button click
  applications/accounts/client/cypress/e2e/vat-registered.cy.ts
Labels: applications, accounts

fix: decouple document viewer from modals
  applications/accounts/client/src/components/DocumentViewer.tsx
  applications/accounts/client/src/pages/MyCompanies/Accounts/shared/ViewAttachment.tsx
Labels: applications, accounts

test: update download button click
  applications/accounts/client/cypress/e2e/vat-registered.cy.ts
Labels: applications, accounts

fix: toast and modal rerendering
  packages/breeze-ui/src/Modal/Modal.tsx
  packages/breeze-ui/src/ToastProvider/ToastProvider.tsx
Labels: packages, breeze-ui

fix: pdf viewer improvements
  applications/accounts/client/src/components/DocumentViewer.tsx
Labels: applications, accounts

Notes added by 'git notes add'
  5b/a456173724f44d398ad1adf36a53ee58e987d7
Labels: none

Notes added by 'git notes add'
  f9/9863eb704b1f93a95db564001f4d127b14fbf3
Labels: none
