Repository motech-development/platform, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, applications, accounts, core, id, open-banking, packages, api-gateway-handler, appsync-apollo, auth, axios-hooks, breeze-ui, ga-web-vitals, query-string-hooks, s3-file-operations, serverless-outputs-env, webpack-conditional-plugin, webpack-permissions-plugin

.github/labeler.yml:

repo:
  - ./*

applications:
  - applications/*
  - applications/**/*

accounts:
  - applications/accounts/*
  - applications/accounts/**/*

core:
  - applications/core/*
  - applications/core/**/*

id:
  - applications/id/*
  - applications/id/**/*

open-banking:
  - applications/open-banking/*
  - applications/open-banking/**/*

packages:
  - packages/*
  - packages/**/*

api-gateway-handler:
  - packages/api-gateway-handler/*
  - packages/api-gateway-handler/**/*

appsync-apollo:
  - packages/appsync-apollo/*
  - packages/appsync-apollo/**/*

auth:
  - packages/auth/*
  - packages/auth/**/*

axios-hooks:
  - packages/axios-hooks/*
  - packages/axios-hooks/**/*

breeze-ui:
  - packages/breeze-ui/*
  - packages/breeze-ui/**/*

ga-web-vitals:
  - packages/ga-web-vitals/*
  - packages/ga-web-vitals/**/*

query-string-hooks:
  - packages/query-string-hooks/*
  - packages/query-string-hooks/**/*

s3-file-operations:
  - packages/s3-file-operations/*
  - packages/s3-file-operations/**/*

serverless-outputs-env:
  - packages/serverless-outputs-env/*
  - packages/serverless-outputs-env/**/*

webpack-conditional-plugin:
  - packages/webpack-conditional-plugin/*
  - packages/webpack-conditional-plugin/**/*

webpack-permissions-plugin:
  - packages/webpack-permissions-plugin/*
  - packages/webpack-permissions-plugin/**/*

chore(ci): more env var fun and games
  .github/workflows/deploy-to-environment.yml
Labels: none

chore(ci): more debugging
  .github/workflows/deploy-to-environment.yml
Labels: none

chore(ci): use 3rd party action to read env file
  .github/workflows/deploy-to-environment.yml
Labels: none

chore(ci): put back unit tests
  .github/workflows/deploy-to-environment.yml
  .github/workflows/deploy-to-production.yml
  applications/accounts/client/serverless.yml
  applications/accounts/infrastructure/serverless.yml
  applications/core/comms/serverless.yml
  applications/core/infrastructure/serverless.yml
Labels: applications, accounts, core

chore(ci): some trial and error
  .github/workflows/deploy-to-environment.yml
  package.json
Labels: repo

chore(ci): put back the remove the parallel testing
  package.json
Labels: repo

chore(ci): try letting dependabot work
  .github/dependabot.yml
  .github/workflows/deploy-to-environment.yml
  .github/workflows/teardown-environment.yml
Labels: none

chore(ci): kill workflow if dependabot
  .github/workflows/deploy-to-environment.yml
  .github/workflows/teardown-environment.yml
Labels: none

chore(ci): and again
  .github/workflows/deploy-to-environment.yml
Labels: none

chore(ci): try again with the dependabot changes
  .github/workflows/deploy-to-environment.yml
  .github/workflows/teardown-environment.yml
Labels: none

chore(ci): combine pr workflow
  .github/workflows/combine-prs.yml
Labels: none

chore(ci): add deploy to environment job
  .github/workflows/deploy-to-develop.yml
Labels: none

chore: some stuff
  .github/dependabot.yml
  .github/workflows/combine-prs.yml
  applications/accounts/client/src/service-worker.ts
  yarn.lock
Labels: repo, applications, accounts

docs: update GH actions badge after pipeline updates
  README.md
Labels: repo

feat(accounts): retry creating zip if it fails
  applications/accounts/reports/serverless.yml
Labels: applications, accounts

chore(deps): update cypress
  package.json
  yarn.lock
Labels: repo

feat(accounts): add a warm up lambda for deployments
  .github/dependabot.yml
  .github/workflows/deploy-to-environment.yml
  applications/accounts/data/__mocks__/aws-sdk/clients/dynamodb.ts
  applications/accounts/data/package.json
  applications/accounts/data/serverless.yml
  applications/accounts/data/src/__tests__/attachments.test.ts
  applications/accounts/data/src/__tests__/clear-attachments.test.ts
  applications/accounts/data/src/__tests__/publish-transactions.test.ts
  applications/accounts/data/src/__tests__/schedule-transactions.test.ts
  applications/accounts/data/src/__tests__/transactions.test.ts
  applications/accounts/data/src/__tests__/typeahead.test.ts
  applications/accounts/data/src/__tests__/warm-up.test.ts
  applications/accounts/data/src/handlers/__tests__/confirm-transactions.test.ts
  applications/accounts/data/src/handlers/__tests__/delete-attachments.test.ts
  applications/accounts/data/src/handlers/__tests__/insert-scheduled-transactions.test.ts
  applications/accounts/data/src/handlers/__tests__/insert-transactions.test.ts
  applications/accounts/data/src/handlers/__tests__/insert-typeahead.test.ts
  applications/accounts/data/src/handlers/__tests__/remove-scheduled-transactions.test.ts
  applications/accounts/data/src/handlers/__tests__/remove-transactions.test.ts
  applications/accounts/data/src/handlers/__tests__/update-attachments.test.ts
  applications/accounts/data/src/handlers/__tests__/update-scheduled-transactions.test.ts
  applications/accounts/data/src/handlers/__tests__/update-transactions.test.ts
  applications/accounts/data/src/shared/__tests__/aggregated-day.test.ts
  applications/accounts/data/src/shared/__tests__/unmarshall-records.test.ts
  applications/accounts/data/src/warm-up.ts
Labels: applications, accounts

fix(accounts): fix IAM permissions
  applications/accounts/data/serverless.yml
Labels: applications, accounts

feat(accounts): capital table headings and remove minus from out column
  applications/accounts/reports/src/handlers/__tests__/convert-to-csv.test.ts
  applications/accounts/reports/src/handlers/__tests__/get-transactions.test.ts
  applications/accounts/reports/src/handlers/__tests__/transform-transactions.test.ts
  applications/accounts/reports/src/handlers/transform-transactions.ts
Labels: applications, accounts

fix(accounts): fix handler validation after casing changes
  applications/accounts/reports/src/handlers/__tests__/convert-to-csv.test.ts
  applications/accounts/reports/src/handlers/convert-to-csv.ts
Labels: applications, accounts

feat(accounts): clear reports from db on company delete
  applications/accounts/queue/serverless.yml
Labels: applications, accounts

chore(ci): remove record flag
  .github/workflows/deploy-to-environment.yml
Labels: none

chore(ci): try parallel without recording
  .github/workflows/deploy-to-environment.yml
Labels: none

chore(ci): attempt to use hosted dashboard instance
  .github/workflows/deploy-to-environment.yml
  applications/accounts/client/cypress.json
  applications/accounts/client/package.json
  package.json
  yarn.lock
Labels: repo, applications, accounts

chore(ci): streamline to use only a single e2e action
  .github/workflows/deploy-to-environment.yml
Labels: none

chore(ci): move the warm up to after the api being deployed
  .github/workflows/deploy-to-environment.yml
Labels: none
