Repository motech-development/platform, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, applications, accounts, core, id, open-banking, packages, api-gateway-handler, appsync-apollo, auth, axios-hooks, breeze-ui, ga-web-vitals, query-string-hooks, s3-file-operations, serverless-outputs-env, webpack-conditional-plugin, webpack-permissions-plugin

.github/labeler.yml:

repo:
  - ./*

applications:
  - applications/*
  - applications/**/*

accounts:
  - applications/accounts/*
  - applications/accounts/**/*

core:
  - applications/core/*
  - applications/core/**/*

id:
  - applications/id/*
  - applications/id/**/*

open-banking:
  - applications/open-banking/*
  - applications/open-banking/**/*

packages:
  - packages/*
  - packages/**/*

api-gateway-handler:
  - packages/api-gateway-handler/*
  - packages/api-gateway-handler/**/*

appsync-apollo:
  - packages/appsync-apollo/*
  - packages/appsync-apollo/**/*

auth:
  - packages/auth/*
  - packages/auth/**/*

axios-hooks:
  - packages/axios-hooks/*
  - packages/axios-hooks/**/*

breeze-ui:
  - packages/breeze-ui/*
  - packages/breeze-ui/**/*

ga-web-vitals:
  - packages/ga-web-vitals/*
  - packages/ga-web-vitals/**/*

query-string-hooks:
  - packages/query-string-hooks/*
  - packages/query-string-hooks/**/*

s3-file-operations:
  - packages/s3-file-operations/*
  - packages/s3-file-operations/**/*

serverless-outputs-env:
  - packages/serverless-outputs-env/*
  - packages/serverless-outputs-env/**/*

webpack-conditional-plugin:
  - packages/webpack-conditional-plugin/*
  - packages/webpack-conditional-plugin/**/*

webpack-permissions-plugin:
  - packages/webpack-permissions-plugin/*
  - packages/webpack-permissions-plugin/**/*

refactor: begin new pipelines
  .github/actions/deploy/action.yml
  .github/actions/setup/action.yml
  .github/actions/teardown/action.yml
  .github/workflows/checks.yml
  .github/workflows/deploy-to-environment.yml
  .github/workflows/pull-request-checks.yml
  .github/workflows/teardown-environment.yml
  applications/accounts/api/serverless.yml
Labels: applications, accounts

chore: fix pipeline
  .github/workflows/deploy-to-environment.yml
  .github/workflows/teardown-environment.yml
Labels: none

chore(ci): move checkout out of composite actions
  .github/actions/deploy/action.yml
  .github/actions/setup/action.yml
  .github/actions/teardown/action.yml
  .github/workflows/deploy-to-environment.yml
  .github/workflows/teardown-environment.yml
Labels: none

chore(ui): forgot to save file
  .github/workflows/deploy-to-environment.yml
Labels: none

chore(ui): add .github to the path
  .github/workflows/deploy-to-environment.yml
  .github/workflows/teardown-environment.yml
Labels: none

chore(ui): fix path
  .github/workflows/deploy-to-environment.yml
  .github/workflows/teardown-environment.yml
Labels: none

chore(ci): more tweaking of paths
  .github/workflows/deploy-to-environment.yml
  .github/workflows/teardown-environment.yml
Labels: none

chore(ci): bin off composites
  .github/actions/setup/action.yml
  .github/workflows/deploy-to-environment.yml
  .github/workflows/teardown-environment.yml
  actions/deploy/action.yml
  actions/teardown/action.yml
Labels: none

chore(ci): add unit tests
  .github/workflows/deploy-to-environment.yml
  .github/workflows/update-environment.yml
Labels: none

chore(ci): cache issues
  .github/workflows/deploy-to-environment.yml
  .github/workflows/teardown-environment.yml
  .github/workflows/update-environment.yml
Labels: none

chore(ci): yarn cache to speed up installs
  .github/workflows/deploy-to-environment.yml
  .github/workflows/teardown-environment.yml
  .github/workflows/update-environment.yml
Labels: none

chore(ci): open banking deploy and teardown
  .github/workflows/deploy-to-environment.yml
  .github/workflows/teardown-environment.yml
  .github/workflows/update-environment.yml
  actions/deploy/action.yml
  actions/teardown/action.yml
  applications/open-banking/api/serverless.yml
Labels: applications, open-banking

chore(ui): fix pipeline
  .github/workflows/deploy-to-environment.yml
  .github/workflows/teardown-environment.yml
  .github/workflows/update-environment.yml
Labels: none

chore(ci): remove tests to speed things up for now
  .github/workflows/deploy-to-environment.yml
  .github/workflows/update-environment.yml
Labels: none

chore(ci): fix teardown
  .github/workflows/teardown-environment.yml
Labels: none

chore(ci): more speeding of things up for dev
  .github/workflows/deploy-to-environment.yml
  .github/workflows/update-environment.yml
Labels: none

chore(ci): av deployments
  .github/workflows/deploy-to-environment.yml
  .github/workflows/teardown-environment.yml
  .github/workflows/update-environment.yml
Labels: none

chore(ci): queue, storage and data deployments and teardowns
  .github/workflows/deploy-to-environment.yml
  .github/workflows/teardown-environment.yml
  .github/workflows/update-environment.yml
Labels: none

chore(ci): fix teardown circular
  .github/workflows/deploy-to-environment.yml
  .github/workflows/teardown-environment.yml
Labels: none

chore(ci): put stuff back
  .github/workflows/deploy-to-environment.yml
Labels: none

chore(ci): notifications deploy and teardown
  .github/workflows/deploy-to-environment.yml
  .github/workflows/teardown-environment.yml
  .github/workflows/update-environment.yml
Labels: none

chore(ci): empty bucket before teardown
  .github/workflows/teardown-environment.yml
Labels: none

chore(ci): try again with the bucket emptying
  .github/workflows/teardown-environment.yml
Labels: none

chore(ci): set region to see if that helps fix things
  .github/workflows/teardown-environment.yml
Labels: none

chore(ci): reports deployment and teardown
  .github/workflows/deploy-to-environment.yml
  .github/workflows/teardown-environment.yml
  .github/workflows/update-environment.yml
Labels: none

chore(ci): try again with the teardown
  .github/workflows/teardown-environment.yml
Labels: none

chore(ui): fix s3 path
  .github/workflows/teardown-environment.yml
Labels: none

chore(ci): clean up run commands
  .github/workflows/teardown-environment.yml
Labels: none

chore(ci): try invoking virus definition update after deploy
  applications/core/anti-virus/package.json
Labels: applications, core

chore(ci): try again with the definition updates
  .github/workflows/deploy-to-environment.yml
  .github/workflows/update-environment.yml
  applications/core/anti-virus/package.json
Labels: applications, core

chore(ci): deploy and teardown api
  .github/workflows/deploy-to-environment.yml
  .github/workflows/teardown-environment.yml
  .github/workflows/update-environment.yml
  applications/accounts/api/serverless.yml
Labels: applications, accounts

chore(ci): restore packages for api teardown
  .github/workflows/deploy-to-environment.yml
  .github/workflows/teardown-environment.yml
Labels: none

chore(ci): test accounts client
  .github/workflows/deploy-to-environment.yml
  .github/workflows/teardown-environment.yml
  .github/workflows/update-environment.yml
Labels: none

chore(ci): all kinds of changes
  .github/workflows/deploy-to-environment.yml
  .github/workflows/update-environment.yml
  applications/accounts/api/serverless.yml
  applications/accounts/data/serverless.yml
  applications/accounts/notifications/serverless.yml
  applications/accounts/queue/serverless.yml
  applications/accounts/reports/serverless.yml
  applications/accounts/storage/serverless.yml
  applications/core/anti-virus/serverless.yml
  applications/core/comms/serverless.yml
  applications/open-banking/api/serverless.yml
Labels: applications, accounts, core, open-banking

chore(ci): deploy auth0 and try posting env vars
  .github/workflows/deploy-to-environment.yml
  .github/workflows/deploy-to-production.yml
  .github/workflows/deploy.yml
  .github/workflows/label-pr.yml
Labels: none

chore(ci): try again with the publishing
  .github/workflows/deploy-to-environment.yml
Labels: none

chore(ci): some debugging
  .github/workflows/deploy-to-environment.yml
  applications/id/client/serverless.yml
  applications/id/infrastructure/serverless.yml
Labels: applications, id

chore(ci): fix debug
  .github/workflows/deploy-to-environment.yml
Labels: none

chore(ci): try again
  .github/workflows/deploy-to-environment.yml
Labels: none

chore(ci): try yet again
  .github/workflows/deploy-to-environment.yml
Labels: none
