Repository motech-development/platform, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, applications, accounts, core, cypress, id, packages, api-gateway-handler, appsync-apollo, auth, axios-hooks, breeze-ui, ga-web-vitals, node-logger, query-string-hooks, s3-file-operations, serverless-outputs-env, webpack-conditional-plugin, webpack-permissions-plugin

.github/labeler.yml:

repo:
  - changed-files:
      - any-glob-to-any-file: '*'

applications:
  - changed-files:
      - any-glob-to-any-file: applications/**

accounts:
  - changed-files:
      - any-glob-to-any-file: applications/accounts/**

core:
  - changed-files:
      - any-glob-to-any-file: applications/core/**

cypress:
  - changed-files:
      - any-glob-to-any-file: applications/cypress/**

id:
  - changed-files:
      - any-glob-to-any-file: applications/id/**

packages:
  - changed-files:
      - any-glob-to-any-file: packages/**

api-gateway-handler:
  - changed-files:
      - any-glob-to-any-file: packages/api-gateway-handler/**

appsync-apollo:
  - changed-files:
      - any-glob-to-any-file: packages/appsync-apollo/**

auth:
  - changed-files:
      - any-glob-to-any-file: packages/auth/**

axios-hooks:
  - changed-files:
      - any-glob-to-any-file: packages/axios-hooks/**

breeze-ui:
  - changed-files:
      - any-glob-to-any-file: packages/breeze-ui/**

ga-web-vitals:
  - changed-files:
      - any-glob-to-any-file: packages/ga-web-vitals/**

node-logger:
  - changed-files:
      - any-glob-to-any-file: packages/node-logger/**

query-string-hooks:
  - changed-files:
      - any-glob-to-any-file: packages/query-string-hooks/**

s3-file-operations:
  - changed-files:
      - any-glob-to-any-file: packages/s3-file-operations/**

serverless-outputs-env:
  - changed-files:
      - any-glob-to-any-file: packages/serverless-outputs-env/**

webpack-conditional-plugin:
  - changed-files:
      - any-glob-to-any-file: packages/webpack-conditional-plugin/**

webpack-permissions-plugin:
  - changed-files:
      - any-glob-to-any-file: packages/webpack-permissions-plugin/**

Notes added by 'git notes add'
  bb/438696d9b0c5638d5cd7ae40c24f07a53475e4
Labels: none

Notes added by 'git notes add'
  d2/6b99a14cdfad5c22168e4b61616155c3cb4072
Labels: none

Notes added by 'git notes add'
  08/7eee4bdbfc72ce338dffb6ebf1c984f034aff1
Labels: none

Notes added by 'git notes add'
  96/78e2fa516a26e2136dc7e22be343b6f97dbd0f
Labels: none

Notes added by 'git notes add'
  d9/b6971043852bb13a6ea68c111e6d75da2bc221
Labels: none

Notes added by 'git notes add'
  87/895ac7c08f1790a798abf183f7ccdecdf526f3
Labels: none

feat(deps): update typescript-eslint
  packages/eslint-config-motech-base/index.js
  packages/eslint-config-motech-base/package.json
  packages/eslint-config-motech-react/index.js
  packages/eslint-config-motech-react/package.json
Labels: packages

chore(deps): update eslint
  applications/accounts/api/package.json
  applications/accounts/client/package.json
  applications/accounts/data-restore/package.json
  applications/accounts/data/package.json
  applications/accounts/notifications/package.json
  applications/accounts/queue/package.json
  applications/accounts/reports/package.json
  applications/accounts/storage/package.json
  applications/accounts/warm-up/package.json
  applications/core/anti-virus/package.json
  applications/core/comms/package.json
  applications/cypress/api/package.json
  applications/id/client/package.json
  applications/id/tenant/package.json
  packages/api-gateway-handler/package.json
  packages/appsync-apollo/package.json
  packages/auth/package.json
  packages/axios-hooks/package.json
  packages/breeze-ui/package.json
  packages/ga-web-vitals/package.json
  packages/node-logger/package.json
  packages/query-string-hook/package.json
  packages/s3-file-operations/package.json
  packages/serverless-outputs-env/package.json
  packages/webpack-conditional-plugin/package.json
  packages/webpack-permissions-plugin/package.json
  packages/yarn-plugin-dedupe/package.json
  packages/yarn-plugin-prepare/package.json
  yarn.lock
Labels: repo, applications, accounts, core, cypress, id, packages, api-gateway-handler, appsync-apollo, auth, axios-hooks, breeze-ui, ga-web-vitals, node-logger, s3-file-operations, serverless-outputs-env, webpack-conditional-plugin, webpack-permissions-plugin

fix: correct versions
  applications/accounts/client/package.json
  applications/accounts/data-restore/package.json
  yarn.lock
Labels: repo, applications, accounts

feat(deps): update prettier rules
  applications/accounts/api/package.json
  applications/accounts/client/package.json
  applications/accounts/data-restore/package.json
  applications/accounts/data/package.json
  applications/accounts/notifications/package.json
  applications/accounts/queue/package.json
  applications/accounts/reports/package.json
  applications/accounts/storage/package.json
  applications/accounts/warm-up/package.json
  applications/core/anti-virus/package.json
  applications/core/comms/package.json
  applications/cypress/api/package.json
  applications/id/client/package.json
  applications/id/tenant/package.json
  packages/api-gateway-handler/package.json
  packages/appsync-apollo/package.json
  packages/auth/package.json
  packages/axios-hooks/package.json
  packages/breeze-ui/package.json
  packages/eslint-config-motech-base/package.json
  packages/eslint-config-motech-react/package.json
  packages/ga-web-vitals/package.json
  packages/node-logger/package.json
  packages/query-string-hook/package.json
  packages/s3-file-operations/package.json
  packages/semantic-release/package.json
  packages/serverless-outputs-env/package.json
  packages/webpack-conditional-plugin/package.json
  packages/webpack-permissions-plugin/package.json
  packages/yarn-plugin-dedupe/package.json
  packages/yarn-plugin-prepare/package.json
  yarn.lock
Labels: repo, applications, accounts, core, cypress, id, packages, api-gateway-handler, appsync-apollo, auth, axios-hooks, breeze-ui, ga-web-vitals, node-logger, s3-file-operations, serverless-outputs-env, webpack-conditional-plugin, webpack-permissions-plugin

test: fix linting
  applications/accounts/data/src/handlers/__tests__/confirm-transactions.test.ts
  applications/accounts/data/src/handlers/__tests__/insert-scheduled-transactions.test.ts
  applications/accounts/data/src/handlers/__tests__/insert-transactions.test.ts
  applications/accounts/data/src/handlers/__tests__/insert-typeahead.test.ts
  applications/accounts/data/src/handlers/__tests__/remove-scheduled-transactions.test.ts
  applications/accounts/data/src/handlers/__tests__/remove-transactions.test.ts
  applications/accounts/data/src/handlers/__tests__/update-attachments.test.ts
  applications/accounts/data/src/handlers/__tests__/update-scheduled-transactions.test.ts
  applications/accounts/data/src/handlers/__tests__/update-transactions.test.ts
Labels: applications, accounts

fix: linting
  applications/accounts/notifications/src/handlers/create-notification.ts
Labels: applications, accounts

fix: linting
  applications/accounts/storage/src/handlers/signed-download.ts
  applications/accounts/storage/src/handlers/signed-upload.ts
Labels: applications, accounts

fix: linting
  applications/cypress/api/src/handlers/github-status.ts
Labels: applications, cypress

fix: linting
  applications/accounts/client/src/components/ClientForm.tsx
  applications/accounts/client/src/components/CompanyForm.tsx
  applications/accounts/client/src/components/CompanyWizard.tsx
  applications/accounts/client/src/components/ConfirmDelete.tsx
  applications/accounts/client/src/components/DeleteItem.tsx
  applications/accounts/client/src/components/FileDownload.tsx
  applications/accounts/client/src/components/SettingsForm.tsx
  applications/accounts/client/src/components/TransactionForm.tsx
  applications/accounts/client/src/components/UserBar.tsx
  applications/accounts/client/src/pages/MyCompanies/Accounts/shared/ViewAttachment.tsx
Labels: applications, accounts

fix: linting
  applications/id/client/src/components/AuthForm.tsx
  applications/id/client/src/components/ForgottenPasswordForm.tsx
  applications/id/client/src/pages/views/ForgottenPassword.tsx
  applications/id/client/src/pages/views/LogIn.tsx
  applications/id/client/src/pages/views/ResetPassword.tsx
  applications/id/client/src/pages/views/SignUp.tsx
Labels: applications, id

fix: linting
  packages/appsync-apollo/src/Apollo/Apollo.tsx
Labels: packages, appsync-apollo

fix: linting
  packages/auth/src/WithAuth.tsx
Labels: packages, auth

fix: linting
  packages/breeze-ui/src/BaseStyles/BaseStyles.tsx
  packages/breeze-ui/src/Calendar/Calendar.tsx
  packages/breeze-ui/src/CheckBox/CheckBox.tsx
  packages/breeze-ui/src/FieldSet/FieldSet.tsx
  packages/breeze-ui/src/FileUpload/FileUpload.tsx
  packages/breeze-ui/src/Form/Form.tsx
  packages/breeze-ui/src/Notifications/Notifications.tsx
  packages/breeze-ui/src/Radio/Radio.tsx
  packages/breeze-ui/src/Select/Select.tsx
  packages/breeze-ui/src/Stepper/Stepper.tsx
  packages/breeze-ui/src/TextBox/TextBox.tsx
Labels: packages, breeze-ui

Notes added by 'git notes add'
  f7/c358cf7af240ead6dad6bbbcbbaea3a45483e6
Labels: none

test: update snapshot
  applications/accounts/data-restore/lib/__tests__/__snapshots__/data-restore-stack.test.ts.snap
Labels: applications, accounts

test: update snapshot
  applications/accounts/data-restore/lib/__tests__/__snapshots__/data-restore-stack.test.ts.snap
Labels: applications, accounts

test: remove focus event
  packages/breeze-ui/src/Form/__tests__/Form.tsx
Labels: packages, breeze-ui

test: remove focus event
  packages/breeze-ui/src/Form/__tests__/Form.tsx
Labels: packages, breeze-ui

fix(deps): update dependency @sentry/profiling-node to v8.49.0
  applications/accounts/api/package.json
  applications/accounts/data/package.json
  applications/accounts/queue/package.json
  applications/accounts/reports/package.json
  applications/accounts/storage/package.json
  applications/accounts/warm-up/package.json
  applications/core/anti-virus/package.json
  applications/core/comms/package.json
  yarn.lock
Labels: repo, applications, accounts, core

fix(deps): update dependency @sentry/profiling-node to v8.49.0
  applications/accounts/api/package.json
  applications/accounts/data/package.json
  applications/accounts/queue/package.json
  applications/accounts/reports/package.json
  applications/accounts/storage/package.json
  applications/accounts/warm-up/package.json
  applications/core/anti-virus/package.json
  applications/core/comms/package.json
  yarn.lock
Labels: repo, applications, accounts, core

Notes added by 'git notes add'
  13/31c4de3a187fedaa605a16c0c7c5dba3d6140f
Labels: none

ci: update sonarqube action
  .github/workflows/quality-assurance.yml
Labels: none

ci: update sonarqube action
  .github/workflows/quality-assurance.yml
Labels: none

ci: update sonarqube action
  .github/workflows/quality-assurance.yml
Labels: none

ci: update sonarqube action
  .github/workflows/quality-assurance.yml
Labels: none

ci: update sonarqube action
  .github/workflows/deploy-to-production.yml
Labels: none

Notes added by 'git notes add'
  46/4936d8c84f50a0636d615f84ecc1f0ff1e7752
Labels: none

Notes added by 'git notes add'
  b0/5b2cd587acd9f47f524f675af9419c8976963c
Labels: none

Notes added by 'git notes add'
  3d/5befcc72792ba281504b7b9c6ce201ae228bb9
Labels: none

Notes added by 'git notes add'
  71/2194abfc36dbfcce82433e62ae72253866412c
Labels: none

feat: add tailwind plugin
  .prettierignore.backup
  packages/prettier-motech-config/package.json
  packages/project-tailwind/src/stories/Select.stories.tsx
Labels: repo, packages

feat: add storybook lint plugin
  packages/eslint-config-motech-react/index.js
  packages/eslint-config-motech-react/package.json
Labels: packages

feat: alert component
  .yarnrc.yml
  packages/project-tailwind/.eslintrc.json
  packages/project-tailwind/.prettierrc.json
  packages/project-tailwind/.releaserc.json
  packages/project-tailwind/.storybook/main.js
  packages/project-tailwind/.storybook/preview.js
  packages/project-tailwind/babel.config.js
  packages/project-tailwind/package.json
  packages/project-tailwind/postcss.config.js
  packages/project-tailwind/rollup.config.js
  packages/project-tailwind/src/components/Alert.tsx
  packages/project-tailwind/src/components/__tests__/Alert.test.tsx
  packages/project-tailwind/src/components/__tests__/__snapshots__/Alert.test.tsx.snap
  packages/project-tailwind/src/index.ts
  packages/project-tailwind/src/setupTests.ts
  packages/project-tailwind/src/stories/Alert.stories.tsx
  packages/project-tailwind/src/styles/tailwind.css
  packages/project-tailwind/src/utilities/__tests__/__snapshots__/tailwind.test.ts.snap
  packages/project-tailwind/src/utilities/__tests__/tailwind.test.ts
  packages/project-tailwind/src/utilities/jest.ts
  packages/project-tailwind/src/utilities/tailwind.ts
  packages/project-tailwind/tailwind.config.js
  packages/project-tailwind/tsconfig.build.json
  packages/project-tailwind/tsconfig.eslint.json
  packages/project-tailwind/tsconfig.json
  yarn.lock
Labels: repo, packages

feat: logo component
  packages/project-tailwind/src/components/Alert.tsx
  packages/project-tailwind/src/components/Logo.tsx
  packages/project-tailwind/src/components/__tests__/Logo.test.tsx
  packages/project-tailwind/src/components/__tests__/__snapshots__/Logo.test.tsx.snap
  packages/project-tailwind/src/index.ts
  packages/project-tailwind/src/stories/Alert.stories.tsx
  packages/project-tailwind/src/stories/Logo.stories.tsx
Labels: packages
