Repository motech-development/platform, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, applications, accounts, core, id, open-banking, packages, api-gateway-handler, auth, axios-hooks, breeze-ui, ga-web-vitals, query-string-hooks, serverless-outputs-env, webpack-conditional-plugin, webpack-permissions-plugin

chore(accounts): ui fixes
  applications/accounts/client/src/components/TransactionDetailsCell.tsx
  applications/accounts/client/src/components/__tests__/TransactionDetailsCell.tsx
  packages/breeze-ui/src/Notifications/Notifications.tsx
Labels: applications, accounts, packages, breeze-ui

chore(accounts): bootstrap app
  .vscode/settings.json
  applications/accounts/scanner/.env
  applications/accounts/scanner/.eslintrc.yml
  applications/accounts/scanner/.gitignore
  applications/accounts/scanner/.lintstagedrc.yml
  applications/accounts/scanner/config-overrides.js
  applications/accounts/scanner/ionic.config.json
  applications/accounts/scanner/package-lock.json
  applications/accounts/scanner/package.json
  applications/accounts/scanner/public/assets/icon/favicon.png
  applications/accounts/scanner/public/assets/icon/icon.png
  applications/accounts/scanner/public/assets/shapes.svg
  applications/accounts/scanner/public/index.html
  applications/accounts/scanner/public/manifest.json
  applications/accounts/scanner/src/App.tsx
  applications/accounts/scanner/src/components/Page.tsx
  applications/accounts/scanner/src/history.ts
  applications/accounts/scanner/src/index.tsx
  applications/accounts/scanner/src/pages/Login.tsx
  applications/accounts/scanner/src/pages/MyCompanies.tsx
  applications/accounts/scanner/src/pages/Profile.tsx
  applications/accounts/scanner/src/react-app-env.d.ts
  applications/accounts/scanner/src/serviceWorker.ts
  applications/accounts/scanner/src/setupTests.ts
  applications/accounts/scanner/src/theme/variables.css
  applications/accounts/scanner/src/utils/withAuth.tsx
  applications/accounts/scanner/tsconfig.json
Labels: applications, accounts

chore(accounts): app log in page
  applications/accounts/scanner/package-lock.json
  applications/accounts/scanner/package.json
  applications/accounts/scanner/public/locales/en/log-in.json
  applications/accounts/scanner/src/i18n.ts
  applications/accounts/scanner/src/index.tsx
  applications/accounts/scanner/src/pages/Login.tsx
  applications/accounts/scanner/src/utils/withAuth.tsx
Labels: applications, accounts

chore(accounts): profile view
  applications/accounts/scanner/public/locales/en/profile.json
  applications/accounts/scanner/src/App.tsx
  applications/accounts/scanner/src/pages/Profile.tsx
Labels: applications, accounts

chore(accounts): start scanner tests
  applications/accounts/scanner/src/components/Page.tsx
  applications/accounts/scanner/src/components/__tests__/Page.tsx
  sonar-project.properties
Labels: repo, applications, accounts

chore(accounts): rename file
  applications/accounts/scanner/src/pages/LogIn.tsx
Labels: applications, accounts

chore(auth): remove hoc and replace with component
  packages/auth/package-lock.json
  packages/auth/package.json
  packages/auth/src/WithAuth.tsx
  packages/auth/src/__tests__/WithAuth.tsx
  packages/auth/src/index.ts
  packages/auth/src/withAuth.tsx
Labels: packages, auth

chore(auth): update tests
  packages/auth/src/__tests__/WithAuth.tsx
Labels: packages, auth

chore(accounts): update with auth
  applications/accounts/client/src/App.tsx
Labels: applications, accounts

chore(accounts): scanner app tests
  applications/accounts/scanner/package-lock.json
  applications/accounts/scanner/package.json
  applications/accounts/scanner/src/pages/Profile.tsx
  applications/accounts/scanner/src/pages/__tests__/LogIn.tsx
  applications/accounts/scanner/src/pages/__tests__/Profile.tsx
  applications/accounts/scanner/src/setupTests.ts
  applications/accounts/scanner/src/utils/TestProvider.tsx
  applications/accounts/scanner/src/utils/__tests__/withAuth.tsx
  applications/accounts/scanner/src/utils/withAuth.tsx
Labels: applications, accounts

chore(accounts): set to dark
  applications/accounts/scanner/src/App.tsx
  applications/accounts/scanner/src/components/Page.tsx
  applications/accounts/scanner/src/pages/Profile.tsx
Labels: applications, accounts

chore(accounts): app theme and receipts template
  applications/accounts/scanner/package-lock.json
  applications/accounts/scanner/package.json
  applications/accounts/scanner/public/locales/en/global.json
  applications/accounts/scanner/public/locales/en/receipts.json
  applications/accounts/scanner/src/App.tsx
  applications/accounts/scanner/src/pages/LogIn.tsx
  applications/accounts/scanner/src/pages/MyCompanies.tsx
  applications/accounts/scanner/src/pages/Receipts.tsx
  applications/accounts/scanner/src/pages/__tests__/LogIn.tsx
  applications/accounts/scanner/src/theme/variables.css
  applications/accounts/scanner/src/utils/withAuth.tsx
Labels: applications, accounts

chore(accounts): capacitor and scan screen
  applications/accounts/scanner/capacitor.config.json
  applications/accounts/scanner/ionic.config.json
  applications/accounts/scanner/package-lock.json
  applications/accounts/scanner/package.json
  applications/accounts/scanner/public/index.html
  applications/accounts/scanner/public/locales/en/scan.json
  applications/accounts/scanner/public/manifest.json
  applications/accounts/scanner/src/App.tsx
  applications/accounts/scanner/src/pages/Scan.tsx
  package-lock.json
  package.json
Labels: repo, applications, accounts

chore(auth): expose more auth0 methods
  packages/auth/src/AuthProvider.tsx
Labels: packages, auth

chore(accounts): update client test provider
  applications/accounts/client/src/utils/TestProvider.tsx
Labels: applications, accounts

chore(id): update tenant with scanner application
  applications/id/tenant/tenant.yaml
Labels: applications, id

chore(accounts): more tweaks
  applications/accounts/scanner/src/App.tsx
  applications/accounts/scanner/src/__mocks__/@capacitor/core.ts
  applications/accounts/scanner/src/index.tsx
  applications/accounts/scanner/src/pages/LogIn.tsx
  applications/accounts/scanner/src/pages/Scan.tsx
  applications/accounts/scanner/src/pages/__tests__/LogIn.tsx
  applications/accounts/scanner/src/utils/__tests__/withAuth.tsx
  applications/accounts/scanner/src/utils/bootstrap.tsx
  applications/accounts/scanner/src/utils/withAuth.tsx
Labels: applications, accounts

chore(accounts): more rejigging
  applications/accounts/scanner/src/index.tsx
  applications/accounts/scanner/src/pages/LogIn.tsx
Labels: applications, accounts

chore(accounts): use new apollo client
  applications/accounts/client/package.json
  applications/accounts/client/public/locales/en/apollo-client.json
  applications/accounts/client/src/components/Apollo.tsx
  applications/accounts/client/src/components/ApolloClient.tsx
  applications/accounts/client/src/components/__tests__/ApolloClient.tsx
  applications/accounts/client/src/pages/MyCompanies/index.tsx
Labels: applications, accounts

feat(appsync-apollo): new package
  .vscode/settings.json
  README.md
  applications/accounts/client/src/components/__tests__/ApolloClient.tsx
  packages/appsync-apollo/.eslintrc.yml
  packages/appsync-apollo/.lintstagedrc.yml
  packages/appsync-apollo/babel.config.js
  packages/appsync-apollo/package-lock.json
  packages/appsync-apollo/package.json
  packages/appsync-apollo/rollup.config.js
  packages/appsync-apollo/src/Apollo/Apollo.tsx
  packages/appsync-apollo/src/Apollo/__tests__/Apollo.tsx
  packages/appsync-apollo/src/index.ts
  packages/appsync-apollo/src/setupTests.ts
  packages/appsync-apollo/tsconfig.json
  sonar-project.properties
Labels: repo, applications, accounts, packages

chore(accounts): add apollo to app
  applications/accounts/scanner/package-lock.json
  applications/accounts/scanner/package.json
  applications/accounts/scanner/public/locales/en/error-card.json
  applications/accounts/scanner/public/locales/en/error-page.json
  applications/accounts/scanner/src/App.tsx
  applications/accounts/scanner/src/components/ErrorCard.tsx
  applications/accounts/scanner/src/components/ErrorPage.tsx
  applications/accounts/scanner/src/components/IonCardButton.tsx
  applications/accounts/scanner/src/pages/LogIn.tsx
Labels: applications, accounts

chore(accounts): some tests
  applications/accounts/scanner/src/components/__tests__/ErrorCard.tsx
  applications/accounts/scanner/src/components/__tests__/ErrorPage.tsx
Labels: applications, accounts

chore(accounts): connected component
  applications/accounts/client/src/components/Connected.tsx
  applications/accounts/scanner/package-lock.json
  applications/accounts/scanner/package.json
  applications/accounts/scanner/src/components/Connected.tsx
  applications/accounts/scanner/src/components/__tests__/Connected.tsx
Labels: applications, accounts

chore(accounts): plug in some real data
  applications/accounts/scanner/public/locales/en/my-companies.json
  applications/accounts/scanner/public/locales/en/receipts.json
  applications/accounts/scanner/src/App.tsx
  applications/accounts/scanner/src/components/Page.tsx
  applications/accounts/scanner/src/pages/LogIn.tsx
  applications/accounts/scanner/src/pages/MyCompanies.tsx
  applications/accounts/scanner/src/pages/Receipts.tsx
  applications/accounts/scanner/src/pages/Transactions.tsx
  applications/accounts/scanner/src/pages/__tests__/LogIn.tsx
Labels: applications, accounts

chore(accounts): fix failing test
  applications/accounts/scanner/src/pages/__tests__/LogIn.tsx
Labels: applications, accounts

chore(accounts): theme fixing
  applications/accounts/scanner/src/App.tsx
  applications/accounts/scanner/src/components/Page.tsx
  applications/accounts/scanner/src/pages/LogIn.tsx
  applications/accounts/scanner/src/pages/MyCompanies.tsx
  applications/accounts/scanner/src/pages/Profile.tsx
  applications/accounts/scanner/src/theme/variables.css
  applications/accounts/scanner/src/utils/withAuth.tsx
Labels: applications, accounts

chore(accounts): transactions screen
  applications/accounts/client/src/components/TransactionsList.tsx
  applications/accounts/client/src/pages/MyCompanies/Accounts/Accounts.tsx
  applications/accounts/client/src/pages/MyCompanies/Accounts/PendingTransactions.tsx
  applications/accounts/client/src/pages/MyCompanies/Settings/Bank/SelectAccount.tsx
  applications/accounts/scanner/public/locales/en/my-companies.json
  applications/accounts/scanner/public/locales/en/transactions.json
  applications/accounts/scanner/src/components/DataList.tsx
  applications/accounts/scanner/src/components/ErrorCard.tsx
  applications/accounts/scanner/src/pages/LogIn.tsx
  applications/accounts/scanner/src/pages/MyCompanies.tsx
  applications/accounts/scanner/src/pages/Transactions.tsx
  packages/breeze-ui/src/Currency/Currency.tsx
  packages/breeze-ui/src/Currency/__tests__/Currency.tsx
  packages/breeze-ui/src/index.ts
Labels: applications, accounts, packages, breeze-ui

chore(accounts): fix log in issue
  applications/accounts/scanner/package.json
  applications/accounts/scanner/src/index.tsx
  packages/appsync-apollo/package-lock.json
Labels: applications, accounts, packages

chore(accounts): some more unit tests
  applications/accounts/client/package-lock.json
  applications/accounts/client/package.json
  applications/accounts/client/src/__tests__/App.tsx
  applications/accounts/scanner/src/components/__tests__/DataList.tsx
  applications/accounts/scanner/src/pages/MyCompanies.tsx
  applications/accounts/scanner/src/pages/__tests__/MyCompanies.tsx
  package-lock.json
  package.json
Labels: repo, applications, accounts

chore(accounts): fix up tests
  applications/accounts/client/src/__tests__/App.tsx
  applications/accounts/client/src/utils/TestProvider.tsx
Labels: applications, accounts

chore(accounts): break things with auth
  applications/accounts/scanner/capacitor.config.json
  applications/accounts/scanner/ios/App/App/Info.plist
  applications/accounts/scanner/package-lock.json
  applications/accounts/scanner/package.json
  applications/accounts/scanner/src/App.tsx
  applications/id/tenant/tenant.yaml
Labels: applications, accounts, id

chore(accounts): housekeeping
  applications/accounts/client/cypress/integration/smoke-tests.spec.ts
  applications/accounts/scanner/capacitor.config.json
  applications/accounts/scanner/ios/App/App.xcodeproj/project.pbxproj
  applications/accounts/scanner/ios/App/App.xcodeproj/xcshareddata/xcschemes/App.xcscheme
  applications/accounts/scanner/ios/App/App/capacitor.config.json
  package-lock.json
  package.json
Labels: repo, applications, accounts

chore(accounts): form ui
  applications/accounts/scanner/public/locales/en/record-transaction.json
  applications/accounts/scanner/public/locales/en/transaction-form.json
  applications/accounts/scanner/src/App.tsx
  applications/accounts/scanner/src/components/TransactionForm.tsx
  applications/accounts/scanner/src/pages/RecordTransaction.tsx
  applications/accounts/scanner/src/pages/Transactions.tsx
Labels: applications, accounts

chore(platform): reinstate cypress recordings on PRs
  .github/workflows/pull-request-checks.yml
  .vscode/settings.json
Labels: none

chore(platform): port over fixes from other branch
  applications/accounts/client/cypress.json
  applications/accounts/client/cypress/integration/smoke-tests.spec.ts
  package-lock.json
  package.json
Labels: repo, applications, accounts

chore(core): add SPF record
  applications/core/comms/serverless.yml
  applications/core/comms/src/__tests__/verify-domain.ts
  applications/core/comms/src/verify-domain.ts
Labels: applications, core

chore(accounts): attempt 1
  applications/accounts/client/cypress/integration/smoke-tests.spec.ts
Labels: applications, accounts

chore(accounts): more test changes
  .github/workflows/pull-request-checks.yml
  applications/accounts/client/cypress/integration/smoke-tests.spec.ts
Labels: applications, accounts

chore(accounts): update cypress
  applications/accounts/client/cypress.json
  applications/accounts/client/cypress/integration/smoke-tests.spec.ts
  package-lock.json
  package.json
Labels: repo, applications, accounts

chore(accounts): split test specs
  .github/workflows/checks.yml
  .github/workflows/pull-request-checks.yml
  applications/accounts/client/cypress/integration/non-vat-registered.spec.ts
  applications/accounts/client/cypress/integration/smoke-tests.spec.ts
  applications/accounts/client/cypress/integration/vat-registered.spec.ts
  applications/accounts/client/cypress/support/index.js
  applications/accounts/client/cypress/support/setup.js
  applications/accounts/client/src/pages/MyCompanies/MyCompanies.tsx
Labels: applications, accounts

.github/labeler.yml:

repo:
  - ./*

applications:
  - applications/*
  - applications/**/*

accounts:
  - applications/accounts/*
  - applications/accounts/**/*

core:
  - applications/core/*
  - applications/core/**/*

id:
  - applications/id/*
  - applications/id/**/*

open-banking:
  - applications/open-banking/*
  - applications/open-banking/**/*

packages:
  - packages/*
  - packages/**/*

api-gateway-handler:
  - packages/api-gateway-handler/*
  - packages/api-gateway-handler/**/*

auth:
  - packages/auth/*
  - packages/auth/**/*

axios-hooks:
  - packages/axios-hooks/*
  - packages/axios-hooks/**/*

breeze-ui:
  - packages/breeze-ui/*
  - packages/breeze-ui/**/*

ga-web-vitals:
  - packages/ga-web-vitals/*
  - packages/ga-web-vitals/**/*

query-string-hooks:
  - packages/query-string-hooks/*
  - packages/query-string-hooks/**/*

serverless-outputs-env:
  - packages/serverless-outputs-env/*
  - packages/serverless-outputs-env/**/*

webpack-conditional-plugin:
  - packages/webpack-conditional-plugin/*
  - packages/webpack-conditional-plugin/**/*

webpack-permissions-plugin:
  - packages/webpack-permissions-plugin/*
  - packages/webpack-permissions-plugin/**/*
