Repository motech-development/platform, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, applications, accounts, core, id, open-banking, packages, api-gateway-handler, auth, axios-hooks, breeze-ui, ga-web-vitals, query-string-hooks, serverless-outputs-env, webpack-conditional-plugin, webpack-permissions-plugin

chore: more updates
  package-lock.json
  package.json
  packages/appsync-apollo/package-lock.json
  packages/appsync-apollo/package.json
  packages/auth/package-lock.json
  packages/auth/package.json
  packages/breeze-ui/package-lock.json
  packages/breeze-ui/package.json
Labels: repo, packages, auth, breeze-ui

chore: update to React 17
  applications/accounts/client/package-lock.json
  applications/accounts/client/package.json
  applications/accounts/storage/package-lock.json
  applications/accounts/storage/package.json
  applications/core/comms/package-lock.json
  applications/core/comms/package.json
  applications/id/client/package-lock.json
  applications/id/client/package.json
  applications/open-banking/api/package-lock.json
  applications/open-banking/api/package.json
  package-lock.json
  package.json
  packages/appsync-apollo/package-lock.json
  packages/appsync-apollo/package.json
  packages/auth/package-lock.json
  packages/auth/package.json
  packages/axios-hooks/package-lock.json
  packages/axios-hooks/package.json
  packages/breeze-ui/package-lock.json
  packages/breeze-ui/package.json
  packages/breeze-ui/src/Alert/Alert.tsx
  packages/breeze-ui/src/Tooltip/Tooltip.tsx
  packages/query-string-hook/package-lock.json
  packages/query-string-hook/package.json
Labels: repo, applications, accounts, core, id, open-banking, packages, auth, axios-hooks, breeze-ui

chore: revert some updates
  applications/accounts/client/package-lock.json
  applications/accounts/client/package.json
  applications/id/client/package-lock.json
  applications/id/client/package.json
  package-lock.json
  package.json
  packages/appsync-apollo/package-lock.json
  packages/appsync-apollo/package.json
  packages/auth/package-lock.json
  packages/auth/package.json
  packages/axios-hooks/package-lock.json
  packages/axios-hooks/package.json
  packages/breeze-ui/package-lock.json
  packages/breeze-ui/package.json
  packages/query-string-hook/package-lock.json
  packages/query-string-hook/package.json
Labels: repo, applications, accounts, id, packages, auth, axios-hooks, breeze-ui

chore: update to React 17 again
  applications/accounts/client/cypress/tsconfig.json
  applications/accounts/client/package-lock.json
  applications/accounts/client/package.json
  applications/id/client/package-lock.json
  applications/id/client/package.json
  package-lock.json
  package.json
  packages/appsync-apollo/package-lock.json
  packages/appsync-apollo/package.json
  packages/auth/package-lock.json
  packages/auth/package.json
  packages/axios-hooks/package-lock.json
  packages/axios-hooks/package.json
  packages/breeze-ui/package-lock.json
  packages/breeze-ui/package.json
  packages/breeze-ui/src/CheckBox/__tests__/CheckBox.tsx
  packages/breeze-ui/src/Radio/__tests__/Radio.tsx
  packages/breeze-ui/src/Select/__tests__/Select.tsx
  packages/breeze-ui/src/TextBox/__tests__/TextBox.tsx
  packages/breeze-ui/src/Tooltip/__tests__/Tooltip.tsx
  packages/query-string-hook/package-lock.json
  packages/query-string-hook/package.json
Labels: repo, applications, accounts, id, packages, auth, axios-hooks, breeze-ui

fix: fix flaky tests by adding setFieldTouched
  applications/accounts/client/package-lock.json
  applications/accounts/client/package.json
  applications/accounts/client/src/pages/MyCompanies/__tests__/UpdateDetails.tsx
  applications/id/client/package-lock.json
  applications/id/client/package.json
  packages/breeze-ui/package.json
  packages/breeze-ui/src/CheckBox/CheckBox.tsx
  packages/breeze-ui/src/FileUpload/FileUpload.tsx
  packages/breeze-ui/src/FileUpload/__tests__/FileUpload.tsx
  packages/breeze-ui/src/Form/Form.tsx
  packages/breeze-ui/src/Notifications/Notifications.tsx
  packages/breeze-ui/src/Radio/Radio.tsx
  packages/breeze-ui/src/Select/Select.tsx
  packages/breeze-ui/src/Stepper/Stepper.tsx
  packages/breeze-ui/src/TextBox/TextBox.tsx
  packages/breeze-ui/src/Typography/Typography.tsx
Labels: applications, accounts, id, packages, breeze-ui

chore: exclude failing tests
  applications/accounts/client/src/components/Connected.tsx
  applications/accounts/client/src/pages/MyCompanies/Accounts/__tests__/RecordTransaction.tsx
  applications/accounts/client/src/pages/MyCompanies/Accounts/__tests__/ViewTransaction.tsx
  applications/accounts/client/src/pages/MyCompanies/Clients/__tests__/UpdateDetails.tsx
  applications/accounts/client/src/pages/MyCompanies/__tests__/UpdateDetails.tsx
  applications/id/client/src/pages/__tests__/Login.tsx
  package-lock.json
  package.json
Labels: repo, applications, accounts, id

chore: fix up tests that use delete after typescript breaking changes
  applications/accounts/storage/src/handlers/__tests__/signed-download.ts
  applications/accounts/storage/src/handlers/__tests__/signed-upload.ts
  applications/open-banking/api/src/handlers/__tests__/delete-user.ts
  packages/serverless-outputs-env/src/__tests__/outputs-env-plugin.ts
Labels: applications, accounts, open-banking, packages, serverless-outputs-env

chore(ui): fix test race conditions
  packages/breeze-ui/src/TextBox/__tests__/TextBox.tsx
Labels: packages, breeze-ui

chore(ui): fix test conditions
  packages/breeze-ui/src/TextBox/__tests__/TextBox.tsx
Labels: packages, breeze-ui

chore(accounts): disable cypress recording
  applications/accounts/client/cypress.json
Labels: applications, accounts

chore: exclude flaky test
  applications/accounts/client/src/pages/MyCompanies/Accounts/__tests__/RecordTransaction.tsx
Labels: applications, accounts

revert: go back to old version of cypress
  applications/accounts/client/cypress.json
  package-lock.json
  package.json
Labels: repo, applications, accounts

chore: fresh package-locks
  applications/accounts/api/package-lock.json
  applications/accounts/client/package-lock.json
  applications/accounts/client/package.json
  applications/accounts/client/src/pages/MyCompanies/Accounts/__tests__/RecordTransaction.tsx
  applications/accounts/client/src/pages/MyCompanies/Accounts/shared/UploadAttachment.tsx
  applications/accounts/client/src/pages/MyCompanies/Clients/__tests__/AddClient.tsx
  applications/accounts/client/src/pages/MyCompanies/__tests__/AddCompany.tsx
  applications/accounts/client/src/setupTests.ts
  applications/accounts/data/package-lock.json
  applications/accounts/infrastructure/package-lock.json
  applications/accounts/notifications/package-lock.json
  applications/accounts/queue/package-lock.json
  applications/accounts/storage/package-lock.json
  applications/core/anti-virus/package-lock.json
  applications/core/comms/package-lock.json
  applications/core/infrastructure/package-lock.json
  applications/id/client/package-lock.json
  applications/id/client/src/setupTests.ts
  applications/id/infrastructure/package-lock.json
  applications/id/tenant/package-lock.json
  applications/open-banking/api/package-lock.json
  packages/appsync-apollo/package-lock.json
  packages/appsync-apollo/package.json
  packages/appsync-apollo/src/setupTests.ts
  packages/auth/package-lock.json
  packages/auth/src/AuthProvider.tsx
  packages/auth/src/ConditionalRoute.tsx
  packages/auth/src/ProtectedRoute.tsx
  packages/auth/src/setupTests.ts
  packages/axios-hooks/src/axios-hooks.ts
  packages/breeze-ui/package-lock.json
  packages/query-string-hook/package-lock.json
  packages/serverless-outputs-env/package-lock.json
  packages/webpack-permissions-plugin/package-lock.json
Labels: applications, accounts, core, id, open-banking, packages, auth, axios-hooks, breeze-ui, serverless-outputs-env, webpack-permissions-plugin

test: reinstate and fix broken tests
  applications/accounts/client/src/components/ConfirmDelete.tsx
  applications/accounts/client/src/pages/MyCompanies/Accounts/__tests__/RecordTransaction.tsx
  applications/accounts/client/src/pages/MyCompanies/Accounts/__tests__/ViewTransaction.tsx
  applications/accounts/client/src/pages/MyCompanies/Accounts/shared/UploadAttachment.tsx
  applications/accounts/client/src/pages/MyCompanies/Clients/__tests__/AddClient.tsx
  applications/accounts/client/src/pages/MyCompanies/Clients/__tests__/UpdateDetails.tsx
  applications/accounts/client/src/pages/MyCompanies/__tests__/AddCompany.tsx
  applications/accounts/client/src/pages/MyCompanies/__tests__/UpdateDetails.tsx
  applications/accounts/client/src/setupTests.ts
  applications/id/client/src/components/AuthForm.tsx
  applications/id/client/src/components/FormFooter.tsx
  applications/id/client/src/pages/__tests__/Login.tsx
  applications/id/client/src/pages/__tests__/Reset.tsx
  package-lock.json
  package.json
  packages/breeze-ui/src/FileUpload/FileUpload.tsx
  packages/breeze-ui/src/TextBox/TextBox.tsx
Labels: repo, applications, accounts, id, packages, breeze-ui

chore(accounts): disable cypress video recording
  applications/accounts/client/cypress.json
Labels: applications, accounts

fix(accounts): fix bug where view was not updated when attachment uploaded
  applications/accounts/client/cypress.json
  applications/accounts/client/src/pages/MyCompanies/Accounts/shared/UploadAttachment.tsx
Labels: applications, accounts

chore(ui): fix up storybook stories after update
  packages/breeze-ui/.storybook/main.ts
  packages/breeze-ui/.storybook/webpack.config.js
  packages/breeze-ui/package-lock.json
  packages/breeze-ui/src/Alert/Alert.stories.tsx
  packages/breeze-ui/src/AppBar/AppBar.stories.tsx
  packages/breeze-ui/src/Avatar/Avatar.stories.tsx
  packages/breeze-ui/src/Button/Button.stories.tsx
  packages/breeze-ui/src/ButtonLink/ButtonLink.stories.tsx
  packages/breeze-ui/src/Calendar/Calendar.stories.tsx
  packages/breeze-ui/src/Card/Card.stories.tsx
  packages/breeze-ui/src/Content/Content.stories.tsx
  packages/breeze-ui/src/DataTable/DataTable.stories.tsx
  packages/breeze-ui/src/Form/Form.stories.tsx
  packages/breeze-ui/src/Form/Form.tsx
  packages/breeze-ui/src/Grid/Grid.stories.tsx
  packages/breeze-ui/src/Link/Link.stories.tsx
  packages/breeze-ui/src/LinkButton/LinkButton.stories.tsx
  packages/breeze-ui/src/Loader/Loader.stories.tsx
  packages/breeze-ui/src/Masonry/Masonry.stories.tsx
  packages/breeze-ui/src/Modal/Modal.stories.tsx
  packages/breeze-ui/src/PageTitle/PageTitle.stories.tsx
  packages/breeze-ui/src/ProgressBar/ProgressBar.stories.tsx
  packages/breeze-ui/src/Stepper/Stepper.stories.tsx
  packages/breeze-ui/src/Table/Table.stories.tsx
  packages/breeze-ui/src/Tooltip/Tooltip.stories.tsx
  packages/breeze-ui/src/Typography/Typography.stories.tsx
Labels: packages, breeze-ui

fix(ui): add aria label to form to make valid
  packages/breeze-ui/src/Form/Form.tsx
Labels: packages, breeze-ui

revert(axios-hooks): revert mount check
  packages/axios-hooks/src/axios-hooks.ts
Labels: packages, axios-hooks

chore: update dependabot config
  .github/dependabot.yml
Labels: none

fix(accounts): update to use new cra service worker
  applications/accounts/client/config-overrides.js
  applications/accounts/client/package-lock.json
  applications/accounts/client/package.json
  applications/accounts/client/src/index.tsx
  applications/accounts/client/src/service-worker.ts
  applications/accounts/client/src/serviceWorkerRegistration.ts
  package.json
Labels: repo, applications, accounts

chore: update serverless config
  applications/accounts/api/serverless.yml
  applications/accounts/client/serverless.yml
  applications/accounts/data/serverless.yml
  applications/accounts/infrastructure/serverless.yml
  applications/accounts/notifications/serverless.yml
  applications/accounts/queue/serverless.yml
  applications/accounts/storage/serverless.yml
  applications/core/anti-virus/serverless.yml
  applications/core/comms/serverless.yml
  applications/core/infrastructure/serverless.yml
  applications/id/client/serverless.yml
  applications/id/infrastructure/serverless.yml
  applications/open-banking/api/serverless.yml
  package-lock.json
Labels: repo, applications, accounts, core, id, open-banking

chore: update deps part 1
  applications/accounts/client/package-lock.json
  applications/accounts/client/package.json
  applications/id/client/package.json
  packages/appsync-apollo/package-lock.json
  packages/appsync-apollo/package.json
  packages/auth/package-lock.json
  packages/auth/package.json
  packages/breeze-ui/package.json
Labels: applications, accounts, id, packages, auth, breeze-ui

chore: update deps part 2
  applications/accounts/api/package.json
  applications/accounts/data/package.json
  applications/accounts/notifications/package.json
  applications/accounts/queue/package.json
  applications/id/client/package-lock.json
  applications/id/client/package.json
  applications/id/tenant/package-lock.json
  applications/id/tenant/package.json
  applications/id/tenant/tenant.yaml
  applications/open-banking/api/package.json
  sonar-project.properties
Labels: repo, applications, accounts, id, open-banking

chore: update deps part 3
  applications/accounts/client/.eslintrc.yml
  applications/accounts/client/package-lock.json
  applications/accounts/client/package.json
  applications/accounts/client/src/components/__tests__/SettingsForm.tsx
  applications/accounts/client/src/pages/MyCompanies/Clients/__tests__/UpdateDetails.tsx
  applications/accounts/client/src/pages/__tests__/NotFound.tsx
  applications/accounts/data/package.json
  applications/accounts/storage/package.json
  applications/id/client/.eslintrc.yml
  applications/id/client/package-lock.json
  applications/id/client/package.json
  applications/id/client/src/pages/__tests__/Reset.tsx
  package-lock.json
  package.json
  packages/appsync-apollo/.eslintrc.yml
  packages/appsync-apollo/package-lock.json
  packages/appsync-apollo/package.json
  packages/auth/.eslintrc.yml
  packages/auth/package-lock.json
  packages/auth/package.json
  packages/axios-hooks/.eslintrc.yml
  packages/axios-hooks/package-lock.json
  packages/axios-hooks/package.json
  packages/breeze-ui/.eslintrc.yml
  packages/breeze-ui/package-lock.json
  packages/breeze-ui/package.json
  packages/breeze-ui/src/Col/__tests__/Col.tsx
  packages/breeze-ui/src/Col/__tests__/__snapshots__/Col.tsx.snap
  packages/query-string-hook/.eslintrc.yml
  packages/query-string-hook/package-lock.json
  packages/query-string-hook/package.json
Labels: repo, applications, accounts, id, packages, auth, axios-hooks, breeze-ui

chore: update some more root deps
  applications/accounts/api/package.json
  applications/accounts/client/package.json
  applications/accounts/data/package.json
  applications/accounts/notifications/package.json
  applications/accounts/queue/package.json
  applications/accounts/storage/package.json
  applications/core/anti-virus/package.json
  applications/core/comms/package.json
  applications/id/client/package.json
  applications/id/tenant/package.json
  applications/open-banking/api/package.json
  package-lock.json
  package.json
  packages/api-gateway-handler/package.json
  packages/appsync-apollo/package.json
  packages/auth/package.json
  packages/axios-hooks/package.json
  packages/breeze-ui/package.json
  packages/ga-web-vitals/package.json
  packages/query-string-hook/package.json
  packages/serverless-outputs-env/package.json
  packages/webpack-conditional-plugin/package.json
  packages/webpack-permissions-plugin/package.json
Labels: repo, applications, accounts, core, id, open-banking, packages, api-gateway-handler, auth, axios-hooks, breeze-ui, ga-web-vitals, serverless-outputs-env, webpack-conditional-plugin, webpack-permissions-plugin

chore: update lerna and commitizen
  package-lock.json
  package.json
Labels: repo

chore: more root deps updated
  .github/workflows/checks.yml
  .github/workflows/deploy.yml
  .github/workflows/pull-request-checks.yml
  applications/accounts/client/cypress/integration/non-vat-registered.spec.ts
  applications/accounts/client/cypress/integration/vat-registered.spec.ts
  applications/accounts/client/cypress/plugins/index.js
  applications/accounts/client/cypress/support/commands.js
  applications/accounts/client/cypress/support/index.d.ts
  applications/accounts/storage/webpack.config.js
  applications/open-banking/api/webpack.config.js
  package.json
  packages/api-gateway-handler/package.json
  packages/serverless-outputs-env/package.json
  packages/webpack-conditional-plugin/package.json
  packages/webpack-permissions-plugin/package.json
  yarn.lock
Labels: repo, applications, accounts, open-banking, packages, api-gateway-handler, serverless-outputs-env, webpack-conditional-plugin, webpack-permissions-plugin

chore: update some cypress plugins and disable a11y checks
  applications/accounts/client/cypress/integration/non-vat-registered.spec.ts
  applications/accounts/client/cypress/integration/vat-registered.spec.ts
  package.json
  yarn.lock
Labels: repo, applications, accounts

chore: update to serverless 2
  package.json
  yarn.lock
Labels: repo

chore: update to latest cypress
  applications/accounts/client/cypress.json
  applications/accounts/client/cypress/integration/non-vat-registered.spec.ts
  applications/accounts/client/cypress/integration/vat-registered.spec.ts
  applications/accounts/client/cypress/support/commands.js
  applications/accounts/client/cypress/support/index.d.ts
  applications/accounts/client/cypress/tsconfig.json
  package.json
  yarn.lock
Labels: repo, applications, accounts

chore: fix a11y and reinstate checks in e2e tests
  applications/accounts/client/cypress/integration/non-vat-registered.spec.ts
  applications/accounts/client/cypress/integration/vat-registered.spec.ts
  applications/accounts/client/src/components/DeleteItem.tsx
  applications/accounts/client/src/components/SettingsForm.tsx
  packages/breeze-ui/src/Modal/Modal.stories.tsx
  packages/breeze-ui/src/Modal/Modal.tsx
  packages/breeze-ui/src/Modal/__tests__/Modal.tsx
Labels: applications, accounts, packages, breeze-ui

chore: update the last few deps
  package.json
  yarn.lock
Labels: repo

revert: revert copy plugin
  package.json
  yarn.lock
Labels: repo

test(accounts): try to stop clear race condition
  applications/accounts/client/cypress/integration/non-vat-registered.spec.ts
  applications/accounts/client/cypress/integration/vat-registered.spec.ts
Labels: applications, accounts

chore(accounts): skip failure if a11y checks fail
  applications/accounts/client/cypress/support/commands.js
Labels: applications, accounts

chore(id): update auth0
  applications/id/tenant/package.json
  applications/id/tenant/src/rules/force-email-verification.js
  applications/id/tenant/src/rules/set-name.js
  yarn.lock
Labels: repo, applications, id

chore: add yarn clean
  .yarnclean
Labels: repo

chore(id): actually update auth0 not downgrade it
  .yarnclean
  applications/id/tenant/package.json
  applications/id/tenant/src/rules/force-email-verification.js
  applications/id/tenant/src/rules/set-name.js
  yarn.lock
Labels: repo, applications, id

chore(accounts): try to reduce e2e flakiness
  .yarnclean
  applications/accounts/client/cypress/integration/non-vat-registered.spec.ts
  applications/accounts/client/cypress/integration/vat-registered.spec.ts
Labels: repo, applications, accounts

.github/labeler.yml:

repo:
  - ./*

applications:
  - applications/*
  - applications/**/*

accounts:
  - applications/accounts/*
  - applications/accounts/**/*

core:
  - applications/core/*
  - applications/core/**/*

id:
  - applications/id/*
  - applications/id/**/*

open-banking:
  - applications/open-banking/*
  - applications/open-banking/**/*

packages:
  - packages/*
  - packages/**/*

api-gateway-handler:
  - packages/api-gateway-handler/*
  - packages/api-gateway-handler/**/*

auth:
  - packages/auth/*
  - packages/auth/**/*

axios-hooks:
  - packages/axios-hooks/*
  - packages/axios-hooks/**/*

breeze-ui:
  - packages/breeze-ui/*
  - packages/breeze-ui/**/*

ga-web-vitals:
  - packages/ga-web-vitals/*
  - packages/ga-web-vitals/**/*

query-string-hooks:
  - packages/query-string-hooks/*
  - packages/query-string-hooks/**/*

serverless-outputs-env:
  - packages/serverless-outputs-env/*
  - packages/serverless-outputs-env/**/*

webpack-conditional-plugin:
  - packages/webpack-conditional-plugin/*
  - packages/webpack-conditional-plugin/**/*

webpack-permissions-plugin:
  - packages/webpack-permissions-plugin/*
  - packages/webpack-permissions-plugin/**/*
