Repository motech-development/platform, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, applications, accounts, core, id, open-banking, packages, api-gateway-handler, auth, axios-hooks, breeze-ui, ga-web-vitals, query-string-hooks, serverless-outputs-env, webpack-conditional-plugin, webpack-permissions-plugin

chore(platform): update sonar config
  .github/workflows/checks.yml
  .github/workflows/pull-request-checks.yml
  sonar-project.properties
Labels: repo

chore(accounts): fix auth0 cypress breaking change
  applications/accounts/client/cypress/support/commands.js
Labels: applications, accounts

chore(accounts): remove __typename from mocks to clear test warnings
  applications/accounts/client/src/pages/MyCompanies/Accounts/__tests__/RecordTransaction.tsx
  applications/accounts/client/src/pages/MyCompanies/Clients/__tests__/AddClient.tsx
  applications/accounts/client/src/pages/MyCompanies/Clients/__tests__/UpdateDetails.tsx
  applications/accounts/client/src/pages/MyCompanies/__tests__/AddCompany.tsx
  applications/accounts/client/src/pages/MyCompanies/__tests__/UpdateDetails.tsx
Labels: applications, accounts

chore(accounts): update cypress logging plugin config
  applications/accounts/client/cypress/plugins/index.js
Labels: applications, accounts

chore(accounts): make sure everything uses an id
  applications/accounts/api/mapping-templates/client/getClients/Query.getClients.req.vtl
  applications/accounts/api/mapping-templates/client/getClients/Query.getClients.res.vtl
  applications/accounts/api/mapping-templates/transaction/getTransactions/Query.getTransactions.req.vtl
  applications/accounts/api/mapping-templates/transaction/getTransactions/Query.getTransactions.res.vtl
  applications/accounts/api/schema/schema.graphql
  applications/accounts/client/src/graphql/client/GET_CLIENTS.ts
  applications/accounts/client/src/graphql/transaction/ADD_TRANSACTION.ts
  applications/accounts/client/src/graphql/transaction/DELETE_TRANSACTION.ts
  applications/accounts/client/src/graphql/transaction/GET_TRANSACTIONS.ts
  applications/accounts/client/src/graphql/transaction/UPDATE_TRANSACTION.ts
  applications/accounts/client/src/pages/MyCompanies/Accounts/PendingTransactions.tsx
  applications/accounts/client/src/pages/MyCompanies/Accounts/RecordTransaction.tsx
  applications/accounts/client/src/pages/MyCompanies/Accounts/ViewTransaction.tsx
  applications/accounts/client/src/pages/MyCompanies/Accounts/__tests__/PendingTransactions.tsx
Labels: applications, accounts

chore(accounts): fix cache warnings
  applications/accounts/api/mapping-templates/company/createCompany/Pipeline.createCompany.res.vtl
  applications/accounts/api/mapping-templates/company/getCompanies/Query.getCompanies.res.vtl
  applications/accounts/api/schema/company.graphql
  applications/accounts/api/schema/schema.graphql
  applications/accounts/client/src/graphql/client/DELETE_CLIENT.ts
  applications/accounts/client/src/graphql/company/ADD_COMPANY.ts
  applications/accounts/client/src/graphql/company/DELETE_COMPANY.ts
  applications/accounts/client/src/graphql/company/GET_COMPANIES.ts
  applications/accounts/client/src/graphql/transaction/ADD_TRANSACTION.ts
  applications/accounts/client/src/graphql/transaction/DELETE_TRANSACTION.ts
  applications/accounts/client/src/pages/MyCompanies/MyCompanies.tsx
  applications/accounts/client/src/pages/MyCompanies/__tests__/MyCompanies.tsx
  applications/accounts/client/src/utils/TestProvider.tsx
Labels: applications, accounts

chore(platform): fix report paths
  applications/accounts/api/package.json
  applications/accounts/client/package.json
  applications/accounts/data/package.json
  applications/accounts/notifications/package.json
  applications/accounts/queue/package.json
  applications/accounts/storage/package.json
  applications/core/anti-virus/package.json
  applications/core/comms/package.json
  applications/id/client/package.json
  applications/id/tenant/package.json
  applications/open-banking/api/package.json
Labels: applications, accounts, core, id, open-banking

chore(accounts): more use of cache.modify
  applications/accounts/client/cypress/plugins/index.js
  applications/accounts/client/src/graphql/client/ADD_CLIENT.ts
  applications/accounts/client/src/graphql/company/ADD_COMPANY.ts
Labels: applications, accounts

chore(accounts): update transaction and typeahead cache
  applications/accounts/api/mapping-templates/transaction/getTransactions/Query.getTransactions.res.vtl
  applications/accounts/api/schema/transaction.graphql
  applications/accounts/client/src/components/ApolloClient.tsx
  applications/accounts/client/src/graphql/transaction/ADD_TRANSACTION.ts
  applications/accounts/client/src/graphql/transaction/GET_TRANSACTIONS.ts
  applications/accounts/client/src/pages/MyCompanies/Accounts/__tests__/PendingTransactions.tsx
  packages/appsync-apollo/src/Apollo/Apollo.tsx
Labels: applications, accounts, packages

chore(accounts): finish off cache modify migration
  applications/accounts/client/cypress/integration/vat-registered.spec.ts
  applications/accounts/client/src/graphql/transaction/ADD_TRANSACTION.ts
  applications/accounts/client/src/graphql/transaction/UPDATE_TRANSACTION.ts
Labels: applications, accounts

chore(accounts): update balance cache to supress warnings
  applications/accounts/client/src/graphql/transaction/DELETE_TRANSACTION.ts
Labels: applications, accounts

chore(accounts): more unit tests
  applications/accounts/client/src/components/FileDownload.tsx
  applications/accounts/client/src/components/__tests__/FileDownload.tsx
  applications/accounts/client/src/pages/MyCompanies/Accounts/__tests__/Accounts.tsx
  applications/accounts/client/src/pages/MyCompanies/Accounts/__tests__/PendingTransactions.tsx
  applications/accounts/client/src/pages/MyCompanies/Accounts/__tests__/RecordTransaction.tsx
  applications/accounts/client/src/pages/MyCompanies/Accounts/__tests__/ViewTransaction.tsx
  applications/accounts/client/src/pages/MyCompanies/Accounts/shared/DownloadAttachment.tsx
  applications/accounts/client/src/pages/MyCompanies/Accounts/shared/ViewAttachment.tsx
  applications/accounts/client/src/pages/MyCompanies/Clients/__tests__/AddClient.tsx
  applications/accounts/client/src/pages/MyCompanies/Clients/__tests__/UpdateDetails.tsx
  applications/accounts/client/src/pages/MyCompanies/__tests__/AddCompany.tsx
  applications/accounts/client/src/pages/MyCompanies/__tests__/UpdateDetails.tsx
  packages/appsync-apollo/src/waitForApollo/__tests__/waitForApollo.ts
Labels: applications, accounts, packages

chore(accounts): more testing
  applications/accounts/client/src/graphql/client/ADD_CLIENT.ts
  applications/accounts/client/src/graphql/company/ADD_COMPANY.ts
  applications/accounts/client/src/graphql/transaction/GET_TRANSACTIONS.ts
  applications/accounts/client/src/pages/MyCompanies/Accounts/__tests__/Accounts.tsx
  applications/accounts/client/src/pages/MyCompanies/Accounts/__tests__/PendingTransactions.tsx
  applications/accounts/client/src/pages/MyCompanies/__tests__/AddCompany.tsx
  applications/accounts/client/src/pages/MyCompanies/__tests__/UpdateDetails.tsx
Labels: applications, accounts

chore(accounts): attempt cache mutation unit tests
  applications/accounts/client/src/graphql/client/ADD_CLIENT.ts
  applications/accounts/client/src/graphql/client/__tests__/ADD_CLIENT.ts
Labels: applications, accounts

chore(accounts): more cache unit tests
  applications/accounts/client/src/graphql/client/DELETE_CLIENT.ts
  applications/accounts/client/src/graphql/client/__tests__/DELETE_CLIENT.ts
Labels: applications, accounts

chore(accounts): company cache unit tests
  applications/accounts/client/src/graphql/company/ADD_COMPANY.ts
  applications/accounts/client/src/graphql/company/DELETE_COMPANY.ts
  applications/accounts/client/src/graphql/company/__tests__/ADD_COMPANY.ts
  applications/accounts/client/src/graphql/company/__tests__/DELETE_COMPANY.ts
  applications/accounts/client/src/pages/MyCompanies/AddCompany.tsx
  applications/accounts/client/src/pages/MyCompanies/Clients/AddClient.tsx
  applications/accounts/client/src/pages/MyCompanies/Clients/UpdateDetails.tsx
  applications/accounts/client/src/pages/MyCompanies/UpdateDetails.tsx
Labels: applications, accounts

refactor(accounts): optional gql values
  applications/accounts/client/src/components/TransactionForm.tsx
  applications/accounts/client/src/graphql/balance/GET_BALANCE.ts
  applications/accounts/client/src/graphql/bank/CREATE_BANK_CONNECTION.ts
  applications/accounts/client/src/graphql/bank/DELETE_BANK_CONNECTION.ts
  applications/accounts/client/src/graphql/bank/GET_BANKS.ts
  applications/accounts/client/src/graphql/bank/GET_BANK_ACCOUNTS.ts
  applications/accounts/client/src/graphql/bank/GET_BANK_SETTINGS.ts
  applications/accounts/client/src/graphql/bank/ON_BANK_CALLBACK.ts
  applications/accounts/client/src/graphql/bank/UPDATE_BANK_SETTINGS.ts
  applications/accounts/client/src/graphql/client/GET_CLIENT.ts
  applications/accounts/client/src/graphql/client/GET_CLIENTS.ts
  applications/accounts/client/src/graphql/client/UPDATE_CLIENT.ts
  applications/accounts/client/src/graphql/company/GET_COMPANIES.ts
  applications/accounts/client/src/graphql/company/GET_COMPANY.ts
  applications/accounts/client/src/graphql/company/UPDATE_COMPANY.ts
  applications/accounts/client/src/graphql/settings/GET_SETTINGS.ts
  applications/accounts/client/src/graphql/settings/UPDATE_SETTINGS.ts
  applications/accounts/client/src/graphql/transaction/ADD_TRANSACTION.ts
  applications/accounts/client/src/graphql/transaction/DELETE_TRANSACTION.ts
  applications/accounts/client/src/graphql/transaction/GET_TRANSACTIONS.ts
  applications/accounts/client/src/graphql/transaction/UPDATE_TRANSACTION.ts
  applications/accounts/client/src/graphql/typeahead/GET_TYPEAHEAD.ts
  applications/accounts/client/src/pages/MyCompanies/Accounts/Accounts.tsx
  applications/accounts/client/src/pages/MyCompanies/Accounts/PendingTransactions.tsx
  applications/accounts/client/src/pages/MyCompanies/Accounts/RecordTransaction.tsx
  applications/accounts/client/src/pages/MyCompanies/Accounts/ViewTransaction.tsx
  applications/accounts/client/src/pages/MyCompanies/Accounts/shared/UploadAttachment.tsx
  applications/accounts/client/src/pages/MyCompanies/Accounts/shared/ViewAttachment.tsx
  applications/accounts/client/src/pages/MyCompanies/Clients/Clients.tsx
  applications/accounts/client/src/pages/MyCompanies/Clients/UpdateDetails.tsx
  applications/accounts/client/src/pages/MyCompanies/Dashboard.tsx
  applications/accounts/client/src/pages/MyCompanies/MyCompanies.tsx
  applications/accounts/client/src/pages/MyCompanies/Settings/Bank/Bank.tsx
  applications/accounts/client/src/pages/MyCompanies/Settings/Bank/Callback.tsx
  applications/accounts/client/src/pages/MyCompanies/Settings/Bank/SelectAccount.tsx
  applications/accounts/client/src/pages/MyCompanies/Settings/Settings.tsx
  applications/accounts/client/src/pages/MyCompanies/Settings/index.tsx
  applications/accounts/client/src/pages/MyCompanies/UpdateDetails.tsx
  applications/accounts/client/src/pages/MyCompanies/UserNotifications.tsx
  packages/breeze-ui/src/TableCell/TableCell.tsx
Labels: applications, accounts, packages, breeze-ui

fix(accounts): fix sonarqube code smell
  applications/accounts/client/src/components/TransactionForm.tsx
Labels: applications, accounts

test(accounts): company component test updates
  applications/accounts/client/public/locales/en/my-companies.json
  applications/accounts/client/src/pages/MyCompanies/AddCompany.tsx
  applications/accounts/client/src/pages/MyCompanies/UpdateDetails.tsx
  applications/accounts/client/src/pages/MyCompanies/__tests__/AddCompany.tsx
  applications/accounts/client/src/pages/MyCompanies/__tests__/UpdateDetails.tsx
Labels: applications, accounts

test(accounts): accounts tests
  applications/accounts/client/public/locales/en/accounts.json
  applications/accounts/client/src/pages/MyCompanies/Accounts/RecordTransaction.tsx
  applications/accounts/client/src/pages/MyCompanies/Accounts/ViewTransaction.tsx
  applications/accounts/client/src/pages/MyCompanies/Accounts/__tests__/RecordTransaction.tsx
  applications/accounts/client/src/pages/MyCompanies/Accounts/__tests__/ViewTransaction.tsx
Labels: applications, accounts

test(accounts): fix race condition
  applications/accounts/client/src/pages/MyCompanies/Accounts/__tests__/ViewTransaction.tsx
Labels: applications, accounts

test(accounts): some changes from ages ago that I forgot about
  applications/accounts/client/public/locales/en/accounts.json
  applications/accounts/client/src/pages/MyCompanies/Accounts/__tests__/RecordTransaction.tsx
  applications/accounts/client/src/pages/MyCompanies/Accounts/__tests__/ViewTransaction.tsx
  applications/accounts/client/src/pages/MyCompanies/Accounts/shared/UploadAttachment.tsx
  applications/accounts/client/src/pages/MyCompanies/Accounts/shared/ViewAttachment.tsx
Labels: applications, accounts

test(accounts): download failure test
  applications/accounts/client/src/pages/MyCompanies/Accounts/__tests__/ViewTransaction.tsx
Labels: applications, accounts

chore(core): update infrastructure for O365
  applications/core/comms/serverless.yml
  applications/core/infrastructure/serverless.yml
Labels: applications, core

test(accounts): client tests
  applications/accounts/client/public/locales/en/clients.json
  applications/accounts/client/src/pages/MyCompanies/Clients/AddClient.tsx
  applications/accounts/client/src/pages/MyCompanies/Clients/UpdateDetails.tsx
  applications/accounts/client/src/pages/MyCompanies/Clients/__tests__/AddClient.tsx
  applications/accounts/client/src/pages/MyCompanies/Clients/__tests__/UpdateDetails.tsx
  applications/accounts/client/src/pages/MyCompanies/__tests__/UpdateDetails.tsx
Labels: applications, accounts

test(accounts): settings tests
  applications/accounts/client/public/locales/en/settings.json
  applications/accounts/client/src/pages/MyCompanies/Settings/Bank/Bank.tsx
  applications/accounts/client/src/pages/MyCompanies/Settings/Bank/Callback.tsx
  applications/accounts/client/src/pages/MyCompanies/Settings/Bank/SelectAccount.tsx
  applications/accounts/client/src/pages/MyCompanies/Settings/Bank/__tests__/Callback.tsx
  applications/accounts/client/src/pages/MyCompanies/Settings/Bank/__tests__/SelectAccount.tsx
  applications/accounts/client/src/pages/MyCompanies/Settings/Settings.tsx
  applications/accounts/client/src/pages/MyCompanies/Settings/__tests__/Settings.tsx
Labels: applications, accounts

refactor(accounts): tweak logic in transaction form
  applications/accounts/client/src/components/TransactionForm.tsx
  applications/accounts/client/src/pages/MyCompanies/Accounts/RecordTransaction.tsx
  applications/accounts/client/src/pages/MyCompanies/Accounts/ViewTransaction.tsx
Labels: applications, accounts

test(accounts): add transaction tests
  applications/accounts/client/src/graphql/transaction/ADD_TRANSACTION.ts
  applications/accounts/client/src/graphql/transaction/__tests__/ADD_TRANSACTION.ts
Labels: applications, accounts

test(accounts): delete transaction cache tests
  applications/accounts/client/src/graphql/transaction/__tests__/ADD_TRANSACTION.ts
  applications/accounts/client/src/graphql/transaction/__tests__/DELETE_TRANSACTION.ts
Labels: applications, accounts

test(accounts): begin update transaction tests
  applications/accounts/client/src/graphql/transaction/__tests__/UPDATE_TRANSACTION.ts
  applications/core/comms/serverless.yml
Labels: applications, accounts, core

test(accounts): remove stray it.only
  applications/accounts/client/src/graphql/transaction/ADD_TRANSACTION.ts
  applications/accounts/client/src/graphql/transaction/__tests__/ADD_TRANSACTION.ts
Labels: applications, accounts

test(accounts): update transaction cache tests
  applications/accounts/client/src/graphql/transaction/ADD_TRANSACTION.ts
  applications/accounts/client/src/graphql/transaction/UPDATE_TRANSACTION.ts
  applications/accounts/client/src/graphql/transaction/__tests__/ADD_TRANSACTION.ts
  applications/accounts/client/src/graphql/transaction/__tests__/DELETE_TRANSACTION.ts
  applications/accounts/client/src/graphql/transaction/__tests__/UPDATE_TRANSACTION.ts
Labels: applications, accounts

test(accounts): more tests for updating transaction cache
  applications/accounts/client/src/graphql/transaction/__tests__/UPDATE_TRANSACTION.ts
Labels: applications, accounts

test(auth): some more unit tests for improved coverage
  packages/auth/src/AuthProvider.tsx
  packages/auth/src/__tests__/AuthProvider.tsx
  packages/auth/src/__tests__/ProtectedRoute.tsx
  packages/auth/src/__tests__/withAuth.tsx
Labels: packages, auth

feat(auth): add test mode
  applications/accounts/client/src/pages/MyCompanies/Accounts/shared/ViewAttachment.tsx
  packages/auth/src/AuthProvider.tsx
  packages/auth/src/__tests__/AuthProvider.tsx
Labels: applications, accounts, packages, auth

test(auth): more provider tests
  packages/auth/__mocks__/@auth0/auth0-spa-js.ts
  packages/auth/src/__tests__/AuthProvider.tsx
Labels: packages, auth

refactor(auth): try to reduce complexity
  packages/auth/src/AuthProvider.tsx
Labels: packages, auth

chore: update axios
  applications/accounts/client/package-lock.json
  applications/accounts/client/package.json
  applications/accounts/queue/package-lock.json
  applications/accounts/queue/package.json
  applications/id/client/package-lock.json
  applications/id/client/package.json
  applications/open-banking/api/package-lock.json
  applications/open-banking/api/package.json
  packages/axios-hooks/package-lock.json
  packages/axios-hooks/package.json
Labels: applications, accounts, id, open-banking, packages, axios-hooks

chore: dependabot config
  .github/dependabot.yml
Labels: none

chore: more dependency updates
  applications/accounts/client/package-lock.json
  applications/accounts/client/package.json
  applications/accounts/notifications/package-lock.json
  applications/accounts/notifications/package.json
  applications/accounts/storage/package-lock.json
  applications/accounts/storage/package.json
  applications/core/comms/package-lock.json
  applications/core/comms/package.json
  applications/id/client/package-lock.json
  applications/id/client/package.json
  applications/open-banking/api/package-lock.json
  applications/open-banking/api/package.json
Labels: applications, accounts, core, id, open-banking

.github/labeler.yml:

repo:
  - ./*

applications:
  - applications/*
  - applications/**/*

accounts:
  - applications/accounts/*
  - applications/accounts/**/*

core:
  - applications/core/*
  - applications/core/**/*

id:
  - applications/id/*
  - applications/id/**/*

open-banking:
  - applications/open-banking/*
  - applications/open-banking/**/*

packages:
  - packages/*
  - packages/**/*

api-gateway-handler:
  - packages/api-gateway-handler/*
  - packages/api-gateway-handler/**/*

auth:
  - packages/auth/*
  - packages/auth/**/*

axios-hooks:
  - packages/axios-hooks/*
  - packages/axios-hooks/**/*

breeze-ui:
  - packages/breeze-ui/*
  - packages/breeze-ui/**/*

ga-web-vitals:
  - packages/ga-web-vitals/*
  - packages/ga-web-vitals/**/*

query-string-hooks:
  - packages/query-string-hooks/*
  - packages/query-string-hooks/**/*

serverless-outputs-env:
  - packages/serverless-outputs-env/*
  - packages/serverless-outputs-env/**/*

webpack-conditional-plugin:
  - packages/webpack-conditional-plugin/*
  - packages/webpack-conditional-plugin/**/*

webpack-permissions-plugin:
  - packages/webpack-permissions-plugin/*
  - packages/webpack-permissions-plugin/**/*
