Repository motech-development/platform, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, applications, accounts, core, cypress, id, packages, api-gateway-handler, appsync-apollo, auth, axios-hooks, breeze-ui, ga-web-vitals, node-logger, query-string-hooks, s3-file-operations, serverless-outputs-env, webpack-conditional-plugin, webpack-permissions-plugin

fix: double rendering reports
  applications/accounts/client/src/pages/MyCompanies/Reports/Reports.tsx
Labels: applications, accounts

chore: remove cypress
  applications/accounts/client/cypress/e2e/non-vat-registered.cy.ts
  applications/accounts/client/cypress/e2e/vat-registered.cy.ts
  applications/accounts/client/cypress/fixtures/data/account.json
  applications/accounts/client/cypress/fixtures/data/client.json
  applications/accounts/client/cypress/fixtures/data/company.json
  applications/accounts/client/cypress/fixtures/data/setting.json
  applications/accounts/client/cypress/fixtures/models/account.ts
  applications/accounts/client/cypress/fixtures/models/client.ts
  applications/accounts/client/cypress/fixtures/models/company.ts
  applications/accounts/client/cypress/fixtures/models/setting.ts
  applications/accounts/client/cypress/fixtures/upload/invoice.pdf
  applications/accounts/client/cypress/plugins/index.js
  applications/accounts/client/cypress/support/commands.ts
  applications/accounts/client/cypress/support/e2e.ts
  applications/accounts/client/cypress/support/index.d.ts
  applications/accounts/client/cypress/support/setup.ts
  applications/accounts/client/cypress/tsconfig.eslint.json
  applications/accounts/client/cypress/tsconfig.json
Labels: applications, accounts

chore: remove cypress configs
  applications/accounts/client/currents.config.js
  applications/accounts/client/cypress.config.ts
Labels: applications, accounts

feat: remove cypress
  packages/eslint-config-motech-react/index.mjs
  packages/eslint-config-motech-react/package.json
Labels: packages

chore: remove cypress eslint plugin
  applications/id/client/package.json
  packages/appsync-apollo/package.json
  packages/auth/package.json
  packages/axios-hooks/package.json
  packages/breeze-ui/package.json
  packages/query-string-hook/package.json
Labels: applications, id, packages, appsync-apollo, auth, axios-hooks, breeze-ui

.github/labeler.yml:

repo:
  - changed-files:
      - any-glob-to-any-file: '*'

applications:
  - changed-files:
      - any-glob-to-any-file: applications/**

accounts:
  - changed-files:
      - any-glob-to-any-file: applications/accounts/**

core:
  - changed-files:
      - any-glob-to-any-file: applications/core/**

cypress:
  - changed-files:
      - any-glob-to-any-file: applications/cypress/**

id:
  - changed-files:
      - any-glob-to-any-file: applications/id/**

packages:
  - changed-files:
      - any-glob-to-any-file: packages/**

api-gateway-handler:
  - changed-files:
      - any-glob-to-any-file: packages/api-gateway-handler/**

appsync-apollo:
  - changed-files:
      - any-glob-to-any-file: packages/appsync-apollo/**

auth:
  - changed-files:
      - any-glob-to-any-file: packages/auth/**

axios-hooks:
  - changed-files:
      - any-glob-to-any-file: packages/axios-hooks/**

breeze-ui:
  - changed-files:
      - any-glob-to-any-file: packages/breeze-ui/**

ga-web-vitals:
  - changed-files:
      - any-glob-to-any-file: packages/ga-web-vitals/**

node-logger:
  - changed-files:
      - any-glob-to-any-file: packages/node-logger/**

query-string-hooks:
  - changed-files:
      - any-glob-to-any-file: packages/query-string-hooks/**

s3-file-operations:
  - changed-files:
      - any-glob-to-any-file: packages/s3-file-operations/**

serverless-outputs-env:
  - changed-files:
      - any-glob-to-any-file: packages/serverless-outputs-env/**

webpack-conditional-plugin:
  - changed-files:
      - any-glob-to-any-file: packages/webpack-conditional-plugin/**

webpack-permissions-plugin:
  - changed-files:
      - any-glob-to-any-file: packages/webpack-permissions-plugin/**
