Repository motech-development/platform, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, applications, accounts, core, id, open-banking, packages, api-gateway-handler, auth, axios-hooks, breeze-ui, ga-web-vitals, query-string-hooks, serverless-outputs-env, webpack-conditional-plugin, webpack-permissions-plugin

.github/labeler.yml:

repo:
  - ./*

applications:
  - applications/*
  - applications/**/*

accounts:
  - applications/accounts/*
  - applications/accounts/**/*

core:
  - applications/core/*
  - applications/core/**/*

id:
  - applications/id/*
  - applications/id/**/*

open-banking:
  - applications/open-banking/*
  - applications/open-banking/**/*

packages:
  - packages/*
  - packages/**/*

api-gateway-handler:
  - packages/api-gateway-handler/*
  - packages/api-gateway-handler/**/*

auth:
  - packages/auth/*
  - packages/auth/**/*

axios-hooks:
  - packages/axios-hooks/*
  - packages/axios-hooks/**/*

breeze-ui:
  - packages/breeze-ui/*
  - packages/breeze-ui/**/*

ga-web-vitals:
  - packages/ga-web-vitals/*
  - packages/ga-web-vitals/**/*

query-string-hooks:
  - packages/query-string-hooks/*
  - packages/query-string-hooks/**/*

serverless-outputs-env:
  - packages/serverless-outputs-env/*
  - packages/serverless-outputs-env/**/*

webpack-conditional-plugin:
  - packages/webpack-conditional-plugin/*
  - packages/webpack-conditional-plugin/**/*

webpack-permissions-plugin:
  - packages/webpack-permissions-plugin/*
  - packages/webpack-permissions-plugin/**/*

chore(platform): deploy fixes
  .github/workflows/deploy.yml
  packages/breeze-ui/package.json
Labels: packages, breeze-ui

chore(platform): more deploy changes
  .github/workflows/deploy.yml
  .github/workflows/label-pr.yml
  README.md
Labels: repo

chore(platform): rename paths for sonar scanner take 1
  .github/workflows/checks.yml
Labels: none

chore(platform): try again
  .github/workflows/checks.yml
Labels: none

chore(platform): fix path for packages
  .github/workflows/checks.yml
Labels: none

chore(platform): apply fix elsewhere
  .github/workflows/checks.yml
  .github/workflows/deploy.yml
  .github/workflows/pull-request-checks.yml
  scripts/sonar-scanner-path-fix.sh
Labels: none

chore(av): more faffing with the yum cache
  applications/core/anti-virus/scripts/build.sh
Labels: applications, core

chore(platform): do check for cypress cache
  .github/workflows/checks.yml
  .github/workflows/pull-request-checks.yml
Labels: none

chore(platform): try again
  .github/workflows/checks.yml
Labels: none

chore(platform): new cache
  .github/workflows/checks.yml
  .github/workflows/deploy.yml
  .github/workflows/pull-request-checks.yml
Labels: none

chore(platform): change env var cache value
  .github/workflows/checks.yml
  .github/workflows/deploy.yml
  .github/workflows/pull-request-checks.yml
Labels: none

chore(platform): deploy api for pr checks
  .github/workflows/checks.yml
  .github/workflows/deploy.yml
  .github/workflows/pull-request-checks.yml
Labels: none

chore(platform): more changes. i hate ci cd
  .github/workflows/checks.yml
  .github/workflows/pull-request-checks.yml
Labels: none

chore(platform): more cypress changes
  .github/workflows/pull-request-checks.yml
Labels: none

chore(av): add some logging
  applications/core/anti-virus/src/shared/clam-av.ts
Labels: applications, core

chore(av): more logging
  applications/core/anti-virus/src/shared/clam-av.ts
Labels: applications, core

chore(ui): fix test issue with timers
  applications/accounts/client/src/__tests__/App.tsx
  packages/auth/src/__tests__/withAuth.tsx
  packages/breeze-ui/src/Alert/__tests__/Alert.tsx
  packages/breeze-ui/src/ToastProvider/__tests__/ToastProvider.tsx
  packages/breeze-ui/src/Tooltip/__tests__/Tooltip.tsx
Labels: applications, accounts, packages, auth, breeze-ui

chore(av): revert serverless step functions and force deployments
  applications/accounts/api/package.json
  applications/accounts/data/package.json
  applications/accounts/infrastructure/package.json
  applications/accounts/queue/package.json
  applications/accounts/storage/package.json
  applications/core/anti-virus/package.json
  applications/core/anti-virus/scripts/build.sh
  applications/core/anti-virus/src/shared/clam-av.ts
  applications/core/comms/package.json
  applications/core/infrastructure/package.json
  applications/id/infrastructure/package.json
  applications/open-banking/api/package.json
  package-lock.json
  package.json
Labels: repo, applications, accounts, core, id, open-banking

chore(accounts): smoke test belt and brances
  applications/accounts/client/cypress/integration/smoke-tests.spec.ts
Labels: applications, accounts

chore(accounts): disable recording
  .github/workflows/checks.yml
  applications/accounts/client/package.json
Labels: applications, accounts

chore(av): more debugging
  .github/workflows/checks.yml
  .github/workflows/pull-request-checks.yml
  applications/accounts/client/cypress/integration/smoke-tests.spec.ts
  applications/accounts/client/cypress/plugins/index.js
  applications/core/anti-virus/scripts/build.sh
  applications/core/anti-virus/src/shared/clam-av.ts
  package-lock.json
  package.json
Labels: repo, applications, accounts, core

chore(av): more reversions and bump up memory
  applications/core/anti-virus/serverless.yml
  package-lock.json
  package.json
Labels: repo, applications, core

chore(accounts): enable download smoke test
  applications/accounts/client/.gitignore
  applications/accounts/client/cypress/integration/smoke-tests.spec.ts
Labels: applications, accounts

chore(platform): restore cypress fail uploads
  .github/workflows/checks.yml
Labels: none

chore(accounts): more cypress hacks
  applications/accounts/client/cypress/integration/smoke-tests.spec.ts
Labels: applications, accounts

chore(platform): revert package downgrades
  package-lock.json
  package.json
Labels: repo

chore(platform): increase cypress timeout
  .github/workflows/checks.yml
  .github/workflows/pull-request-checks.yml
Labels: none

chore(av): only download av defs if needed
  applications/core/anti-virus/src/handlers/__tests__/scan-files.ts
  applications/core/anti-virus/src/handlers/scan-file.ts
  applications/core/anti-virus/src/shared/__tests__/file-operations.ts
  applications/core/anti-virus/src/shared/file-operations.ts
Labels: applications, core

chore(accounts): clean up downloads folder
  applications/accounts/client/.gitignore
  applications/accounts/client/cypress/integration/smoke-tests.spec.ts
  applications/accounts/client/cypress/plugins/index.js
  applications/accounts/client/src/components/TransactionForm.tsx
  packages/breeze-ui/src/TextBox/TextBox.tsx
Labels: applications, accounts, packages, breeze-ui

feat(av): add scan failure to queue
  applications/core/anti-virus/__mocks__/aws-sdk.ts
  applications/core/anti-virus/serverless.yml
  applications/core/anti-virus/src/handlers/__tests__/failure-notification.ts
  applications/core/anti-virus/src/handlers/failure-notification.ts
  applications/core/anti-virus/src/shared/__tests__/file-operations.ts
  applications/core/anti-virus/src/shared/file-operations.ts
Labels: applications, core

chore(accounts): add metadata to file uploads
  applications/accounts/api/mapping-templates/storage/requestUpload/Pipeline.requestUpload.req.vtl
  applications/accounts/api/schema/storage.graphql
Labels: applications, accounts

chore(av): export queue arn
  applications/core/anti-virus/serverless.yml
Labels: applications, core

chore(accounts): upload with metadata
  applications/accounts/storage/serverless.yml
  applications/accounts/storage/src/handlers/__tests__/signed-upload.ts
  applications/accounts/storage/src/handlers/signed-upload.ts
Labels: applications, accounts

chore(accounts): remove infected files from attachment
  applications/accounts/data/serverless.yml
  applications/accounts/data/src/__tests__/clear-attachments.ts
  applications/accounts/data/src/clear-attachments.ts
  applications/accounts/data/src/handlers/__tests__/update-attachments.ts
  applications/accounts/data/src/handlers/update-attachments.ts
Labels: applications, accounts

chore(av): catch error if step function fails
  applications/core/anti-virus/serverless.yml
Labels: applications, core

chore(accounts): attach metadata to uploads
  applications/accounts/client/src/pages/MyCompanies/Accounts/ViewTransaction.tsx
  applications/accounts/client/src/pages/MyCompanies/Accounts/__tests__/RecordTransaction.tsx
  applications/accounts/client/src/pages/MyCompanies/Accounts/shared/UploadAttachment.tsx
Labels: applications, accounts

chore(accounts): error handling
  .github/workflows/checks.yml
  applications/accounts/data/src/__tests__/clear-attachments.ts
  applications/accounts/data/src/clear-attachments.ts
  applications/accounts/data/src/handlers/update-attachments.ts
Labels: applications, accounts

chore(accounts): fix up upload with no id
  applications/accounts/api/mapping-templates/storage/requestUpload/Pipeline.requestUpload.req.vtl
  applications/accounts/storage/src/handlers/__tests__/signed-upload.ts
  applications/accounts/storage/src/handlers/signed-upload.ts
Labels: applications, accounts

chore(accounts): handle new transactions
  applications/accounts/data/__mocks__/aws-sdk/clients/dynamodb.ts
  applications/accounts/data/serverless.yml
  applications/accounts/data/src/__tests__/clear-attachments.ts
  applications/accounts/data/src/clear-attachments.ts
  applications/accounts/data/src/handlers/__tests__/update-attachments.ts
  applications/accounts/data/src/handlers/update-attachments.ts
Labels: applications, accounts

chore(av): delay notification when no metadata exists
  applications/core/anti-virus/src/handlers/__tests__/failure-notification.ts
  applications/core/anti-virus/src/handlers/failure-notification.ts
Labels: applications, core
