Repository motech-development/platform, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, applications, accounts, core, id, open-banking, packages, api-gateway-handler, auth, axios-hooks, breeze-ui, ga-web-vitals, query-string-hooks, serverless-outputs-env, webpack-conditional-plugin, webpack-permissions-plugin

.github/labeler.yml:

repo:
  - ./*

applications:
  - applications/*
  - applications/**/*

accounts:
  - applications/accounts/*
  - applications/accounts/**/*

core:
  - applications/core/*
  - applications/core/**/*

id:
  - applications/id/*
  - applications/id/**/*

open-banking:
  - applications/open-banking/*
  - applications/open-banking/**/*

packages:
  - packages/*
  - packages/**/*

api-gateway-handler:
  - packages/api-gateway-handler/*
  - packages/api-gateway-handler/**/*

auth:
  - packages/auth/*
  - packages/auth/**/*

axios-hooks:
  - packages/axios-hooks/*
  - packages/axios-hooks/**/*

breeze-ui:
  - packages/breeze-ui/*
  - packages/breeze-ui/**/*

ga-web-vitals:
  - packages/ga-web-vitals/*
  - packages/ga-web-vitals/**/*

query-string-hooks:
  - packages/query-string-hooks/*
  - packages/query-string-hooks/**/*

serverless-outputs-env:
  - packages/serverless-outputs-env/*
  - packages/serverless-outputs-env/**/*

webpack-conditional-plugin:
  - packages/webpack-conditional-plugin/*
  - packages/webpack-conditional-plugin/**/*

webpack-permissions-plugin:
  - packages/webpack-permissions-plugin/*
  - packages/webpack-permissions-plugin/**/*

chore(accounts): begin refunds with updated UI and API
  applications/accounts/api/schema/transaction.graphql
  applications/accounts/client/package.json
  applications/accounts/client/public/locales/en/accounts.json
  applications/accounts/client/src/components/TransactionForm.tsx
  applications/accounts/client/src/graphql/transaction/ADD_TRANSACTION.ts
  applications/accounts/client/src/pages/MyCompanies/Accounts/ViewTransaction.tsx
  applications/accounts/client/src/pages/MyCompanies/Accounts/__tests__/RecordTransaction.tsx
  applications/accounts/client/src/pages/MyCompanies/Accounts/__tests__/ViewTransaction.tsx
Labels: applications, accounts

chore(accounts): fix broken tests
  applications/accounts/client/cypress/integration/non-vat-registered.spec.ts
  applications/accounts/client/src/components/TransactionForm.tsx
  applications/accounts/client/src/pages/MyCompanies/Accounts/__tests__/RecordTransaction.tsx
  applications/accounts/client/src/pages/MyCompanies/Accounts/__tests__/ViewTransaction.tsx
Labels: applications, accounts

chore(accounts): update data stream lambdas to take into account refunds
  applications/accounts/data/src/__tests__/attachments.ts
  applications/accounts/data/src/__tests__/schedule-transactions.ts
  applications/accounts/data/src/__tests__/transactions.ts
  applications/accounts/data/src/__tests__/typeahead.ts
  applications/accounts/data/src/handlers/__tests__/insert-scheduled-transactions.ts
  applications/accounts/data/src/handlers/__tests__/insert-transactions.ts
  applications/accounts/data/src/handlers/__tests__/insert-typeahead.ts
  applications/accounts/data/src/handlers/__tests__/remove-scheduled-transactions.ts
  applications/accounts/data/src/handlers/__tests__/remove-transactions.ts
  applications/accounts/data/src/handlers/__tests__/update-scheduled-transactions.ts
  applications/accounts/data/src/handlers/__tests__/update-transactions.ts
  applications/accounts/data/src/shared/balance.ts
  applications/accounts/data/src/shared/transaction.ts
Labels: applications, accounts

chore(accounts): tweak refund logic around VAT payments
  applications/accounts/client/src/components/TransactionForm.tsx
  applications/accounts/data/src/shared/balance.ts
Labels: applications, accounts

chore(accounts): clear up sonarqube code smells
  applications/accounts/client/src/components/TransactionForm.tsx
  applications/accounts/data/src/shared/balance.ts
Labels: applications, accounts

chore(accounts): fix cache type errors in tests
  .github/workflows/checks.yml
  .github/workflows/deploy.yml
  .github/workflows/pull-request-checks.yml
  .yarnclean
  applications/accounts/client/src/graphql/client/__tests__/ADD_CLIENT.ts
  applications/accounts/client/src/graphql/client/__tests__/DELETE_CLIENT.ts
  applications/accounts/client/src/graphql/company/__tests__/ADD_COMPANY.ts
  applications/accounts/client/src/graphql/company/__tests__/DELETE_COMPANY.ts
  applications/accounts/client/src/graphql/transaction/__tests__/ADD_TRANSACTION.ts
  applications/accounts/client/src/graphql/transaction/__tests__/DELETE_TRANSACTION.ts
  applications/accounts/client/src/graphql/transaction/__tests__/UPDATE_TRANSACTION.ts
Labels: repo, applications, accounts

test(accounts): refund ui tests
  applications/accounts/client/src/pages/MyCompanies/Accounts/__tests__/RecordTransaction.tsx
Labels: applications, accounts

test(accounts): more ui tests
  applications/accounts/client/src/pages/MyCompanies/Accounts/__tests__/ViewTransaction.tsx
Labels: applications, accounts

chore(accounts): simplify refund logic
  applications/accounts/client/src/components/TransactionForm.tsx
  applications/accounts/client/src/pages/MyCompanies/Accounts/__tests__/RecordTransaction.tsx
  applications/accounts/data/src/shared/balance.ts
Labels: applications, accounts

test(accounts): add refund E2E tests
  applications/accounts/client/cypress/fixtures/data/account.json
  applications/accounts/client/cypress/integration/non-vat-registered.spec.ts
  applications/accounts/client/cypress/integration/vat-registered.spec.ts
  applications/accounts/data/src/__tests__/attachments.ts
  applications/accounts/data/src/__tests__/schedule-transactions.ts
  applications/accounts/data/src/__tests__/transactions.ts
  applications/accounts/data/src/__tests__/typeahead.ts
  applications/accounts/data/src/handlers/__tests__/insert-scheduled-transactions.ts
  applications/accounts/data/src/handlers/__tests__/insert-transactions.ts
  applications/accounts/data/src/handlers/__tests__/insert-typeahead.ts
  applications/accounts/data/src/handlers/__tests__/remove-scheduled-transactions.ts
  applications/accounts/data/src/handlers/__tests__/remove-transactions.ts
  applications/accounts/data/src/handlers/__tests__/update-scheduled-transactions.ts
  applications/accounts/data/src/handlers/__tests__/update-transactions.ts
  applications/accounts/data/src/shared/transaction.ts
Labels: applications, accounts

test(accounts): begin migrating tests to test library selectors
  applications/accounts/client/cypress/integration/non-vat-registered.spec.ts
  applications/accounts/client/cypress/integration/vat-registered.spec.ts
Labels: applications, accounts

test(accounts): migrate more E2E tests to testing library
  applications/accounts/client/cypress/integration/non-vat-registered.spec.ts
  applications/accounts/client/cypress/integration/vat-registered.spec.ts
  applications/accounts/client/src/pages/MyCompanies/MyCompanies.tsx
Labels: applications, accounts

test(accounts): more E2E migrations
  applications/accounts/client/cypress/integration/non-vat-registered.spec.ts
  applications/accounts/client/cypress/integration/vat-registered.spec.ts
Labels: applications, accounts

test(accounts): finish E2E testing library migration
  applications/accounts/client/cypress/integration/non-vat-registered.spec.ts
  applications/accounts/client/cypress/integration/vat-registered.spec.ts
Labels: applications, accounts

test(accounts): e2E test stability
  applications/accounts/client/cypress.json
  applications/accounts/client/cypress/integration/non-vat-registered.spec.ts
  applications/accounts/client/cypress/integration/vat-registered.spec.ts
  applications/accounts/client/cypress/support/commands.js
  applications/accounts/client/cypress/support/index.d.ts
  applications/accounts/client/cypress/support/index.js
  applications/accounts/client/cypress/tsconfig.json
  applications/accounts/client/src/components/Connected.tsx
  package.json
  yarn.lock
Labels: repo, applications, accounts

revert(accounts): disable chrome web security again
  applications/accounts/client/cypress.json
Labels: applications, accounts

revert: go back to v1 modules cache key
  .github/workflows/checks.yml
  .github/workflows/deploy.yml
  .github/workflows/pull-request-checks.yml
Labels: none

feat(accounts): get transactions for reports handler
  .gitignore
  .vscode/settings.json
  applications/accounts/reports/.eslintrc.yml
  applications/accounts/reports/.lintstagedrc.yml
  applications/accounts/reports/__mocks__/aws-sdk/clients/dynamodb.ts
  applications/accounts/reports/__mocks__/aws-sdk/index.ts
  applications/accounts/reports/babel.config.js
  applications/accounts/reports/package.json
  applications/accounts/reports/src/handlers/__tests__/get-transactions.test.ts
  applications/accounts/reports/src/handlers/get-transactions.ts
  applications/accounts/reports/src/shared/padNumber.ts
  applications/accounts/reports/src/shared/status.ts
  applications/accounts/reports/tsconfig.json
  applications/accounts/reports/webpack.config.js
  sonar-project.properties
Labels: repo, applications, accounts

feat(accounts): convert output to the correct format needed for CSV and attachment exports
  .github/workflows/checks.yml
  applications/accounts/reports/package.json
  applications/accounts/reports/serverless.yml
  applications/accounts/reports/src/handlers/__tests__/transform-transactions.test.ts
  applications/accounts/reports/src/handlers/transform-transactions.ts
  applications/accounts/reports/src/shared/padNumber.ts
  package.json
  yarn.lock
Labels: repo, applications, accounts

feat(s3 file operations): create new reusable package
  README.md
  package.json
  packages/s3-file-operations/.eslintrc.yml
  packages/s3-file-operations/.lintstagedrc.yml
  packages/s3-file-operations/__mocks__/aws-sdk.ts
  packages/s3-file-operations/__mocks__/fs.ts
  packages/s3-file-operations/babel.config.js
  packages/s3-file-operations/package.json
  packages/s3-file-operations/rollup.config.js
  packages/s3-file-operations/src/__tests__/s3-file-operations.ts
  packages/s3-file-operations/src/s3-file-operations.ts
  packages/s3-file-operations/tsconfig.build.json
  packages/s3-file-operations/tsconfig.json
  yarn.lock
Labels: repo, packages

refactor(core): update anti-virus to use shared s3 lib
  applications/core/anti-virus/__mocks__/aws-sdk.ts
  applications/core/anti-virus/__mocks__/fs.ts
  applications/core/anti-virus/package.json
  applications/core/anti-virus/src/handlers/__tests__/failure-notification.ts
  applications/core/anti-virus/src/handlers/__tests__/move-file.ts
  applications/core/anti-virus/src/handlers/__tests__/remove-file.ts
  applications/core/anti-virus/src/handlers/__tests__/scan-files.ts
  applications/core/anti-virus/src/handlers/__tests__/update-definitions.ts
  applications/core/anti-virus/src/handlers/failure-notification.ts
  applications/core/anti-virus/src/handlers/move-file.ts
  applications/core/anti-virus/src/handlers/remove-file.ts
  applications/core/anti-virus/src/handlers/scan-file.ts
  applications/core/anti-virus/src/handlers/update-definitions.ts
  applications/core/anti-virus/src/shared/__tests__/file-operations.ts
  applications/core/anti-virus/src/shared/file-operations.ts
  applications/core/anti-virus/webpack.config.js
Labels: applications, core

feat(s3 file operations): add util to create signed URL
  packages/s3-file-operations/__mocks__/aws-sdk.ts
  packages/s3-file-operations/src/__tests__/s3-file-operations.ts
  packages/s3-file-operations/src/s3-file-operations.ts
Labels: packages

refactor(accounts): make use of shared lib in storage service
  applications/accounts/storage/package.json
  applications/accounts/storage/src/handlers/process-delete.ts
  applications/accounts/storage/src/handlers/signed-download.ts
  applications/accounts/storage/src/handlers/signed-upload.ts
  applications/accounts/storage/webpack.config.js
Labels: applications, accounts

feat(accounts): convert payload to csv and upload to S3
  applications/accounts/reports/package.json
  applications/accounts/reports/serverless.yml
  applications/accounts/reports/src/handlers/__tests__/convert-to-csv.test.ts
  applications/accounts/reports/src/handlers/__tests__/get-transactions.test.ts
  applications/accounts/reports/src/handlers/__tests__/transform-transactions.test.ts
  applications/accounts/reports/src/handlers/convert-to-csv.ts
  applications/accounts/reports/src/handlers/get-transactions.ts
  applications/accounts/reports/src/handlers/transform-transactions.ts
  applications/accounts/reports/webpack.config.js
Labels: applications, accounts

feat(accounts): begin export report step function
  .github/workflows/checks.yml
  applications/accounts/reports/serverless.yml
Labels: applications, accounts

fix(accounts): sort out indentation on reports serverless config
  .github/workflows/codeql-analysis.yml
  applications/accounts/reports/serverless.yml
Labels: applications, accounts

feat(accounts): lambda to create a zip file
  applications/accounts/reports/package.json
  applications/accounts/reports/serverless.yml
  applications/accounts/reports/src/handlers/__tests__/convert-to-csv.test.ts
  applications/accounts/reports/src/handlers/__tests__/transform-transactions.test.ts
  applications/accounts/reports/src/handlers/create-zip.ts
  applications/accounts/reports/src/handlers/transform-transactions.ts
  applications/accounts/reports/src/shared/archive.ts
  applications/accounts/reports/src/shared/slug.ts
  applications/accounts/storage/serverless.yml
  package.json
  packages/s3-file-operations/src/s3-file-operations.ts
  sonar-project.properties
  yarn.lock
Labels: repo, applications, accounts, packages

chore(accounts): update reports config
  applications/accounts/reports/serverless.yml
  applications/accounts/storage/serverless.yml
Labels: applications, accounts

feat(s3 file operations): add uploader utility
  packages/s3-file-operations/src/s3-file-operations.ts
Labels: packages

fix(accounts): sort out archiver to actually generate the correct zip
  applications/accounts/reports/__mocks__/uuid.ts
  applications/accounts/reports/src/handlers/__tests__/create-zip.test.ts
  applications/accounts/reports/src/handlers/__tests__/transform-transactions.test.ts
  applications/accounts/reports/src/handlers/create-zip.ts
  applications/accounts/reports/src/handlers/transform-transactions.ts
  applications/accounts/reports/src/shared/archive.ts
Labels: applications, accounts

refactor(s3 file operations): simplify get link util
  applications/accounts/storage/src/handlers/signed-download.ts
  applications/accounts/storage/src/handlers/signed-upload.ts
  packages/s3-file-operations/src/s3-file-operations.ts
Labels: applications, accounts, packages

test(s3 file operations): fix tests
  packages/s3-file-operations/src/__tests__/s3-file-operations.ts
Labels: packages

feat(accounts): publish report and add notification
  applications/accounts/client/public/locales/en/user-notifications.json
  applications/accounts/reports/__mocks__/aws-sdk/clients/dynamodb.ts
  applications/accounts/reports/package.json
  applications/accounts/reports/serverless.yml
  applications/accounts/reports/src/handlers/__tests__/add-report.test.ts
  applications/accounts/reports/src/handlers/__tests__/get-transactions.test.ts
  applications/accounts/reports/src/handlers/add-report.ts
  applications/accounts/reports/src/setupTests.ts
Labels: applications, accounts

chore(accounts): fix reports output description
  applications/accounts/reports/serverless.yml
Labels: applications, accounts

feat(accounts): createReport mutation
  applications/accounts/api/mapping-templates/reports/createReport/Mutation.createReport.req.vtl
  applications/accounts/api/mapping-templates/reports/createReport/Mutation.createReport.res.vtl
  applications/accounts/api/mapping-templates/reports/createReport/Pipeline.createReport.req.vtl
  applications/accounts/api/mapping-templates/reports/createReport/Pipeline.createReport.res.vtl
  applications/accounts/api/schema/report.graphql
  applications/accounts/api/schema/schema.graphql
  applications/accounts/api/serverless.yml
Labels: applications, accounts

refactor(accounts): update report data sort key
  applications/accounts/reports/src/handlers/__tests__/add-report.test.ts
  applications/accounts/reports/src/handlers/add-report.ts
Labels: applications, accounts

feat(accounts): getReports query
  applications/accounts/api/mapping-templates/reports/getReports/Query.getReports.req.vtl
  applications/accounts/api/mapping-templates/reports/getReports/Query.getReports.res.vtl
  applications/accounts/api/schema/report.graphql
  applications/accounts/api/schema/schema.graphql
  applications/accounts/api/serverless.yml
Labels: applications, accounts

feat(accounts): add year end reports tile to the dashboard
  .vscode/settings.json
  applications/accounts/client/public/locales/en/dashboard.json
  applications/accounts/client/src/pages/MyCompanies/Dashboard.tsx
  applications/accounts/client/src/pages/MyCompanies/__tests__/Dashboard.tsx
Labels: applications, accounts

chore: package housekeeping
  packages/ga-web-vitals/package.json
  packages/ga-web-vitals/rollup.config.js
  packages/serverless-outputs-env/rollup.config.js
  packages/webpack-conditional-plugin/rollup.config.js
  packages/webpack-permissions-plugin/rollup.config.js
Labels: packages, ga-web-vitals, serverless-outputs-env, webpack-conditional-plugin, webpack-permissions-plugin

feat(accounts): add ttl to the gql response
  applications/accounts/api/schema/report.graphql
Labels: applications, accounts
