Repository motech-development/platform, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, applications, accounts, core, cypress, id, packages, api-gateway-handler, appsync-apollo, auth, axios-hooks, breeze-ui, ga-web-vitals, node-logger, query-string-hooks, s3-file-operations, serverless-outputs-env, webpack-conditional-plugin, webpack-permissions-plugin

.github/labeler.yml:

repo:
  - changed-files:
      - any-glob-to-any-file: '*'

applications:
  - changed-files:
      - any-glob-to-any-file: applications/**

accounts:
  - changed-files:
      - any-glob-to-any-file: applications/accounts/**

core:
  - changed-files:
      - any-glob-to-any-file: applications/core/**

cypress:
  - changed-files:
      - any-glob-to-any-file: applications/cypress/**

id:
  - changed-files:
      - any-glob-to-any-file: applications/id/**

packages:
  - changed-files:
      - any-glob-to-any-file: packages/**

api-gateway-handler:
  - changed-files:
      - any-glob-to-any-file: packages/api-gateway-handler/**

appsync-apollo:
  - changed-files:
      - any-glob-to-any-file: packages/appsync-apollo/**

auth:
  - changed-files:
      - any-glob-to-any-file: packages/auth/**

axios-hooks:
  - changed-files:
      - any-glob-to-any-file: packages/axios-hooks/**

breeze-ui:
  - changed-files:
      - any-glob-to-any-file: packages/breeze-ui/**

ga-web-vitals:
  - changed-files:
      - any-glob-to-any-file: packages/ga-web-vitals/**

node-logger:
  - changed-files:
      - any-glob-to-any-file: packages/node-logger/**

query-string-hooks:
  - changed-files:
      - any-glob-to-any-file: packages/query-string-hooks/**

s3-file-operations:
  - changed-files:
      - any-glob-to-any-file: packages/s3-file-operations/**

serverless-outputs-env:
  - changed-files:
      - any-glob-to-any-file: packages/serverless-outputs-env/**

webpack-conditional-plugin:
  - changed-files:
      - any-glob-to-any-file: packages/webpack-conditional-plugin/**

webpack-permissions-plugin:
  - changed-files:
      - any-glob-to-any-file: packages/webpack-permissions-plugin/**

fix(deps): re-add missing rollup plugin
  packages/project-tailwind/package.json
  yarn.lock
Labels: repo, packages

Notes added by 'git notes add'
  ef/ba145d33b2c088e5c58055ef3207045128c08e
Labels: none

Notes added by 'git notes add'
  bc/5b3292565af41bf3f7576f32bc33daf9365139
Labels: none

Notes added by 'git notes add'
  9e/9515ebee9360c9bf1e6ca54a9c6a5ab11c95b8
Labels: none

Notes added by 'git notes add'
  a3/ebcfc71094d18303b83f37e638ca12f2e426b4
Labels: none

Notes added by 'git notes add'
  d6/1dbb6ba0766416aaa226090c15c4127e6e6a9e
Labels: none

Notes added by 'git notes add'
  bf/0464731f72ec20cbb6acdcbada73ccb7cfe7cd
Labels: none

Notes added by 'git notes add'
  7b/2bed49e78da0dbde0c7d92eb5d062ba149acda
Labels: none

Notes added by 'git notes add'
  b3/88f25d7d0397122c7191c5fded7cdf1022c960
Labels: none

chore: update lockfile
  yarn.lock
Labels: repo

Notes added by 'git notes add'
  d1/83219c0cc75edcc50983efac022f8d89659918
Labels: none

Notes added by 'git notes add'
  2a/963afef0a132c2328180a72052087e60d606be
Labels: none

Notes added by 'git notes add'
  b1/0b60df9e130015fb9925789ba6d5c098729771
Labels: none

chore: convert vite config to mts
  applications/id/client/tsconfig.eslint.json
  applications/id/client/tsconfig.node.json
  applications/id/client/vite.config.mts
Labels: applications, id

chore: convert vite config to mts
  applications/id/client/tsconfig.eslint.json
  applications/id/client/tsconfig.node.json
  applications/id/client/vite.config.mts
Labels: applications, id

feat(deps): update typescript-eslint
  packages/eslint-config-motech-base/index.js
  packages/eslint-config-motech-base/package.json
  packages/eslint-config-motech-react/index.js
  packages/eslint-config-motech-react/package.json
Labels: packages

chore(deps): update eslint
  applications/accounts/api/package.json
  applications/accounts/client/package.json
  applications/accounts/data-restore/package.json
  applications/accounts/data/package.json
  applications/accounts/notifications/package.json
  applications/accounts/queue/package.json
  applications/accounts/reports/package.json
  applications/accounts/storage/package.json
  applications/accounts/warm-up/package.json
  applications/core/anti-virus/package.json
  applications/core/comms/package.json
  applications/cypress/api/package.json
  applications/id/client/package.json
  applications/id/tenant/package.json
  packages/api-gateway-handler/package.json
  packages/appsync-apollo/package.json
  packages/auth/package.json
  packages/axios-hooks/package.json
  packages/breeze-ui/package.json
  packages/ga-web-vitals/package.json
  packages/node-logger/package.json
  packages/query-string-hook/package.json
  packages/s3-file-operations/package.json
  packages/serverless-outputs-env/package.json
  packages/webpack-conditional-plugin/package.json
  packages/webpack-permissions-plugin/package.json
  packages/yarn-plugin-dedupe/package.json
  packages/yarn-plugin-prepare/package.json
  yarn.lock
Labels: repo, applications, accounts, core, cypress, id, packages, api-gateway-handler, appsync-apollo, auth, axios-hooks, breeze-ui, ga-web-vitals, node-logger, s3-file-operations, serverless-outputs-env, webpack-conditional-plugin, webpack-permissions-plugin

fix: correct versions
  applications/accounts/data-restore/package.json
  yarn.lock
Labels: repo, applications, accounts

fix: linting
  applications/accounts/storage/src/handlers/signed-download.ts
  applications/accounts/storage/src/handlers/signed-upload.ts
Labels: applications, accounts

test: fix linting
  applications/accounts/data/src/handlers/__tests__/confirm-transactions.test.ts
  applications/accounts/data/src/handlers/__tests__/insert-scheduled-transactions.test.ts
  applications/accounts/data/src/handlers/__tests__/insert-transactions.test.ts
  applications/accounts/data/src/handlers/__tests__/insert-typeahead.test.ts
  applications/accounts/data/src/handlers/__tests__/remove-scheduled-transactions.test.ts
  applications/accounts/data/src/handlers/__tests__/remove-transactions.test.ts
  applications/accounts/data/src/handlers/__tests__/update-attachments.test.ts
  applications/accounts/data/src/handlers/__tests__/update-scheduled-transactions.test.ts
  applications/accounts/data/src/handlers/__tests__/update-transactions.test.ts
Labels: applications, accounts

feat(deps): update prettier rules
  applications/accounts/api/package.json
  applications/accounts/client/package.json
  applications/accounts/data-restore/package.json
  applications/accounts/data/package.json
  applications/accounts/notifications/package.json
  applications/accounts/queue/package.json
  applications/accounts/reports/package.json
  applications/accounts/storage/package.json
  applications/accounts/warm-up/package.json
  applications/core/anti-virus/package.json
  applications/core/comms/package.json
  applications/cypress/api/package.json
  applications/id/client/package.json
  applications/id/tenant/package.json
  packages/api-gateway-handler/package.json
  packages/appsync-apollo/package.json
  packages/auth/package.json
  packages/axios-hooks/package.json
  packages/breeze-ui/package.json
  packages/eslint-config-motech-base/package.json
  packages/eslint-config-motech-react/package.json
  packages/ga-web-vitals/package.json
  packages/node-logger/package.json
  packages/query-string-hook/package.json
  packages/s3-file-operations/package.json
  packages/semantic-release/package.json
  packages/serverless-outputs-env/package.json
  packages/webpack-conditional-plugin/package.json
  packages/webpack-permissions-plugin/package.json
  packages/yarn-plugin-dedupe/package.json
  packages/yarn-plugin-prepare/package.json
  yarn.lock
Labels: repo, applications, accounts, core, cypress, id, packages, api-gateway-handler, appsync-apollo, auth, axios-hooks, breeze-ui, ga-web-vitals, node-logger, s3-file-operations, serverless-outputs-env, webpack-conditional-plugin, webpack-permissions-plugin

fix: linting
  applications/cypress/api/src/handlers/github-status.ts
Labels: applications, cypress

fix: linting
  applications/accounts/notifications/src/handlers/create-notification.ts
Labels: applications, accounts

fix: linting
  applications/accounts/client/src/components/ClientForm.tsx
  applications/accounts/client/src/components/CompanyForm.tsx
  applications/accounts/client/src/components/CompanyWizard.tsx
  applications/accounts/client/src/components/ConfirmDelete.tsx
  applications/accounts/client/src/components/DeleteItem.tsx
  applications/accounts/client/src/components/FileDownload.tsx
  applications/accounts/client/src/components/SettingsForm.tsx
  applications/accounts/client/src/components/TransactionForm.tsx
  applications/accounts/client/src/components/UserBar.tsx
  applications/accounts/client/src/pages/MyCompanies/Accounts/shared/ViewAttachment.tsx
Labels: applications, accounts

fix: linting
  applications/id/client/src/components/AuthForm.tsx
  applications/id/client/src/components/ForgottenPasswordForm.tsx
  applications/id/client/src/pages/views/ForgottenPassword.tsx
  applications/id/client/src/pages/views/LogIn.tsx
  applications/id/client/src/pages/views/ResetPassword.tsx
  applications/id/client/src/pages/views/SignUp.tsx
Labels: applications, id

fix: update form types
  applications/accounts/client/src/components/ClientForm.tsx
  applications/accounts/client/src/components/CompanyForm.tsx
  applications/accounts/client/src/components/ExportForm.tsx
  applications/accounts/client/src/pages/MyCompanies/Reports/__tests__/CreateReport.tsx
  packages/breeze-ui/src/Form/Form.tsx
Labels: applications, accounts, packages, breeze-ui

fix: linting
  packages/breeze-ui/src/BaseStyles/BaseStyles.tsx
  packages/breeze-ui/src/Calendar/Calendar.tsx
  packages/breeze-ui/src/CheckBox/CheckBox.tsx
  packages/breeze-ui/src/FieldSet/FieldSet.tsx
  packages/breeze-ui/src/FileUpload/FileUpload.tsx
  packages/breeze-ui/src/Form/Form.tsx
  packages/breeze-ui/src/Notifications/Notifications.tsx
  packages/breeze-ui/src/Radio/Radio.tsx
  packages/breeze-ui/src/Select/Select.tsx
  packages/breeze-ui/src/Stepper/Stepper.tsx
  packages/breeze-ui/src/TextBox/TextBox.tsx
Labels: packages, breeze-ui

fix: linting
  packages/auth/src/WithAuth.tsx
Labels: packages, auth

fix: linting
  packages/appsync-apollo/src/Apollo/Apollo.tsx
Labels: packages, appsync-apollo

chore: remove serverless offline
  applications/accounts/storage/package.json
  applications/accounts/storage/serverless.yml
  yarn.lock
Labels: repo, applications, accounts

chore: remove serverless offline
  applications/accounts/storage/package.json
  applications/accounts/storage/serverless.yml
  yarn.lock
Labels: repo, applications, accounts

chore: remove serverless offline
  applications/accounts/storage/package.json
  applications/accounts/storage/serverless.yml
  yarn.lock
Labels: repo, applications, accounts

Notes added by 'git notes add'
  49/9ecbba60c585ffd68eb06b2e6c02268c3e2152
Labels: none

Notes added by 'git notes add'
  a3/7434dd8684a66b679d55216e0e84222b2238fb
Labels: none

deploy: 37b122c975f05aa443df25b435307ceebd90fae9
  project.json
Labels: repo

chore(deps): update eslint
  applications/accounts/api/package.json
  applications/accounts/client/package.json
  applications/accounts/data-restore/package.json
  applications/accounts/data/package.json
  applications/accounts/notifications/package.json
  applications/accounts/queue/package.json
  applications/accounts/reports/package.json
  applications/accounts/storage/package.json
  applications/accounts/warm-up/package.json
  applications/core/anti-virus/package.json
  applications/core/comms/package.json
  applications/cypress/api/package.json
  applications/id/client/package.json
  applications/id/tenant/package.json
  packages/api-gateway-handler/package.json
  packages/appsync-apollo/package.json
  packages/auth/package.json
  packages/axios-hooks/package.json
  packages/breeze-ui/package.json
  packages/ga-web-vitals/package.json
  packages/node-logger/package.json
  packages/query-string-hook/package.json
  packages/s3-file-operations/package.json
  packages/serverless-outputs-env/package.json
  packages/webpack-conditional-plugin/package.json
  packages/webpack-permissions-plugin/package.json
  packages/yarn-plugin-dedupe/package.json
  packages/yarn-plugin-prepare/package.json
  yarn.lock
Labels: repo, applications, accounts, core, cypress, id, packages, api-gateway-handler, appsync-apollo, auth, axios-hooks, breeze-ui, ga-web-vitals, node-logger, s3-file-operations, serverless-outputs-env, webpack-conditional-plugin, webpack-permissions-plugin

feat(deps): update typescript-eslint
  packages/eslint-config-motech-base/index.js
  packages/eslint-config-motech-base/package.json
  packages/eslint-config-motech-react/index.js
  packages/eslint-config-motech-react/package.json
Labels: packages

fix: linting
  applications/accounts/notifications/src/handlers/create-notification.ts
Labels: applications, accounts

fix: linting
  applications/accounts/storage/src/handlers/signed-download.ts
  applications/accounts/storage/src/handlers/signed-upload.ts
Labels: applications, accounts

fix: correct versions
  applications/accounts/data-restore/package.json
  yarn.lock
Labels: repo, applications, accounts
