Repository motech-development/platform, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, applications, accounts, core, cypress, id, packages, api-gateway-handler, appsync-apollo, auth, axios-hooks, breeze-ui, ga-web-vitals, node-logger, query-string-hooks, s3-file-operations, serverless-outputs-env, webpack-conditional-plugin, webpack-permissions-plugin

feat: link component
  packages/project-tailwind/src/components/Button.tsx
  packages/project-tailwind/src/components/Link.tsx
  packages/project-tailwind/src/components/__tests__/Link.test.tsx
  packages/project-tailwind/src/components/__tests__/__snapshots__/Button.test.tsx.snap
  packages/project-tailwind/src/components/__tests__/__snapshots__/Link.test.tsx.snap
  packages/project-tailwind/src/stories/Link.stories.tsx
Labels: packages

refactor: remove eslint disable comments after updating of rules
  packages/project-tailwind/src/components/Button.tsx
  packages/project-tailwind/src/components/Link.tsx
  packages/project-tailwind/src/components/Typography.tsx
  packages/project-tailwind/src/components/__tests__/Button.test.tsx
  packages/project-tailwind/src/components/__tests__/Link.test.tsx
Labels: packages

fix: correct button text colours
  packages/project-tailwind/src/components/Button.tsx
  packages/project-tailwind/src/components/__tests__/__snapshots__/Button.test.tsx.snap
Labels: packages

refactor: remove space
  packages/project-tailwind/src/components/Button.tsx
  packages/project-tailwind/src/components/__tests__/__snapshots__/Button.test.tsx.snap
Labels: packages

feat: title component
  packages/project-tailwind/src/components/Title.tsx
  packages/project-tailwind/src/components/__tests__/Title.test.tsx
  packages/project-tailwind/src/components/__tests__/__snapshots__/Title.test.tsx.snap
  packages/project-tailwind/src/index.ts
  packages/project-tailwind/src/stories/Logo.stories.tsx
  packages/project-tailwind/src/stories/Title.stories.tsx
  packages/project-tailwind/src/utilities/tailwind.ts
Labels: packages

feat: card component
  packages/project-tailwind/src/components/Card.tsx
  packages/project-tailwind/src/components/Typography.tsx
  packages/project-tailwind/src/components/__tests__/Card.test.tsx
  packages/project-tailwind/src/components/__tests__/__snapshots__/Card.test.tsx.snap
  packages/project-tailwind/src/components/__tests__/__snapshots__/Typography.test.tsx.snap
  packages/project-tailwind/src/index.ts
  packages/project-tailwind/src/stories/Card.stories.tsx
Labels: packages

feat: typography component
  packages/project-tailwind/.storybook/preview-head.html
  packages/project-tailwind/src/components/Typography.tsx
  packages/project-tailwind/src/components/__tests__/Typography.test.tsx
  packages/project-tailwind/src/components/__tests__/__snapshots__/Typography.test.tsx.snap
  packages/project-tailwind/src/index.ts
  packages/project-tailwind/src/stories/Logo.stories.tsx
  packages/project-tailwind/src/stories/Typography.stories.tsx
  packages/project-tailwind/src/utilities/tailwind.ts
  packages/project-tailwind/tailwind.config.js
Labels: packages

fix: update prop spread rule to allow use in tests and with polymorphic boxes
  packages/eslint-config-motech-react/index.js
Labels: packages

feat: add onVisibilityChange callback to tooltip component
  packages/project-tailwind/src/components/Tooltip.tsx
  packages/project-tailwind/src/components/__tests__/Tooltip.test.tsx
  packages/project-tailwind/src/components/__tests__/__snapshots__/Tooltip.test.tsx.snap
Labels: packages

feat: tooltip component
  packages/project-tailwind/package.json
  packages/project-tailwind/src/components/Tooltip.tsx
  packages/project-tailwind/src/components/__tests__/Tooltip.test.tsx
  packages/project-tailwind/src/components/__tests__/__snapshots__/Tooltip.test.tsx.snap
  packages/project-tailwind/src/index.ts
  packages/project-tailwind/src/setupTests.ts
  packages/project-tailwind/src/stories/Tooltip.stories.tsx
  yarn.lock
Labels: repo, packages

feat: textInput component
  packages/project-tailwind/.eslintrc.json
  packages/project-tailwind/package.json
  packages/project-tailwind/src/components/Form.tsx
  packages/project-tailwind/src/components/__tests__/Form.test.tsx
  packages/project-tailwind/src/components/__tests__/__snapshots__/Form.test.tsx.snap
  packages/project-tailwind/src/components/__tests__/__snapshots__/Toolbar.test.tsx.snap
  packages/project-tailwind/src/stories/TextInput.stories.tsx
  packages/project-tailwind/tailwind.config.js
  yarn.lock
Labels: repo, packages

feat: textarea component
  packages/project-tailwind/package.json
  packages/project-tailwind/src/components/__tests__/Form.test.tsx
  packages/project-tailwind/src/components/__tests__/__snapshots__/Form.test.tsx.snap
  packages/project-tailwind/src/index.ts
  packages/project-tailwind/src/stories/Input.stories.tsx
  packages/project-tailwind/src/stories/TextInput.stories.tsx
  packages/project-tailwind/src/stories/Textarea.stories.tsx
  packages/project-tailwind/src/utilities/jest.ts
  yarn.lock
Labels: repo, packages

feat: toolbar component
  packages/project-tailwind/src/components/Toolbar.tsx
  packages/project-tailwind/src/components/__tests__/Toolbar.test.tsx
  packages/project-tailwind/src/components/__tests__/__snapshots__/Toolbar.test.tsx.snap
  packages/project-tailwind/src/index.ts
  packages/project-tailwind/src/stories/Toolbar.stories.tsx
Labels: packages

refactor: use new test utility and user events library
  packages/project-tailwind/src/components/Alert.tsx
  packages/project-tailwind/src/components/Form.tsx
  packages/project-tailwind/src/components/__tests__/Alert.test.tsx
  packages/project-tailwind/src/components/__tests__/Avatar.test.tsx
  packages/project-tailwind/src/components/__tests__/Button.test.tsx
  packages/project-tailwind/src/components/__tests__/Card.test.tsx
  packages/project-tailwind/src/components/__tests__/Link.test.tsx
  packages/project-tailwind/src/components/__tests__/Logo.test.tsx
  packages/project-tailwind/src/components/__tests__/Title.test.tsx
  packages/project-tailwind/src/components/__tests__/Toolbar.test.tsx
  packages/project-tailwind/src/components/__tests__/Tooltip.test.tsx
  packages/project-tailwind/src/components/__tests__/Typography.test.tsx
  packages/project-tailwind/src/components/__tests__/__snapshots__/Alert.test.tsx.snap
  packages/project-tailwind/src/components/__tests__/__snapshots__/Tooltip.test.tsx.snap
Labels: packages

refactor: remove duplicate should statements
  packages/project-tailwind/src/components/__tests__/Title.test.tsx
  packages/project-tailwind/src/components/__tests__/__snapshots__/Title.test.tsx.snap
Labels: packages

feat: upload component
  packages/project-tailwind/src/components/Button.tsx
  packages/project-tailwind/src/components/Form.tsx
  packages/project-tailwind/src/components/__tests__/Form.test.tsx
  packages/project-tailwind/src/components/__tests__/__snapshots__/Button.test.tsx.snap
  packages/project-tailwind/src/components/__tests__/__snapshots__/Form.test.tsx.snap
  packages/project-tailwind/src/stories/Button.stories.tsx
  packages/project-tailwind/src/stories/Textarea.stories.tsx
  packages/project-tailwind/src/stories/Upload.stories.tsx
  packages/project-tailwind/src/utilities/refs.ts
Labels: packages

style: sort out indents
  packages/auth/src/__tests__/withAuth.tsx
Labels: packages, auth

feat: radio component
  packages/project-tailwind/src/components/Form.tsx
  packages/project-tailwind/src/components/__tests__/Form.test.tsx
  packages/project-tailwind/src/components/__tests__/__snapshots__/Form.test.tsx.snap
  packages/project-tailwind/src/stories/Radio.stories.tsx
Labels: packages

refactor: update stories to no longer use deprecated types
  packages/project-tailwind/src/stories/Alert.stories.tsx
  packages/project-tailwind/src/stories/Avatar.stories.tsx
  packages/project-tailwind/src/stories/Button.stories.tsx
  packages/project-tailwind/src/stories/Card.stories.tsx
  packages/project-tailwind/src/stories/Input.stories.tsx
  packages/project-tailwind/src/stories/Link.stories.tsx
  packages/project-tailwind/src/stories/Logo.stories.tsx
  packages/project-tailwind/src/stories/Radio.stories.tsx
  packages/project-tailwind/src/stories/Select.stories.tsx
  packages/project-tailwind/src/stories/Textarea.stories.tsx
  packages/project-tailwind/src/stories/Title.stories.tsx
  packages/project-tailwind/src/stories/Toolbar.stories.tsx
  packages/project-tailwind/src/stories/Tooltip.stories.tsx
  packages/project-tailwind/src/stories/Typography.stories.tsx
  packages/project-tailwind/src/stories/Upload.stories.tsx
Labels: packages

chore: migrate to swc
  packages/project-tailwind/.storybook/main.js
  packages/project-tailwind/babel.config.js
  packages/project-tailwind/package.json
  packages/project-tailwind/rollup.config.js
  yarn.lock
Labels: repo, packages

feat: select component
  packages/project-tailwind/package.json
  packages/project-tailwind/src/components/Form.tsx
  packages/project-tailwind/src/components/__tests__/Form.test.tsx
  packages/project-tailwind/src/components/__tests__/__snapshots__/Form.test.tsx.snap
  packages/project-tailwind/src/stories/Select.stories.tsx
  yarn.lock
Labels: repo, packages

revert: filename
  .prettierignore
Labels: repo

ci: disable qa for project tailwind
  .github/workflows/quality-assurance.yml
Labels: none

chore(deps): update deps
  packages/project-tailwind/.storybook/main.js
  packages/project-tailwind/package.json
  yarn.lock
Labels: repo, packages

chore: exclude css files from rollup type generation
  packages/project-tailwind/rollup.config.js
Labels: packages

chore: delete file
  .prettierignore.backup
Labels: repo

feat: forwardRef components
  packages/project-tailwind/src/components/Avatar.tsx
  packages/project-tailwind/src/components/Card.tsx
  packages/project-tailwind/src/components/Logo.tsx
Labels: packages

refactor: replace polymorphic components with asChild prop
  packages/eslint-config-motech-react/index.js
  packages/project-tailwind/package.json
  packages/project-tailwind/src/components/Box.tsx
  packages/project-tailwind/src/components/Button.tsx
  packages/project-tailwind/src/components/Form.tsx
  packages/project-tailwind/src/components/Link.tsx
  packages/project-tailwind/src/components/Slot.tsx
  packages/project-tailwind/src/components/Title.tsx
  packages/project-tailwind/src/components/Toolbar.tsx
  packages/project-tailwind/src/components/Tooltip.tsx
  packages/project-tailwind/src/components/Typography.tsx
  packages/project-tailwind/src/components/__tests__/Button.test.tsx
  packages/project-tailwind/src/components/__tests__/Link.test.tsx
  packages/project-tailwind/src/components/__tests__/Toolbar.test.tsx
  packages/project-tailwind/src/components/__tests__/Tooltip.test.tsx
  packages/project-tailwind/src/components/__tests__/Typography.test.tsx
  packages/project-tailwind/src/components/__tests__/__snapshots__/Form.test.tsx.snap
  packages/project-tailwind/src/components/__tests__/__snapshots__/Link.test.tsx.snap
  packages/project-tailwind/src/components/__tests__/__snapshots__/Toolbar.test.tsx.snap
  yarn.lock
Labels: repo, packages

fix: slottable component and documentation
  packages/project-tailwind/src/components/Box.tsx
  packages/project-tailwind/src/components/Slot.tsx
  packages/project-tailwind/src/components/__tests__/__snapshots__/Toolbar.test.tsx.snap
Labels: packages

chore: document box component
  packages/project-tailwind/src/components/Box.tsx
Labels: packages

ci: revert changes
  .github/workflows/deploy-to-environment.yml
  .github/workflows/quality-assurance.yml
Labels: none

chore: remove polymorphic box package
  packages/project-tailwind/package.json
  yarn.lock
Labels: repo, packages

fix: rollup config
  packages/project-tailwind/package.json
  packages/project-tailwind/rollup.config.mjs
  yarn.lock
Labels: repo, packages

refactor: remove box
  packages/project-tailwind/src/components/__tests__/Typography.test.tsx
Labels: packages

feat: update input and remove box
  packages/project-tailwind/src/components/Box.tsx
  packages/project-tailwind/src/components/Form.tsx
  packages/project-tailwind/src/components/__tests__/Tooltip.test.tsx
  packages/project-tailwind/src/components/__tests__/__snapshots__/Form.test.tsx.snap
Labels: packages

test: fix broken test
  packages/project-tailwind/src/components/__tests__/Alert.test.tsx
Labels: packages

fix(deps): re-add missing rollup plugin
  packages/project-tailwind/package.json
  yarn.lock
Labels: repo, packages

chore: update deps
  .yarnrc.yml
  packages/prettier-motech-config/package.json
  packages/project-tailwind/package.json
  packages/project-tailwind/src/components/Box.tsx
  packages/project-tailwind/src/components/Form.tsx
  packages/project-tailwind/src/components/Link.tsx
  packages/project-tailwind/src/components/Slot.tsx
  packages/project-tailwind/src/components/__tests__/Form.test.tsx
  yarn.lock
Labels: repo, packages

fix(deps): update headless ui
  packages/project-tailwind/package.json
  packages/project-tailwind/src/components/Form.tsx
  packages/project-tailwind/src/components/__tests__/Form.test.tsx
  packages/project-tailwind/src/components/__tests__/__snapshots__/Form.test.tsx.snap
  yarn.lock
Labels: repo, packages

fix(deps): update react slot
  packages/project-tailwind/package.json
  yarn.lock
Labels: repo, packages

.github/labeler.yml:

repo:
  - changed-files:
      - any-glob-to-any-file: '*'

applications:
  - changed-files:
      - any-glob-to-any-file: applications/**

accounts:
  - changed-files:
      - any-glob-to-any-file: applications/accounts/**

core:
  - changed-files:
      - any-glob-to-any-file: applications/core/**

cypress:
  - changed-files:
      - any-glob-to-any-file: applications/cypress/**

id:
  - changed-files:
      - any-glob-to-any-file: applications/id/**

packages:
  - changed-files:
      - any-glob-to-any-file: packages/**

api-gateway-handler:
  - changed-files:
      - any-glob-to-any-file: packages/api-gateway-handler/**

appsync-apollo:
  - changed-files:
      - any-glob-to-any-file: packages/appsync-apollo/**

auth:
  - changed-files:
      - any-glob-to-any-file: packages/auth/**

axios-hooks:
  - changed-files:
      - any-glob-to-any-file: packages/axios-hooks/**

breeze-ui:
  - changed-files:
      - any-glob-to-any-file: packages/breeze-ui/**

ga-web-vitals:
  - changed-files:
      - any-glob-to-any-file: packages/ga-web-vitals/**

node-logger:
  - changed-files:
      - any-glob-to-any-file: packages/node-logger/**

query-string-hooks:
  - changed-files:
      - any-glob-to-any-file: packages/query-string-hooks/**

s3-file-operations:
  - changed-files:
      - any-glob-to-any-file: packages/s3-file-operations/**

serverless-outputs-env:
  - changed-files:
      - any-glob-to-any-file: packages/serverless-outputs-env/**

webpack-conditional-plugin:
  - changed-files:
      - any-glob-to-any-file: packages/webpack-conditional-plugin/**

webpack-permissions-plugin:
  - changed-files:
      - any-glob-to-any-file: packages/webpack-permissions-plugin/**
