Repository motech-development/platform, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, applications, accounts, core, id, open-banking, packages, api-gateway-handler, auth, axios-hooks, breeze-ui, ga-web-vitals, query-string-hooks, serverless-outputs-env, webpack-conditional-plugin, webpack-permissions-plugin

chore(ui): create notifications component
  packages/breeze-ui/src/AppBar/AppBar.stories.tsx
  packages/breeze-ui/src/Notifications/Notifications.tsx
Labels: packages, breeze-ui

feat(ui): notifications component
  packages/breeze-ui/src/AppBar/AppBar.stories.tsx
  packages/breeze-ui/src/Notifications/Notifications.tsx
  packages/breeze-ui/src/Notifications/__tests__/Notifications.tsx
  packages/breeze-ui/src/index.ts
Labels: packages, breeze-ui

chore(ui): notification changes
  packages/breeze-ui/src/AppBar/AppBar.stories.tsx
  packages/breeze-ui/src/Notifications/Notifications.tsx
  packages/breeze-ui/src/Notifications/__tests__/Notifications.tsx
Labels: packages, breeze-ui

chore(accounts): mock notifications
  applications/accounts/client/public/locales/en/user-notifications.json
  applications/accounts/client/src/components/UserBar.tsx
  applications/accounts/client/src/components/UserNotifications.tsx
  applications/accounts/client/src/pages/MyCompanies/index.tsx
Labels: applications, accounts

chore(accounts): notification gql schema
  applications/accounts/api/schema/notification.graphql
  applications/accounts/api/schema/schema.graphql
Labels: applications, accounts

chore(accounts): fix schema
  applications/accounts/api/schema/schema.graphql
  applications/accounts/api/serverless.yml
Labels: applications, accounts

chore(accounts): begin notification service
  applications/accounts/notifications/.eslintrc.yml
  applications/accounts/notifications/.lintstagedrc.yml
  applications/accounts/notifications/babel.config.js
  applications/accounts/notifications/package-lock.json
  applications/accounts/notifications/package.json
  applications/accounts/notifications/serverless.yml
  applications/accounts/notifications/src/__tests__/publish-notifications.ts
  applications/accounts/notifications/src/publish-notifications.ts
  applications/accounts/notifications/tsconfig.json
  applications/accounts/notifications/webpack.config.js
  sonar-project.properties
Labels: repo, applications, accounts

chore(accounts): prototype handler and API changes
  applications/accounts/api/schema/notification.graphql
  applications/accounts/api/schema/schema.graphql
  applications/accounts/api/serverless.yml
  applications/accounts/notifications/serverless.yml
  applications/accounts/notifications/src/publish-notifications.ts
Labels: applications, accounts

chore(accounts): forgot to save handler
  applications/accounts/notifications/src/publish-notifications.ts
Labels: applications, accounts

chore(accounts): use appsync client
  applications/accounts/notifications/package-lock.json
  applications/accounts/notifications/package.json
  applications/accounts/notifications/serverless.yml
  applications/accounts/notifications/src/publish-notifications.ts
Labels: applications, accounts

chore(accounts): linting fix
  applications/accounts/notifications/src/publish-notifications.ts
Labels: applications, accounts

chore(accounts): api beacon changes
  applications/accounts/api/schema/notification.graphql
  applications/accounts/api/schema/schema.graphql
  applications/accounts/api/serverless.yml
Labels: applications, accounts

chore(accounts): notification handler changes
  applications/accounts/notifications/src/publish-notifications.ts
Labels: applications, accounts

chore(platform): add notifications to the deployment
  .github/workflows/checks.yml
  .github/workflows/deploy.yml
Labels: none

chore(accounts): export data stream arn
  applications/accounts/data/serverless.yml
Labels: applications, accounts

chore(accounts): implement beacon mutation
  applications/accounts/api/mapping-templates/notifications/notificationBeacon/Mutation.notificationBeacon.req.vtl
  applications/accounts/api/mapping-templates/notifications/notificationBeacon/Mutation.notificationBeacon.res.vtl
  applications/accounts/api/schema/schema.graphql
  applications/accounts/api/serverless.yml
Labels: applications, accounts

chore(accounts): create notification on virus scan fail
  applications/accounts/data/package-lock.json
  applications/accounts/data/package.json
  applications/accounts/data/src/__tests__/clear-attachments.ts
  applications/accounts/data/src/handlers/__tests__/update-attachments.ts
  applications/accounts/data/src/handlers/update-attachments.ts
Labels: applications, accounts

chore(accounts): fix data handler
  applications/accounts/data/src/handlers/__tests__/update-attachments.ts
  applications/accounts/data/src/handlers/update-attachments.ts
Labels: applications, accounts

chore(accounts): update notification handler
  applications/accounts/notifications/src/publish-notifications.ts
Labels: applications, accounts

chore(accounts): get notifications
  applications/accounts/api/mapping-templates/notifications/getNotifications/Query.getNotifications.req.vtl
  applications/accounts/api/mapping-templates/notifications/getNotifications/Query.getNotifications.res.vtl
  applications/accounts/api/mapping-templates/notifications/notificationBeacon/Mutation.notificationBeacon.res.vtl
  applications/accounts/api/schema/notification.graphql
  applications/accounts/api/schema/schema.graphql
  applications/accounts/api/serverless.yml
Labels: applications, accounts

chore(ui): fix notification effect bug
  packages/breeze-ui/src/Notifications/Notifications.tsx
Labels: packages, breeze-ui

chore(accounts): update notification handler
  applications/accounts/notifications/src/publish-notifications.ts
Labels: applications, accounts

chore(accounts): update notification entry
  applications/accounts/data/src/handlers/__tests__/update-attachments.ts
  applications/accounts/data/src/handlers/update-attachments.ts
Labels: applications, accounts

chore(accounts): mark as read mutation
  applications/accounts/api/mapping-templates/company/createCompany/Pipeline.createCompany.req.vtl
  applications/accounts/api/mapping-templates/notifications/markAsRead/Mutation.markAsRead.req.vtl
  applications/accounts/api/mapping-templates/notifications/markAsRead/Mutation.markAsRead.res.vtl
  applications/accounts/api/mapping-templates/notifications/notificationBeacon/Mutation.notificationBeacon.res.vtl
  applications/accounts/api/schema/notification.graphql
  applications/accounts/api/schema/schema.graphql
  applications/accounts/api/serverless.yml
Labels: applications, accounts

chore(accounts): notification component
  applications/accounts/client/public/locales/en/user-notifications.json
  applications/accounts/client/src/components/UserNotifications.tsx
  applications/accounts/client/src/pages/MyCompanies/UserNotifications.tsx
  applications/accounts/client/src/pages/MyCompanies/index.tsx
Labels: applications, accounts

chore(accounts): scheduled transaction notifications
  .github/workflows/checks.yml
  .github/workflows/pull-request-checks.yml
  applications/accounts/client/public/locales/en/user-notifications.json
  applications/accounts/data/__mocks__/uuid.ts
  applications/accounts/data/src/__tests__/publish-transactions.ts
  applications/accounts/data/src/handlers/__tests__/confirm-transactions.ts
  applications/accounts/data/src/handlers/__tests__/update-attachments.ts
  applications/accounts/data/src/handlers/confirm-transactions.ts
  applications/accounts/data/src/handlers/update-attachments.ts
  applications/accounts/data/src/shared/publish-notification.ts
  applications/id/tenant/tenant.yaml
Labels: applications, accounts, id

chore(accounts): notification ordering
  applications/accounts/api/mapping-templates/notifications/getNotifications/Query.getNotifications.req.vtl
  applications/accounts/client/src/pages/MyCompanies/UserNotifications.tsx
Labels: applications, accounts

chore(accounts): notification handler tests
  .vscode/settings.json
  applications/accounts/notifications/__mocks__/aws-appsync.ts
  applications/accounts/notifications/__mocks__/aws-sdk.ts
  applications/accounts/notifications/src/__tests__/publish-notifications.ts
  applications/accounts/notifications/src/publish-notifications.ts
Labels: applications, accounts

chore(accounts): notifications tests
  applications/accounts/client/src/pages/MyCompanies/UserNotifications.tsx
  applications/accounts/client/src/pages/MyCompanies/__tests__/UserNotifications.tsx
Labels: applications, accounts

chore(accounts): hide photo on mobile
  applications/accounts/client/src/components/UserBar.tsx
Labels: applications, accounts

chore(ui): breakpoint component
  packages/breeze-ui/src/Breakpoint/Breakpoint.tsx
  packages/breeze-ui/src/Breakpoint/__tests__/Breakpoint.tsx
  packages/breeze-ui/src/Masonry/Masonry.tsx
  packages/breeze-ui/src/hooks/useBreakpoint.ts
  packages/breeze-ui/src/index.ts
Labels: packages, breeze-ui

chore(accounts): fix broken test
  applications/accounts/client/src/components/__tests__/UserBar.tsx
Labels: applications, accounts

chore(accounts): notifications smoke test
  applications/accounts/client/cypress/integration/smoke-tests.spec.ts
  applications/accounts/queue/serverless.yml
Labels: applications, accounts

chore(accounts): fix step function definition
  applications/accounts/queue/serverless.yml
Labels: applications, accounts

chore(accounts): revert step function
  applications/accounts/queue/serverless.yml
Labels: applications, accounts

chore(ui): table cell word wrap change
  applications/accounts/client/src/pages/MyCompanies/UserNotifications.tsx
  packages/breeze-ui/src/TableCell/TableCell.tsx
Labels: applications, accounts, packages, breeze-ui

chore(platform): upgrade cypress
  package-lock.json
  package.json
Labels: repo

chore(accounts): truncate transaction table text
  applications/accounts/client/src/components/TransactionArrow.tsx
  applications/accounts/client/src/components/TransactionDetailsCell.tsx
  applications/accounts/client/src/components/TransactionsList.tsx
  applications/accounts/client/src/components/UserBar.tsx
  applications/accounts/client/src/components/__tests__/TransactionArrow.tsx
  applications/accounts/client/src/pages/MyCompanies/Accounts/PendingTransactions.tsx
  packages/breeze-ui/src/Typography/Typography.tsx
Labels: applications, accounts, packages, breeze-ui

chore(ui): additional tests
  packages/breeze-ui/src/TableCell/__tests__/TableCell.tsx
  packages/breeze-ui/src/Typography/__tests__/Typography.tsx
Labels: packages, breeze-ui

chore(accounts): more tests
  applications/accounts/client/src/components/__tests__/TransactionDetailsCell.tsx
Labels: applications, accounts

.github/labeler.yml:

repo:
  - ./*

applications:
  - applications/*
  - applications/**/*

accounts:
  - applications/accounts/*
  - applications/accounts/**/*

core:
  - applications/core/*
  - applications/core/**/*

id:
  - applications/id/*
  - applications/id/**/*

open-banking:
  - applications/open-banking/*
  - applications/open-banking/**/*

packages:
  - packages/*
  - packages/**/*

api-gateway-handler:
  - packages/api-gateway-handler/*
  - packages/api-gateway-handler/**/*

auth:
  - packages/auth/*
  - packages/auth/**/*

axios-hooks:
  - packages/axios-hooks/*
  - packages/axios-hooks/**/*

breeze-ui:
  - packages/breeze-ui/*
  - packages/breeze-ui/**/*

ga-web-vitals:
  - packages/ga-web-vitals/*
  - packages/ga-web-vitals/**/*

query-string-hooks:
  - packages/query-string-hooks/*
  - packages/query-string-hooks/**/*

serverless-outputs-env:
  - packages/serverless-outputs-env/*
  - packages/serverless-outputs-env/**/*

webpack-conditional-plugin:
  - packages/webpack-conditional-plugin/*
  - packages/webpack-conditional-plugin/**/*

webpack-permissions-plugin:
  - packages/webpack-permissions-plugin/*
  - packages/webpack-permissions-plugin/**/*
