Repository motech-development/platform, pull requests merged in 2020-07, with the labels that each got.

#62 GitHub Actions
  .circleci/config.yml
  .github/labeler.yml
  .github/workflows/checks.yml
  .github/workflows/deploy.yml
  .github/workflows/label.yml
  .github/workflows/pull-request-checks.yml
  applications/accounts/client/cypress.json
  applications/accounts/client/package.json
  applications/core/anti-virus/scripts/build.sh
  packages/breeze-ui/package.json
  scripts/checksum.sh
Labels: accounts, applications, breeze-ui, core, packages

#67 GitHub actions fixes
  .github/workflows/checks.yml
  .github/workflows/deploy.yml
  .github/workflows/pull-request-checks.yml
  applications/core/anti-virus/scripts/build.sh
  scripts/sonar-scanner-path-fix.sh
Labels: applications, core

#68 Fix virus scan
  .github/workflows/checks.yml
  .github/workflows/pull-request-checks.yml
  applications/accounts/api/package.json
  applications/accounts/client/.gitignore
  applications/accounts/client/cypress/integration/smoke-tests.spec.ts
  applications/accounts/client/cypress/plugins/index.js
  applications/accounts/client/package.json
  applications/accounts/client/src/__tests__/App.tsx
  applications/accounts/data/package.json
  applications/accounts/infrastructure/package.json
  applications/accounts/queue/package.json
  applications/accounts/storage/package.json
  applications/core/anti-virus/package.json
  applications/core/anti-virus/scripts/build.sh
  applications/core/anti-virus/serverless.yml
  applications/core/anti-virus/src/shared/clam-av.ts
  applications/core/comms/package.json
  applications/core/infrastructure/package.json
  applications/id/infrastructure/package.json
  applications/open-banking/api/package.json
  package-lock.json
  package.json
  packages/auth/src/__tests__/withAuth.tsx
  packages/breeze-ui/src/Alert/__tests__/Alert.tsx
  packages/breeze-ui/src/ToastProvider/__tests__/ToastProvider.tsx
  packages/breeze-ui/src/Tooltip/__tests__/Tooltip.tsx
Labels: accounts, applications, auth, breeze-ui, core, id, open-banking, packages

#69 Anti-virus improvements
  .github/workflows/checks.yml
  .github/workflows/pull-request-checks.yml
  applications/accounts/api/mapping-templates/storage/requestUpload/Pipeline.requestUpload.req.vtl
  applications/accounts/api/schema/storage.graphql
  applications/accounts/client/.gitignore
  applications/accounts/client/cypress/integration/smoke-tests.spec.ts
  applications/accounts/client/cypress/plugins/index.js
  applications/accounts/client/src/components/TransactionForm.tsx
  applications/accounts/client/src/pages/MyCompanies/Accounts/ViewTransaction.tsx
  applications/accounts/client/src/pages/MyCompanies/Accounts/__tests__/RecordTransaction.tsx
  applications/accounts/client/src/pages/MyCompanies/Accounts/shared/UploadAttachment.tsx
  applications/accounts/data/__mocks__/aws-sdk/clients/dynamodb.ts
  applications/accounts/data/serverless.yml
  applications/accounts/data/src/__tests__/clear-attachments.ts
  applications/accounts/data/src/clear-attachments.ts
  applications/accounts/data/src/handlers/__tests__/update-attachments.ts
  applications/accounts/data/src/handlers/update-attachments.ts
  applications/accounts/storage/serverless.yml
  applications/accounts/storage/src/handlers/__tests__/signed-upload.ts
  applications/accounts/storage/src/handlers/signed-upload.ts
  applications/core/anti-virus/__mocks__/aws-sdk.ts
  applications/core/anti-virus/serverless.yml
  applications/core/anti-virus/src/handlers/__tests__/failure-notification.ts
  applications/core/anti-virus/src/handlers/__tests__/scan-files.ts
  applications/core/anti-virus/src/handlers/failure-notification.ts
  applications/core/anti-virus/src/handlers/scan-file.ts
  applications/core/anti-virus/src/shared/__tests__/file-operations.ts
  applications/core/anti-virus/src/shared/file-operations.ts
  package-lock.json
  package.json
  packages/breeze-ui/src/TextBox/TextBox.tsx
Labels: accounts, applications, core

#70 Notifications
  .github/workflows/checks.yml
  .github/workflows/deploy.yml
  .github/workflows/pull-request-checks.yml
  .vscode/settings.json
  applications/accounts/api/mapping-templates/company/createCompany/Pipeline.createCompany.req.vtl
  applications/accounts/api/mapping-templates/notifications/getNotifications/Query.getNotifications.req.vtl
  applications/accounts/api/mapping-templates/notifications/getNotifications/Query.getNotifications.res.vtl
  applications/accounts/api/mapping-templates/notifications/markAsRead/Mutation.markAsRead.req.vtl
  applications/accounts/api/mapping-templates/notifications/markAsRead/Mutation.markAsRead.res.vtl
  applications/accounts/api/mapping-templates/notifications/notificationBeacon/Mutation.notificationBeacon.req.vtl
  applications/accounts/api/mapping-templates/notifications/notificationBeacon/Mutation.notificationBeacon.res.vtl
  applications/accounts/api/schema/notification.graphql
  applications/accounts/api/schema/schema.graphql
  applications/accounts/api/serverless.yml
  applications/accounts/client/cypress/integration/smoke-tests.spec.ts
  applications/accounts/client/public/locales/en/user-notifications.json
  applications/accounts/client/src/components/UserBar.tsx
  applications/accounts/client/src/components/__tests__/UserBar.tsx
  applications/accounts/client/src/pages/MyCompanies/UserNotifications.tsx
  applications/accounts/client/src/pages/MyCompanies/__tests__/UserNotifications.tsx
  applications/accounts/client/src/pages/MyCompanies/index.tsx
  applications/accounts/data/__mocks__/uuid.ts
  applications/accounts/data/package-lock.json
  applications/accounts/data/package.json
  applications/accounts/data/serverless.yml
  applications/accounts/data/src/__tests__/clear-attachments.ts
  applications/accounts/data/src/__tests__/publish-transactions.ts
  applications/accounts/data/src/handlers/__tests__/confirm-transactions.ts
  applications/accounts/data/src/handlers/__tests__/update-attachments.ts
  applications/accounts/data/src/handlers/confirm-transactions.ts
  applications/accounts/data/src/handlers/update-attachments.ts
  applications/accounts/data/src/shared/publish-notification.ts
  applications/accounts/notifications/.eslintrc.yml
  applications/accounts/notifications/.lintstagedrc.yml
  applications/accounts/notifications/__mocks__/aws-appsync.ts
  applications/accounts/notifications/__mocks__/aws-sdk.ts
  applications/accounts/notifications/babel.config.js
  applications/accounts/notifications/package-lock.json
  applications/accounts/notifications/package.json
  applications/accounts/notifications/serverless.yml
  applications/accounts/notifications/src/__tests__/publish-notifications.ts
  applications/accounts/notifications/src/publish-notifications.ts
  applications/accounts/notifications/tsconfig.json
  applications/accounts/notifications/webpack.config.js
  applications/id/tenant/tenant.yaml
  packages/breeze-ui/src/AppBar/AppBar.stories.tsx
  packages/breeze-ui/src/Breakpoint/Breakpoint.tsx
  packages/breeze-ui/src/Breakpoint/__tests__/Breakpoint.tsx
  packages/breeze-ui/src/Masonry/Masonry.tsx
  packages/breeze-ui/src/Notifications/Notifications.tsx
  packages/breeze-ui/src/Notifications/__tests__/Notifications.tsx
  packages/breeze-ui/src/hooks/useBreakpoint.ts
  packages/breeze-ui/src/index.ts
  sonar-project.properties
Labels: accounts, applications

#71 UI improvements
  applications/accounts/client/src/components/TransactionArrow.tsx
  applications/accounts/client/src/components/TransactionDetailsCell.tsx
  applications/accounts/client/src/components/TransactionsList.tsx
  applications/accounts/client/src/components/UserBar.tsx
  applications/accounts/client/src/components/__tests__/TransactionArrow.tsx
  applications/accounts/client/src/components/__tests__/TransactionDetailsCell.tsx
  applications/accounts/client/src/pages/MyCompanies/Accounts/PendingTransactions.tsx
  applications/accounts/client/src/pages/MyCompanies/UserNotifications.tsx
  package-lock.json
  package.json
  packages/breeze-ui/src/TableCell/TableCell.tsx
  packages/breeze-ui/src/TableCell/__tests__/TableCell.tsx
  packages/breeze-ui/src/Typography/Typography.tsx
  packages/breeze-ui/src/Typography/__tests__/Typography.tsx
Labels: accounts, applications, breeze-ui, packages

#72 More UI improvements
  applications/accounts/client/src/components/TransactionDetailsCell.tsx
  applications/accounts/client/src/components/__tests__/TransactionDetailsCell.tsx
  packages/breeze-ui/src/Notifications/Notifications.tsx
Labels: accounts, applications, breeze-ui, packages
