Repository motech-development/platform, pull requests merged in 2021-11, with the labels that each got.

#241 fix(accounts): add id to exported file names
  applications/accounts/client/cypress/integration/non-vat-registered.spec.ts
  applications/accounts/client/cypress/integration/vat-registered.spec.ts
  applications/accounts/client/src/components/TransactionsList.tsx
  applications/accounts/client/src/pages/MyCompanies/Accounts/PendingTransactions.tsx
  applications/accounts/client/src/pages/MyCompanies/Accounts/__tests__/ViewTransaction.tsx
  applications/accounts/reports/src/handlers/__tests__/transform-transactions.test.ts
  applications/accounts/reports/src/handlers/transform-transactions.ts
Labels: applications, accounts

#242 chore: dependabot updates
  .husky/.gitignore
  applications/accounts/api/webpack.config.js
  package.json
  yarn.lock
Labels: applications, accounts

#266 chore: renovate config
  .github/dependabot.yml
  .github/semantic.yml
  .github/workflows/deploy-to-environment.yml
  .github/workflows/deploy-to-production.yml
  .github/workflows/production-scheduled-tests.yml
  .gitignore
  applications/accounts/api/serverless.yml
  applications/accounts/client/serverless.yml
  applications/accounts/data/serverless.yml
  applications/accounts/infrastructure/serverless.yml
  applications/accounts/notifications/serverless.yml
  applications/accounts/queue/serverless.yml
  applications/accounts/reports/serverless.yml
  applications/accounts/storage/serverless.yml
  applications/accounts/warm-up/serverless.yml
  applications/core/anti-virus/serverless.yml
  applications/core/comms/serverless.yml
  applications/core/infrastructure/serverless.yml
  applications/cypress/api/serverless.yml
  applications/cypress/storage/serverless.yml
  applications/id/client/serverless.yml
  applications/id/infrastructure/serverless.yml
  applications/open-banking/api/serverless.yml
  package.json
  renovate.json
  yarn.lock
Labels: applications, accounts, core, id, open-banking, cypress

#337 chore: group updates
  .github/workflows/deploy-to-develop.yml
  .github/workflows/deploy-to-environment.yml
  .github/workflows/deploy-to-production.yml
  .github/workflows/production-scheduled-tests.yml
  .github/workflows/teardown-environment.yml
  applications/accounts/client/package.json
  applications/id/client/package.json
  package.json
  packages/appsync-apollo/package.json
  packages/breeze-ui/package.json
  renovate.json
  yarn.lock
Labels: packages, breeze-ui, applications, accounts, id, appsync-apollo

#355 chore(deps): update dependency auth0-deploy-cli to v7
  .github/workflows/deploy-to-environment.yml
  applications/id/tenant/package.json
  applications/id/tenant/tenant.yaml
  renovate.json
  yarn.lock
Labels: applications, id
