Repository motech-development/platform, pull requests merged in 2021-06, with the labels that each got.

#129 feat: serverless improvements
  .github/workflows/deploy-to-develop.yml
  .github/workflows/deploy-to-environment.yml
  .github/workflows/deploy-to-production.yml
  .github/workflows/teardown-environment.yml
  .nvmrc
  applications/accounts/api/serverless.yml
  applications/accounts/client/serverless.yml
  applications/accounts/data/serverless.yml
  applications/accounts/infrastructure/serverless.yml
  applications/accounts/notifications/serverless.yml
  applications/accounts/queue/serverless.yml
  applications/accounts/reports/serverless.yml
  applications/accounts/storage/serverless.yml
  applications/accounts/warm-up/serverless.yml
  applications/core/anti-virus/serverless.yml
  applications/core/comms/serverless.yml
  applications/core/infrastructure/serverless.yml
  applications/cypress/api/serverless.yml
  applications/cypress/storage/serverless.yml
  applications/id/client/serverless.yml
  applications/id/infrastructure/serverless.yml
  applications/open-banking/api/serverless.yml
  package.json
  yarn.lock
Labels: accounts, applications, core, cypress, id, open-banking

#134 ci: add production E2E tests
  .github/workflows/deploy-to-environment.yml
  .github/workflows/deploy-to-production.yml
  .github/workflows/production-scheduled-tests.yml
  applications/accounts/client/cypress.json
  applications/accounts/client/cypress/integration/non-vat-registered.spec.ts
  applications/accounts/client/cypress/integration/vat-registered.spec.ts
  applications/accounts/client/cypress/support/setup.js
  yarn.lock
Labels: accounts, applications

#135 feat(cypress): cater for pr merge status updates
  applications/cypress/api/src/handlers/__tests__/github-status.test.ts
  applications/cypress/api/src/handlers/github-status.ts
Labels: applications, cypress

#145 chore: minor config changes
  .github/workflows/deploy-to-environment.yml
  .github/workflows/deploy-to-production.yml
  .github/workflows/production-scheduled-tests.yml
  .husky/prepare-commit-msg
  applications/accounts/client/cypress.json
  package.json
  yarn.lock
Labels: accounts, applications

#146 feat: improve clean up
  .github/workflows/teardown-environment.yml
  README.md
  applications/accounts/client/src/pages/MyCompanies/Reports/Reports.tsx
  applications/accounts/client/src/pages/MyCompanies/Reports/__tests__/Reports.tsx
  package.json
  packages/s3-file-operations/__mocks__/aws-sdk.ts
  packages/s3-file-operations/src/__tests__/s3-file-operations.ts
  packages/s3-file-operations/src/s3-file-operations.ts
  yarn.lock
Labels: accounts, applications, packages, s3-file-operations

#152 chore: speed up deployments
  .github/workflows/deploy-to-develop.yml
  .github/workflows/deploy-to-environment.yml
  .github/workflows/deploy-to-production.yml
  applications/accounts/api/package.json
  applications/accounts/api/serverless.yml
  applications/accounts/api/webpack.config.js
  applications/accounts/data/package.json
  applications/accounts/data/serverless.yml
  applications/accounts/data/webpack.config.js
  applications/accounts/infrastructure/package.json
  applications/accounts/notifications/package.json
  applications/accounts/notifications/serverless.yml
  applications/accounts/notifications/webpack.config.js
  applications/accounts/queue/package.json
  applications/accounts/queue/serverless.yml
  applications/accounts/queue/webpack.config.js
  applications/accounts/reports/package.json
  applications/accounts/reports/serverless.yml
  applications/accounts/reports/webpack.config.js
  applications/accounts/storage/package.json
  applications/accounts/storage/serverless.yml
  applications/accounts/storage/webpack.config.js
  applications/accounts/warm-up/package.json
  applications/accounts/warm-up/serverless.yml
  applications/accounts/warm-up/webpack.config.js
  applications/core/anti-virus/package.json
  applications/core/anti-virus/serverless.yml
  applications/core/anti-virus/webpack.config.js
  applications/core/comms/package.json
  applications/core/comms/serverless.yml
  applications/core/comms/webpack.config.js
  applications/core/infrastructure/package.json
  applications/cypress/api/package.json
  applications/cypress/api/serverless.yml
  applications/cypress/api/webpack.config.js
  applications/id/infrastructure/package.json
  applications/open-banking/api/package.json
  applications/open-banking/api/serverless.yml
  applications/open-banking/api/webpack.config.js
  package.json
  yarn.lock
Labels: accounts, applications, core, cypress, id, open-banking

#158 chore: some batched dependabot updates
  .github/dependabot.yml
  .github/workflows/deploy-to-production.yml
  applications/accounts/api/.eslintrc.yml
  applications/accounts/client/.eslintrc.yml
  applications/accounts/client/src/pages/MyCompanies/__tests__/UserNotifications.tsx
  applications/accounts/data/.eslintrc.yml
  applications/accounts/notifications/.eslintrc.yml
  applications/accounts/queue/.eslintrc.yml
  applications/accounts/reports/.eslintrc.yml
  applications/accounts/storage/.eslintrc.yml
  applications/accounts/warm-up/.eslintrc.yml
  applications/core/anti-virus/.eslintrc.yml
  applications/core/comms/.eslintrc.yml
  applications/cypress/api/.eslintrc.yml
  applications/id/client/.eslintrc.yml
  applications/open-banking/api/.eslintrc.yml
  package.json
  packages/api-gateway-handler/.eslintrc.yml
  packages/appsync-apollo/.eslintrc.yml
  packages/auth/.eslintrc.yml
  packages/axios-hooks/.eslintrc.yml
  packages/breeze-ui/.eslintrc.yml
  packages/breeze-ui/src/Form/Form.tsx
  packages/breeze-ui/src/Form/__tests__/Form.tsx
  packages/ga-web-vitals/.eslintrc.yml
  packages/logger/.eslintrc.yml
  packages/query-string-hook/.eslintrc.yml
  packages/s3-file-operations/.eslintrc.yml
  packages/serverless-outputs-env/.eslintrc.yml
  packages/webpack-conditional-plugin/.eslintrc.yml
  packages/webpack-permissions-plugin/.eslintrc.yml
  yarn.lock
Labels: accounts, applications, breeze-ui, packages
