Repository motech-development/platform, pull requests merged in 2021-08, with the labels that each got.

#202 chore(ci): bump up shm size for cypress tests
  .github/workflows/deploy-to-environment.yml
  .github/workflows/production-scheduled-tests.yml
  applications/accounts/client/cypress.json
  applications/accounts/client/package.json
Labels: accounts, applications

#205 chore(deps): bump @apollo/client from 3.3.13 to 3.4.4
  applications/accounts/client/package.json
  applications/accounts/client/src/graphql/transaction/__tests__/DELETE_TRANSACTION.ts
  applications/accounts/client/src/pages/MyCompanies/Accounts/__tests__/Accounts.tsx
  applications/accounts/client/src/pages/MyCompanies/Accounts/__tests__/PendingTransactions.tsx
  applications/accounts/client/src/pages/MyCompanies/Accounts/__tests__/RecordTransaction.tsx
  applications/accounts/client/src/pages/MyCompanies/Accounts/__tests__/ViewTransaction.tsx
  applications/accounts/client/src/pages/MyCompanies/Accounts/shared/__tests__/UploadAttachment.tsx
  applications/accounts/client/src/pages/MyCompanies/Clients/__tests__/AddClient.tsx
  applications/accounts/client/src/pages/MyCompanies/Clients/__tests__/UpdateDetails.tsx
  applications/accounts/client/src/pages/MyCompanies/Reports/__tests__/CreateReport.tsx
  applications/accounts/client/src/pages/MyCompanies/Reports/__tests__/Reports.tsx
  applications/accounts/client/src/pages/MyCompanies/Settings/Bank/__tests__/Bank.tsx
  applications/accounts/client/src/pages/MyCompanies/Settings/Bank/__tests__/Callback.tsx
  applications/accounts/client/src/pages/MyCompanies/Settings/Bank/__tests__/SelectAccount.tsx
  applications/accounts/client/src/pages/MyCompanies/Settings/__tests__/Settings.tsx
  applications/accounts/client/src/pages/MyCompanies/__tests__/AddCompany.tsx
  applications/accounts/client/src/pages/MyCompanies/__tests__/UpdateDetails.tsx
  applications/accounts/client/src/pages/MyCompanies/__tests__/UserNotifications.tsx
  packages/appsync-apollo/package.json
  yarn.lock
Labels: packages, applications, accounts, appsync-apollo

#209 test(accounts): try to fix race conditions
  .github/workflows/deploy-to-production.yml
  .github/workflows/production-scheduled-tests.yml
  applications/accounts/client/src/pages/MyCompanies/Accounts/__tests__/Accounts.tsx
  applications/accounts/client/src/pages/MyCompanies/Accounts/__tests__/PendingTransactions.tsx
  applications/accounts/client/src/pages/MyCompanies/Accounts/__tests__/RecordTransaction.tsx
  applications/accounts/client/src/pages/MyCompanies/Accounts/__tests__/ViewTransaction.tsx
  applications/accounts/client/src/pages/MyCompanies/Clients/__tests__/AddClient.tsx
  applications/accounts/client/src/pages/MyCompanies/Clients/__tests__/UpdateDetails.tsx
  applications/accounts/client/src/pages/MyCompanies/Reports/__tests__/CreateReport.tsx
  applications/accounts/client/src/pages/MyCompanies/Reports/__tests__/Reports.tsx
  applications/accounts/client/src/pages/MyCompanies/__tests__/AddCompany.tsx
  applications/accounts/client/src/pages/MyCompanies/__tests__/UpdateDetails.tsx
  package.json
  scripts/sorry-cypress.sh
  yarn.lock
Labels: applications, accounts

#215 refactor: fix code smells
  applications/accounts/api/src/handlers/get-balance.ts
  applications/accounts/client/src/graphql/transaction/ADD_TRANSACTION.ts
  applications/accounts/client/src/graphql/transaction/UPDATE_TRANSACTION.ts
  applications/accounts/client/src/graphql/transaction/utils.ts
  applications/accounts/client/src/pages/MyCompanies/Accounts/ViewTransaction.tsx
  applications/accounts/client/src/setupTests.ts
  applications/accounts/data/src/handlers/insert-scheduled-transactions.ts
  applications/accounts/data/src/handlers/insert-transactions.ts
  applications/accounts/data/src/handlers/insert-typeahead.ts
  applications/accounts/data/src/handlers/remove-scheduled-transactions.ts
  applications/accounts/data/src/handlers/remove-transactions.ts
  applications/accounts/data/src/handlers/update-scheduled-transactions.ts
  applications/accounts/data/src/handlers/update-transactions.ts
  applications/core/anti-virus/__mocks__/@motech-development/logger.ts
  applications/core/anti-virus/__mocks__/child_process.ts
  applications/core/anti-virus/package.json
  applications/core/anti-virus/src/handlers/update-definitions.ts
  applications/core/anti-virus/src/shared/__tests__/clam-av.ts
  applications/core/anti-virus/src/shared/clam-av.ts
  packages/axios-hooks/src/axios-hooks.ts
  packages/axios-hooks/src/types.ts
  packages/breeze-ui/src/Modal/Modal.tsx
  packages/breeze-ui/src/Typeahead/Typeahead.tsx
Labels: packages, breeze-ui, applications, accounts, core, axios-hooks

#221 chore: dependabot updates
  .gitignore
  applications/accounts/api/package.json
  applications/accounts/client/package.json
  applications/accounts/client/src/components/ExportForm.tsx
  applications/accounts/client/src/setupTests.ts
  applications/accounts/data/package.json
  applications/accounts/notifications/package.json
  applications/accounts/reports/package.json
  applications/accounts/warm-up/package.json
  applications/cypress/api/package.json
  applications/id/client/package.json
  package.json
  packages/breeze-ui/package.json
  yarn.lock
Labels: packages, breeze-ui, applications, accounts, id, cypress
